<div class="bff-grid bff-wrap" id="table__content--icon-grid"></div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;span class="bff-icon--home">&lt;/span></code></pre>
<h2 class="bff-text-heading--default">Usage</h2>
<table class="bff-table bff-table--compact bff-table--bordered bff-table--cell-buffer bff-table--striped bff-size--1-of-1" id="table--icons-documentation"></table>
