<div class="navigation__container" style="z-index:1">
	<nav class="navigation">
		<ul>
			<li class="bff-text-heading--default"><a href="#utilities">Utilities</a></li>
				<ul class="sub-navigation">
					<li><a href="#grid-anchor">Grid</a></li>
					<li><a href="#spacing-anchor">Spacing</a></li>
					<li><a href="#type-anchor">Type</a></li>
					<li><a href="#visibility-anchor">Visibility</a></li>
					<li><a href="#responsive-anchor">Responsive</a></li>
				</ul>
			<li class="bff-text-heading--default"><a href="#atoms">Atoms</a></li>
				<ul class="sub-navigation">
					<li><a href="#buttons-anchor">Buttons</a></li>
					<li><a href="#square-buttons-anchor">Square Buttons</a></li>
					<li><a href="#checkbox-anchor">Checkboxes</a></li>
					<li><a href="#dropdowns-anchor">Dropdowns</a></li>
					<li><a href="#text-inputs-anchor">Text Inputs</a></li>
					<li><a href="#labels-anchor">Labels</a></li>
					<li><a href="#loader-anchor">Loader</a></li>
					<li><a href="#radio-anchor">Radio</a></li>
					<li><a href="#toggle-anchor">Toggle</a></li>
					<li><a href="#tool-tip-anchor">Tool Tip</a></li>
				</ul>
			<li class="bff-text-heading--default"><a href="#molecules">Molecules</a></li>
				<ul class="sub-navigation">
					<li><a href="#button-group-anchor">Button Group</a></li>
					<li><a href="#forms-anchor">Forms</a></li>
					<li><a href="#notifications-anchor">Notifications</a></li>
					<li><a href="#step-wizard-anchor">Step Wizard</a></li>
				</ul>
			<li class="bff-text-heading--default"><a href="#organisms">Organisms</a></li>
				<ul class="sub-navigation">
					<li><a href="#tables-anchor">Tables</a></li>
					<li><a href="#modal-anchor">Modal</a></li>
				</ul>
			<li class="bff-text-heading--default"><a href="#colors">Colors</a></li>
			<li class="bff-text-heading--default"><a href="#icons">Icons</a></li>
			<li class="bff-text-heading--default"><a href="#bff-variables">SASS Variables</a></li>
		</ul>
	</nav>
</div>