<div class="bff-grid bff-grid--vertical page-container">
	<main class="main bff-col bff-grid bff-grid--vertical">
		<div class="bff-col bff-background-color--frederick-green bff-text-color--white">
			<div>Frederick</div>
			<div> <img src="http://via.placeholder.com/150x150"></div>
		</div>
		<div class="bff-col">
			This is a guide to the fundamentals of what makes Frederick Tick.
		</div>
		<div class="bff-col">
			What but why
		</div>
		<div class="bff-col bff-background-color--frederick-green bff-text-color--white">
			<div>working <span class="bff-pacifico">together</span> with local businesses and applying Frederick's intelligence to drive <span class="bff-pacifico">success and happiness.</span></div>
		</div>
		<div class="bff-col">
			Make Frederick the most awesome <span class="bff-pacifico">customer first</span> marketing solution for <span class="bff-pacifico">Everybody!</span>
		</div>
		<div class="bff-col">
			"<span class="bff-pacifico">Fingerprints.</span> Nobody's are the same, but you leave 'em all over <span class="bff-pacifico">everything</span> you do." - Elvis Preseley Here are our fingerprints ...
		</div>
		<div class="bff-background-color--lavender bff-text-color--white">
			<span class="bff-pacifico">The Golden Rule</span> Treat others the way you want to be treated. That's just solid advice for life.
		</div>
		<div class="bff-background-color--booker-blue bff-text-color--white">
			<span class="bff-pacifico">The Golden Rule</span> Treat others the way you want to be treated. That's just solid advice for life.
		</div>
		<div class="bff-background-color--sunflower bff-text-color--white">
			<span class="bff-pacifico">The Golden Rule</span> Treat others the way you want to be treated. That's just solid advice for life.
		</div>
		<div class="bff-background-color--grapefruit bff-text-color--white">
			<span class="bff-pacifico">The Golden Rule</span> Treat others the way you want to be treated. That's just solid advice for life.
		</div>
		<div class="bff-col">
			Frederick runs a lot of automations, like ... a lot.
		</div>
		<div class="bff-col">
			There's a couple rules when talking in Frederick's voice.
		</div>
		<div class="bff-col">
			Sit down, let's chat about the logo.
		</div>
		<div class="bff-col bff-background-color--frederick-green bff-text-color--white">
			Say hello to Frederick! The epitome of fashion.
			<div> <img src="http://via.placeholder.com/150x150"></div>
		</div>
		<div class="bff-col">
			Frederick is constructed with basic geometric shapes and lines for the arms. Keeping him clean and easy to dress up.
		</div>
		<div class="bff-col bff-background-color--lightest-blue">
			Understandably Frederick has a ton of friends.
		</div>
	</main>
	<!-- Navigation -->
</div>