//
// Modal
//


.#{$css-prefix}modal {
  opacity: 0;
  visibility: hidden;
  transition: transform $duration-quickly linear,
                opacity $duration-quickly linear;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9001;

  &__container {
    position: relative;
    transform: translate(0, 0);
    transition: transform $duration-quickly linear,
                  opacity $duration-quickly linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 $spacing--x-large;
    height: 100%;
    padding: $square-icon--large-boundary 0;
    border-radius: $border-radius;

    @include media-query--medium-min {
      margin: 0 auto;
      width: 50%;
      max-width: 40rem;
      min-width: 20rem;
    }
  }

  &__header,
  &__content {
    background: $white;
  }

  &__header,
  &__footer {
    flex-shrink: 0;
  }

  &__header {
    position: relative;
    border: {
      top: {
        right-radius: $border-radius;
        left-radius: $border-radius;
      }
    }
    padding: $spacing--medium;
    text-align: left;

    + .#{$css-prefix}modal__menu {
      border-top: {
        left-radius: 0;
        right-radius: 0;
      }
    }
  }

  &__content {
    overflow: hidden {
      y: auto;
    }
  }


  &__footer {
    border: {
      bottom: {
        right-radius: $border-radius;
        left-radius: $border-radius;
      }
    }
    padding: $spacing--large $spacing--medium;
    background-color: $white;
    text-align: center;

    &--directional .#{$css-prefix}button:first-child {
      float: left;
    }

    .#{$css-prefix}button + .#{$css-prefix}button {
      margin-left: $spacing--x-small;
    }
  }

  &__close {
    fill:currentColor;
    color:$gray-dark;
    background:transparent;
    border:none;
    padding: $spacing--xx-small;
    position:absolute;
    top:.5rem;
    right:.5rem;
  }
}

@mixin backdrop {
  transition-duration: $duration-slowly;
  @include square(100%);
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $modal-background-color;
  z-index: 9000;

  &--open {
    visibility: visible;
    opacity: 1;
    transition: opacity $duration-slowly linear;
  }
}

.#{$css-prefix}modal--large .#{$css-prefix}modal__container {

  @include media-query--medium-min {
    width: 90%;
    max-width: none;
    min-width: 40rem;
  }
}


.#{$css-prefix}backdrop {
  @include backdrop;
}



.#{$css-prefix}fade-in-open {
  opacity: 1;
  visibility: visible;
  transition: opacity $duration-quickly linear;

  .#{$css-prefix}modal__container-reset {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }
}

.#{$css-prefix}slide-up-open {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
  transition: opacity $duration-quickly linear,
              transform $duration-promptly linear;

  .#{$css-prefix}modal__container-reset {
    opacity: 0;
    visibility: hidden;
    transform: translate(0, $spacing--medium);
    transition: opacity $duration-promptly linear,
                transform $duration-promptly linear;
  }
}

.#{$css-prefix}slide-up{
  opacity: 1;
  visibility: visible;
  transform: translate(0, -$spacing--medium);
}


.#{$css-prefix}slide-down{
  opacity: 1;
  visibility: visible;
  transform: translate(0, $spacing--medium);
}