<h1 class="bff-text-heading--x-large bff-p-top--x-large" id="modal-anchor">Modal</h1>

<h2 class="bff-text-heading--default">Modal</h2>
<div class="example-container">
	<div>Examples Coming Soon</div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;div class="bff-modal bff-fade-in-open">
  &lt;div class="bff-modal__container">
    &lt;div class="bff-modal__header">
      &lt;button class="bff-button bff-modal__close">
      	&lt;span class="bff-icon--cross  bff-icon--large">&lt;/span>
      &lt;/button>
      &lt;h2 class="bff-text-body--medium bff-truncate">Modal Header&lt;/h2>
    &lt;/div>
    &lt;div class="bff-modal__content bff-p-horizontal--medium">
      &lt;div>
        &lt;p class="bff-m-around--none">Sample Text&lt;/p>
      &lt;/div>
    &lt;/div>
    &lt;div class="bff-modal__footer">
      &lt;button class="bff-button bff-button--frederick-outline bff-button-min-size--medium">Cancel&lt;/button>
      &lt;button class="bff-button bff-button--frederick bff-button-min-size--medium">Okay&lt;/button>
    &lt;/div>
  &lt;/div>
&lt;/div>
&lt;div class="bff-backdrop bff-backdrop--open">&lt;/div>
</code></pre>

<h2 class="bff-text-heading--default">Usage</h2>
<table class="bff-table bff-table--compact bff-table--bordered bff-table--cell-buffer bff-table--striped bff-size--1-of-1" id="table--modal-documentation"></table>
