<h1 class="bff-text-heading--x-large bff-p-top--x-large" id="tables-anchor">Tables</h1>

<h2 class="bff-text-heading--default">Table - Default</h2>
<div class="example-container">
	<table class="bff-table bff-size--1-of-1">
    <thead>
      <tr class="bff-text-heading--label">
        <th>
          <span class="bff-truncate">#</span>
        </th>
        <th>
          <div class="bff-truncate">First Name</div>
        </th>
        <th>
          <div class="bff-truncate">Last Name</div>
        </th>
        <th>
          <div class="bff-truncate">Email</div>
        </th>
        <th>
        	
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="bff-truncate">1</div>
        </td>
        <td>
          <div class="bff-truncate">Emelia</div>
        </td>
        <td>
          <div class="bff-truncate">Rempel</div>
        </td>
        <td>
          <div class="bff-truncate"><a href="#">emelia.rempel@example.com</a></div>
        </td>
        <td>
        	<div><button type="button" class="bff-button bff-button--small">Small</button></div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="bff-truncate">2</div>
        </td>
        <td>
          <div class="bff-truncate">Matt</div>
        </td>
        <td>
          <div class="bff-truncate">Koepp</div>
        </td>
        <td>
          <div class="bff-truncate"><a href="#">mkoepp41@example.com</a></div>
        </td>
        <td>
        	<div><button type="button" class="bff-button bff-button--small">Small</button></div>
        </td>
      </tr>
       <tr>
        <td>
          <div class="bff-truncate">3</div>
        </td>
        <td>
          <div class="bff-truncate">Donny</div>
        </td>
        <td>
          <div class="bff-truncate">Gerhold</div>
        </td>
        <td>
          <div class="bff-truncate"><a href="#">donny_gerhold72@example.com</a></div>
        </td>
        <td>
        	<div><button type="button" class="bff-button bff-button--small">Small</button></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;table class="bff-table bff-size--1-of-1">
  &lt;thead>
    &lt;tr class="bff-text-heading--label">
      &lt;th>
        &lt;span class="bff-truncate">#&lt;/span>
      &lt;/th>
      &lt;th>
        &lt;div class="bff-truncate">First Name&lt;/div>
      &lt;/th>
      &lt;th>
        &lt;div class="bff-truncate">Last Name&lt;/div>
      &lt;/th>
      &lt;th>
        &lt;div class="bff-truncate">Email&lt;/div>
      &lt;/th>
      &lt;th>
      &lt;/th>
    &lt;/tr>
  &lt;/thead>
  &lt;tbody>
    &lt;tr>
      &lt;td>
        &lt;div class="bff-truncate">1&lt;/div>
      &lt;/td>
      &lt;td>
        &lt;div class="bff-truncate">Emelia&lt;/div>
      &lt;/td>
      &lt;td>
        &lt;div class="bff-truncate">Rempel&lt;/div>
      &lt;/td>
      &lt;td>
        &lt;div class="bff-truncate">&lt;a href="#">emelia.rempel@example.com&lt;/a>&lt;/div>
      &lt;/td>
      &lt;td>
      	&lt;button type="button" class="bff-button bff-button--small">Small&lt;/button>
      &lt;/td>
    &lt;/tr>
    &lt;tr>
      &lt;td>
        &lt;div class="bff-truncate">2&lt;/div>
      &lt;/td>
      &lt;td>
        &lt;div class="bff-truncate">Matt&lt;/div>
      &lt;/td>
      &lt;td>
        &lt;div class="bff-truncate">Koepp&lt;/div>
      &lt;/td>
      &lt;td>
        &lt;div class="bff-truncate">&lt;a href="#">mkoepp41@example.com&lt;/a>&lt;/div>
      &lt;/td>
      &lt;td>
      	&lt;button type="button" class="bff-button bff-button--small">Small&lt;/button>
      &lt;/td>
    &lt;/tr>
     &lt;tr>
      &lt;td>
        &lt;div class="bff-truncate">3&lt;/div>
      &lt;/td>
      &lt;td>
        &lt;div class="bff-truncate">Donny&lt;/div>
      &lt;/td>
      &lt;td>
        &lt;div class="bff-truncate">Gerhold&lt;/div>
      &lt;/td>
      &lt;td>
        &lt;div class="bff-truncate">&lt;a href="#">donny_gerhold72@example.com&lt;/a>&lt;/div>
      &lt;/td>
      &lt;td>
      	&lt;button type="button" class="bff-button bff-button--small">Small&lt;/button>
      &lt;/td>
    &lt;/tr>
  &lt;/tbody>
&lt;/table>
</code></pre>

<h2 class="bff-text-heading--default">Table - Complete</h2>
<div class="example-container">
	<table class="bff-table bff-table--bordered bff-table--cell-buffer bff-table--striped bff-table--compact bff-size--1-of-1">
    <thead>
      <tr class="bff-text-heading--label">
        <th>
          <span class="bff-truncate">#</span>
        </th>
        <th>
          <div class="bff-truncate">First Name</div>
        </th>
        <th>
          <div class="bff-truncate">Last Name</div>
        </th>
        <th>
          <div class="bff-truncate">Email</div>
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="bff-truncate">1</div>
        </td>
        <td>
          <div class="bff-truncate">Emelia</div>
        </td>
        <td>
          <div class="bff-truncate">Rempel</div>
        </td>
        <td>
          <div class="bff-truncate"><a href="#">emelia.rempel@example.com</a></div>
        </td>
        <td>
        	<button type="button" class="bff-button bff-button--small">Small</button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="bff-truncate">2</div>
        </td>
        <td>
          <div class="bff-truncate">Matt</div>
        </td>
        <td>
          <div class="bff-truncate">Koepp</div>
        </td>
        <td>
          <div class="bff-truncate"><a href="#">mkoepp41@example.com</a></div>
        </td>
        <td>
        	<button type="button" class="bff-button bff-button--small">Small</button>
        </td>
      </tr>
       <tr class="bff-is-selected">
        <td>
          <div class="bff-truncate">3</div>
        </td>
        <td>
          <div class="bff-truncate">Donny</div>
        </td>
        <td>
          <div class="bff-truncate">Gerhold</div>
        </td>
        <td>
          <div class="bff-truncate"><a href="#">donny_gerhold72@example.com</a></div>
        </td>
        <td>
        	<button type="button" class="bff-button bff-button--small">Small</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;table class="bff-table bff-table--bordered bff-table--cell-buffer bff-table--striped bff-table--compact bff-size--1-of-1">
  &lt;thead>
    &lt;tr class="bff-text-heading--label">
      &lt;th>
        &lt;span class="bff-truncate">#&lt;/span>
      &lt;/th>
      &lt;th>
        &lt;div class="bff-truncate">First Name&lt;/div>
      &lt;/th>
      &lt;th>
        &lt;div class="bff-truncate">Last Name&lt;/div>
      &lt;/th>
      &lt;th>
        &lt;div class="bff-truncate">Email&lt;/div>
      &lt;/th>
      &lt;th>
      &lt;/th>
    &lt;/tr>
  &lt;/thead>
  &lt;tbody>
    &lt;tr>
      &lt;td>
        &lt;div class="bff-truncate">1&lt;/div>
      &lt;/td>
      &lt;td>
        &lt;div class="bff-truncate">Emelia&lt;/div>
      &lt;/td>
      &lt;td>
        &lt;div class="bff-truncate">Rempel&lt;/div>
      &lt;/td>
      &lt;td>
        &lt;div class="bff-truncate">&lt;a href="#">emelia.rempel@example.com&lt;/a>&lt;/div>
      &lt;/td>
      &lt;td>
      	&lt;button type="button" class="bff-button bff-button--small">Small&lt;/button>
      &lt;/td>
    &lt;/tr>
    &lt;tr>
      &lt;td>
        &lt;div class="bff-truncate">2&lt;/div>
      &lt;/td>
      &lt;td>
        &lt;div class="bff-truncate">Matt&lt;/div>
      &lt;/td>
      &lt;td>
        &lt;div class="bff-truncate">Koepp&lt;/div>
      &lt;/td>
      &lt;td>
        &lt;div class="bff-truncate">&lt;a href="#">mkoepp41@example.com&lt;/a>&lt;/div>
      &lt;/td>
      &lt;td>
      	&lt;button type="button" class="bff-button bff-button--small">Small&lt;/button>
      &lt;/td>
    &lt;/tr>
     &lt;tr class="bff-is-selected">
      &lt;td>
        &lt;div class="bff-truncate">3&lt;/div>
      &lt;/td>
      &lt;td>
        &lt;div class="bff-truncate">Donny&lt;/div>
      &lt;/td>
      &lt;td>
        &lt;div class="bff-truncate">Gerhold&lt;/div>
      &lt;/td>
      &lt;td>
        &lt;div class="bff-truncate">&lt;a href="#">donny_gerhold72@example.com&lt;/a>&lt;/div>
      &lt;/td>
      &lt;td>
      	&lt;button type="button" class="bff-button bff-button--small">Small&lt;/button>
      &lt;/td>
    &lt;/tr>
  &lt;/tbody>
&lt;/table>
</code></pre>


<h2 class="bff-text-heading--default">Usage</h2>
<table class="bff-table bff-table--compact bff-table--bordered bff-table--cell-buffer bff-table--striped bff-size--1-of-1" id="table--tables-documentation"></table>
