//
// Buttons
//

.#{$css-prefix}button{
  display:inline-flex; 
  justify-content: center;
  font-weight: $btn-font-weight;
  white-space: nowrap;
  vertical-align: middle;
  align-items:center;
  cursor: pointer;
  user-select: none;
  border: $input-border--width solid transparent;
  background-color: $white;
  border-color: $gray-light;
  color: $gray-darkest;
  @include button-size( $btn-padding-x, $font-size--base, $btn-line-height, $btn-border-radius);
 
  &:hover{
    background-color: $gray-lightest;
  };
}

.#{$css-prefix}button--disabled{
  background-color: $gray-light;
  border-color: $gray-light;
  color: $gray-lightest;
  &:hover{
    background-color: $gray-light;
    border-color: $gray-light;
    color: $gray-lightest;
    cursor:not-allowed;
  }
}

//
// Button Sizes
//

.#{$css-prefix}button--small {
  // line-height: ensure proper height of button next to small input
  @include button-size($btn-padding-x--small, $font-size--small, $btn-line-height--small, $btn-border-radius);
}
.#{$css-prefix}button--large {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($btn-padding-x--large, $font-size--large, $btn-line-height--large, $btn-border-radius);
}
.#{$css-prefix}button--x-large {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size( $btn-padding-x--x-large, $font-size--x-large, $btn-line-height--x-large, $btn-border-radius);
}

//
// Button Minimum Size
//

.#{$css-prefix}button-min-size--small{
  min-width:$size--xxx-small;
}
.#{$css-prefix}button-min-size--medium{
  min-width:$size--xx-small;
}
.#{$css-prefix}button-min-size--large{
  min-width:$size--x-small;
}


//
// Block button
//

.#{$css-prefix}button__block {
  display: block;
  width: 100%;
}

//
// Button Icons
//

.#{$css-prefix}button__icon--left{
   padding-right:$spacing--x-small;
}
.#{$css-prefix}button__icon--right{
  padding-left:$spacing--x-small;
}

//
// Button variants
//

.#{$css-prefix}button--booker{ @include button-variant--solid($booker--color-blue, $white, $booker--color-blue-light) }
.#{$css-prefix}button--booker-outline{ @include button-variant--outline(transparent, $booker--color-blue, $booker--color-blue-light ) }
.#{$css-prefix}button--frederick{ @include button-variant--solid($frederick--color-green, $white, $frederick--color-green-light) }
.#{$css-prefix}button--frederick-outline{ @include button-variant--outline(transparent, $frederick--color-green, $frederick--color-green-light ) }
.#{$css-prefix}button--success{ @include button-variant--solid($success--color, $white, $success--color-light) }
.#{$css-prefix}button--success-outline{ @include button-variant--outline(transparent, $success--color, $success--color-light ) }
.#{$css-prefix}button--danger{ @include button-variant--solid($danger--color, $white, $danger--color-light) }
.#{$css-prefix}button--danger-outline{ @include button-variant--outline(transparent, $danger--color, $danger--color-light ) }
.#{$css-prefix}button--warning{ @include button-variant--solid($warning--color, $white, $warning--color-light) }
.#{$css-prefix}button--warning-outline{ @include button-variant--outline(transparent, $warning--color, $warning--color-light ) }
.#{$css-prefix}button--info{ @include button-variant--solid($info--color, $white, $info--color-light) }
.#{$css-prefix}button--info-outline{ @include button-variant--outline(transparent, $info--color, $info--color-light ) }

.#{$css-prefix}button--white-outline{
  background-color: transparent;
  border:$border-width solid $white;
  color: $white;
  &:hover{
    background-color: $white;
    border-color: $white;
    color: $gray-darkest;
  };
}
