

.#{$css-prefix}form--horizontal {

  @include media-query--medium-min {
    text-align: right;
  }

  .#{$css-prefix}form-element {

    > .#{$css-prefix}form-element__legend,
    > .#{$css-prefix}form-element__label {

      @include media-query--medium-min {
        float: left;
        text-align: right;
        display: inline-block;
        width: 33%;
        vertical-align: top;
        position: relative;
        top: (($btn-line-height / 2) - ($line-height / 2));
        margin: {
          right: 0;
          bottom: 0;
        }
      }
    }

    + .#{$css-prefix}form-element {
      @include form-element-vertical-spacing;
    }
  }

  .#{$css-prefix}form-element__control {
    width: 100%;

    @include media-query--medium-min {
      width: 66%;
      display: inline-block;
      text-align: left;
    }
  }
}
