<div class="bff-form__2 form__content bff-hide">
	<div class="bff-text-align--center bff-p-vertical--large" style="width:75%; margin:auto;">
		<span class="bff-text-heading--small">Step 1 of 3</span>
		<h1 class="bff-text-heading--x-large">Your Business Address</h1>
		<span>Search for your business location below.</span><br/>
		<span>Have multiple locations? Each location has it's own profile.</span>
	</div>
	<fieldset class="bff-form bff-form--compound" style="width:75%; margin:auto;">
	  <div class="bff-form-element__row">
	    <div class="bff-form-element bff-size--1-of-1">
	      <label class="bff-form-element__label"><abbr class="bff-required">*</abbr> Adress Line 1</label>
	      <input class="bff-input" type="text" />
	    </div>
	  </div>
	  <div class="bff-form-element__row">
	    <div class="bff-form-element bff-size--1-of-1">
	      <label class="bff-form-element__label">Address Line 2</label>
	      <input class="bff-input" type="text" />
	    </div>
	  </div>
	  <div class="bff-form-element__row">
	    <div class="bff-form-element bff-size--1-of-1">
	      <label class="bff-form-element__label"><abbr class="bff-required">*</abbr> City</label>
	      <input class="bff-input" type="text" />
	    </div>
	  </div>
	  <div class="bff-form-element__row">
	    <div class="bff-form-element bff-size--1-of-2">
	      <label class="bff-form-element__label" ><abbr class="bff-required">*</abbr> State, Province or Country</label>
	      <input class="bff-input" type="text" />
	    </div>
	    <div class="bff-form-element bff-size--1-of-2">
	      <label class="bff-form-element__label"><abbr class="bff-required">*</abbr> Zip/Postal Code</label>
	      <input class="bff-input" type="text" />
	    </div>
	  </div>
	  <div class="bff-form-element__row">
	    <div class="bff-form-element bff-size--1-of-1">
	      <label class="bff-form-element__label"><abbr class="bff-required">*</abbr> Country</label>
	      <select style="width:100%; height: calc(2.0625rem + (1px * 2))">
	      	<option>United States</option>
	      	<option>Canada</option>
	      	<option>Mexico</option>
	      </select>
	    </div>
	  </div>
	  <div class="bff-form-element bff-text-align--center bff-p-top--large">
	    <button type="button" class="bff-button bff-button--large bff-button--frederick button__next-step" data-form-position="2"  style="margin:auto;">Next: Business Profile <span class="bff-icon--arrow-right bff-m-left--xx-small"></span></button>
	  </div>
	</fieldset>
</div>