<div class="bff-form__4 form__content bff-hide">
	<div class="bff-text-align--center bff-p-vertical--large" style="width:75%; margin:auto;">
		<span class="bff-text-heading--small">Step 3 of 3</span>
		<h1 class="bff-text-heading--x-large">Connect Your Data</h1>
		<span>Frederick works with your data to help you grow your business.</span>
		<a href="#"><span class="bff-icon--lock"></span> Your security and privacy is our top priority!</a>
	</div>
	<fieldset class="bff-form bff-form--compound" style="width:75%; margin:auto;">
		<label class="bff-form-element__label">Popular places your data might live</label>
	  <div class="bff-form-element__row">
	    <div class="bff-form-element bff-size--1-of-3">
	      <button type="button" class="bff-button" style="width:100%">Booker</button>
	    </div>
	    <div class="bff-form-element bff-size--1-of-3">
	      <button type="button" class="bff-button" style="width:100%">Mindbody</button>
	    </div>
	    <div class="bff-form-element bff-size--1-of-3">
	      <button type="button" class="bff-button" style="width:100%">Vagaro</button>
	    </div>
	  </div>
	  <div class="bff-form-element__row">
	    <div class="bff-form-element bff-size--1-of-3">
	      <button type="button" class="bff-button" style="width:100%">Google</button>
	    </div>
	    <div class="bff-form-element bff-size--1-of-3">
	      <button type="button" class="bff-button" style="width:100%">Quickbooks</button>
	    </div>
	    <div class="bff-form-element bff-size--1-of-3">
	      <button type="button" class="bff-button" style="width:100%">StyleSeat</button>
	    </div>
	  </div>
	  <div class="bff-form-element__row">
	    <div class="bff-form-element">
			  <label class="bff-form-element__label">Other places your data might live</label>
			  <div class="bff-form-element__control bff-input-has-icon bff-input-has-icon--right">
			    <input class="bff-input" placeholder="Search for your systems" />
			    <span class="bff-input__icon bff-input__icon--right bff-icon--magnifier bff-icon--small"></span>
			  </div>
			</div>
	  </div>
	  <div class="bff-form-element bff-text-align--center bff-p-top--large">
	    <button type="button" class="bff-button bff-button--large bff-button--frederick bff-button-min-size--large button__lets-go" style="margin:auto;">Let's Go!</button>
	  </div>
	</fieldset>
</div>