<div class="bff-form__1 form__content bff-hide">
	<div class="bff-text-align--center bff-p-vertical--large" style="width:75%; margin:auto;">
		<h1 class="bff-text-heading--x-large">Let's Get Started!</h1>
		<span>Tell us a little bit about your business so Frederick can personalize your experience.</span>
	</div>
	<fieldset class="bff-form bff-form--compound" style="width:75%; margin:auto;">
		<div class="bff-form-element__row">
	    <div class="bff-form-element bff-size--1-of-2">
	      <label class="bff-form-element__label" ><abbr class="bff-required">*</abbr> First Name</label>
	      <input class="bff-input" type="text" placeholder="First Name" />
	    </div>
	    <div class="bff-form-element bff-size--1-of-2">
	      <label class="bff-form-element__label"><abbr class="bff-required">*</abbr> Last Name</label>
	      <input class="bff-input" type="text" placeholder="Last Name" />
	    </div>
	  </div>
	  <div class="bff-form-element__row">
	    <div class="bff-form-element bff-size--1-of-1">
	      <label class="bff-form-element__label"><abbr class="bff-required">*</abbr> Email</label>
	      <input class="bff-input" type="text" placeholder="example@hirefrederick.com" />
	    </div>
	  </div>
	  <div class="bff-form-element__row">
	    <div class="bff-form-element bff-size--1-of-1">
	      <label class="bff-form-element__label"><abbr class="bff-required">*</abbr> Phone Number</label>
	      <input class="bff-input" type="text" placeholder="(111)222-3333" />
	    </div>
	  </div>
	  <div class="bff-form-element__row">
	    <div class="bff-form-element bff-size--1-of-1">
	      <label class="bff-form-element__label"><abbr class="bff-required">*</abbr> Business Name</label>
	      <input class="bff-input" type="text" placeholder="Business Name" />
	    </div>
	  </div>
	  <div class="bff-form-element__row">
	    <div class="bff-form-element bff-size--1-of-1">
	      <label class="bff-form-element__label"><abbr class="bff-required">*</abbr> Business Type</label>
	      <select style="width:100%; height: calc(2.0625rem + (1px * 2))">
	      	<option>Automotive</option>
	      	<option>Spa</option>
	      	<option>Salon</option>
	      </select>
	    </div>
	  </div>
	  <div class="bff-form-element bff-text-align--center bff-p-top--large">
	    <button type="button" class="bff-button bff-button--large bff-button--frederick button__next-step" data-form-position="1" style="margin:auto;">Next: Business Address <span class="bff-icon--arrow-right bff-m-left--xx-small"></span></button>
	  </div>
	</fieldset>
</div>