<span id="test-anchor" class="bff-test"></span>
<h1 class="bff-text-heading--x-large bff-p-top--x-large" id="spacing-anchor">Spacing</h1>

<h2 class="bff-text-heading--default">Margins</h2>
<div class="example-container example-container--compact">
	<div class="bff-m-top--none example-block--compact">.bff-m-top--none</div>
	<div class="bff-m-top--xxx-small example-block--compact">.bff-m-top--xxx-small</div>
	<div class="bff-m-top--xx-small example-block--compact">.bff-m-top--xx-small</div>
	<div class="bff-m-top--x-small example-block--compact">.bff-m-top--x-small</div>
	<div class="bff-m-top--small example-block--compact">.bff-m-top--small</div>
	<div class="bff-m-top--medium example-block--compact">.bff-m-top--medium</div>
	<div class="bff-m-top--large example-block--compact">.bff-m-top--large</div>
	<div class="bff-m-top--x-large example-block--compact">.bff-m-top--x-large</div>
	<div class="bff-m-top--xx-large example-block--compact">.bff-m-top--xx-large</div>
	<div class="bff-m-right--none example-block--compact">.bff-m-right--none</div>
	<div class="bff-m-right--xxx-small example-block--compact">.bff-m-right--xxx-small</div>
	<div class="bff-m-right--xx-small example-block--compact">.bff-m-right--xx-small</div>
	<div class="bff-m-right--x-small example-block--compact">.bff-m-right--x-small</div>
	<div class="bff-m-right--small example-block--compact">.bff-m-right--small</div>
	<div class="bff-m-right--medium example-block--compact">.bff-m-right--medium</div>
	<div class="bff-m-right--large example-block--compact">.bff-m-right--large</div>
	<div class="bff-m-right--x-large example-block--compact">.bff-m-right--x-large</div>
	<div class="bff-m-right--xx-large example-block--compact">.bff-m-right--xx-large</div>
	<div class="bff-m-bottom--none example-block--compact">.bff-m-bottom--none</div>
	<div class="bff-m-bottom--xxx-small example-block--compact">.bff-m-bottom--xxx-small</div>
	<div class="bff-m-bottom--xx-small example-block--compact">.bff-m-bottom--xx-small</div>
	<div class="bff-m-bottom--x-small example-block--compact">.bff-m-bottom--x-small</div>
	<div class="bff-m-bottom--small example-block--compact">.bff-m-bottom--small</div>
	<div class="bff-m-bottom--medium example-block--compact">.bff-m-bottom--medium</div>
	<div class="bff-m-bottom--large example-block--compact">.bff-m-bottom--large</div>
	<div class="bff-m-bottom--x-large example-block--compact">.bff-m-bottom--x-large</div>
	<div class="bff-m-bottom--xx-large example-block--compact">.bff-m-bottom--xx-large</div>
	<div class="bff-m-left--none example-block--compact">.bff-m-left--none</div>
	<div class="bff-m-left--xxx-small example-block--compact">.bff-m-left--xxx-small</div>
	<div class="bff-m-left--xx-small example-block--compact">.bff-m-left--xx-small</div>
	<div class="bff-m-left--x-small example-block--compact">.bff-m-left--x-small</div>
	<div class="bff-m-left--small example-block--compact">.bff-m-left--small</div>
	<div class="bff-m-left--medium example-block--compact">.bff-m-left--medium</div>
	<div class="bff-m-left--large example-block--compact">.bff-m-left--large</div>
	<div class="bff-m-left--x-large example-block--compact">.bff-m-left--x-large</div>
	<div class="bff-m-left--xx-large example-block--compact">.bff-m-left--xx-large</div>
	<div class="bff-m-horizontal--none example-block--compact">.bff-m-horizontal--none</div>
	<div class="bff-m-horizontal--xxx-small example-block--compact">.bff-m-horizontal--xxx-small</div>
	<div class="bff-m-horizontal--xx-small example-block--compact">.bff-m-horizontal--xx-small</div>
	<div class="bff-m-horizontal--x-small example-block--compact">.bff-m-horizontal--x-small</div>
	<div class="bff-m-horizontal--small example-block--compact">.bff-m-horizontal--small</div>
	<div class="bff-m-horizontal--medium example-block--compact">.bff-m-horizontal--medium</div>
	<div class="bff-m-horizontal--large example-block--compact">.bff-m-horizontal--large</div>
	<div class="bff-m-horizontal--x-large example-block--compact">.bff-m-horizontal--x-large</div>
	<div class="bff-m-horizontal--xx-large example-block--compact">.bff-m-horizontal--xx-large</div>
	<div class="bff-m-vertical--none example-block--compact">.bff-m-vertical--none</div>
	<div class="bff-m-vertical--xxx-small example-block--compact">.bff-m-vertical--xxx-small</div>
	<div class="bff-m-vertical--xx-small example-block--compact">.bff-m-vertical--xx-small</div>
	<div class="bff-m-vertical--x-small example-block--compact">.bff-m-vertical--x-small</div>
	<div class="bff-m-vertical--small example-block--compact">.bff-m-vertical--small</div>
	<div class="bff-m-vertical--medium example-block--compact">.bff-m-vertical--medium</div>
	<div class="bff-m-vertical--large example-block--compact">.bff-m-vertical--large</div>
	<div class="bff-m-vertical--x-large example-block--compact">.bff-m-vertical--x-large</div>
	<div class="bff-m-vertical--xx-large example-block--compact">.bff-m-vertical--xx-large</div>
	<div class="bff-m-around--none example-block--compact">.bff-m-around--none</div>
	<div class="bff-m-around--xxx-small example-block--compact">.bff-m-around--xxx-small</div>
	<div class="bff-m-around--xx-small example-block--compact">.bff-m-around--xx-small</div>
	<div class="bff-m-around--x-small example-block--compact">.bff-m-around--x-small</div>
	<div class="bff-m-around--small example-block--compact">.bff-m-around--small</div>
	<div class="bff-m-around--medium example-block--compact">.bff-m-around--medium</div>
	<div class="bff-m-around--large example-block--compact">.bff-m-around--large</div>
	<div class="bff-m-around--x-large example-block--compact">.bff-m-around--x-large</div>
	<div class="bff-m-around--xx-large example-block--compact">.bff-m-around--xx-large</div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;div class="bff-m-top--none">&lt;/div>
&lt;div class="bff-m-top--xxx-small">&lt;/div>
&lt;div class="bff-m-top--xx-small">&lt;/div>
&lt;div class="bff-m-top--x-small">&lt;/div>
&lt;div class="bff-m-top--small">&lt;/div>
&lt;div class="bff-m-top--medium">&lt;/div>
&lt;div class="bff-m-top--large">&lt;/div>
&lt;div class="bff-m-top--x-large">&lt;/div>
&lt;div class="bff-m-top--xx-large">&lt;/div>
&lt;div class="bff-m-right--none">&lt;/div>
&lt;div class="bff-m-right--xxx-small">&lt;/div>
&lt;div class="bff-m-right--xx-small">&lt;/div>
&lt;div class="bff-m-right--x-small">&lt;/div>
&lt;div class="bff-m-right--small">&lt;/div>
&lt;div class="bff-m-right--medium">&lt;/div>
&lt;div class="bff-m-right--large">&lt;/div>
&lt;div class="bff-m-right--x-large">&lt;/div>
&lt;div class="bff-m-right--xx-large">&lt;/div>
&lt;div class="bff-m-bottom--none">&lt;/div>
&lt;div class="bff-m-bottom--xxx-small">&lt;/div>
&lt;div class="bff-m-bottom--xx-small">&lt;/div>
&lt;div class="bff-m-bottom--x-small">&lt;/div>
&lt;div class="bff-m-bottom--small">&lt;/div>
&lt;div class="bff-m-bottom--medium">&lt;/div>
&lt;div class="bff-m-bottom--large">&lt;/div>
&lt;div class="bff-m-bottom--x-large">&lt;/div>
&lt;div class="bff-m-bottom--xx-large">&lt;/div>
&lt;div class="bff-m-left--none">&lt;/div>
&lt;div class="bff-m-left--xxx-small">&lt;/div>
&lt;div class="bff-m-left--xx-small">&lt;/div>
&lt;div class="bff-m-left--x-small">&lt;/div>
&lt;div class="bff-m-left--small">&lt;/div>
&lt;div class="bff-m-left--medium">&lt;/div>
&lt;div class="bff-m-left--large">&lt;/div>
&lt;div class="bff-m-left--x-large">&lt;/div>
&lt;div class="bff-m-left--xx-large">&lt;/div>
&lt;div class="bff-m-horizontal--none">&lt;/div>
&lt;div class="bff-m-horizontal--xxx-small">&lt;/div>
&lt;div class="bff-m-horizontal--xx-small">&lt;/div>
&lt;div class="bff-m-horizontal--x-small">&lt;/div>
&lt;div class="bff-m-horizontal--small">&lt;/div>
&lt;div class="bff-m-horizontal--medium">&lt;/div>
&lt;div class="bff-m-horizontal--large">&lt;/div>
&lt;div class="bff-m-horizontal--x-large">&lt;/div>
&lt;div class="bff-m-horizontal--xx-large">&lt;/div>
&lt;div class="bff-m-vertical--none">&lt;/div>
&lt;div class="bff-m-vertical--xxx-small">&lt;/div>
&lt;div class="bff-m-vertical--xx-small">&lt;/div>
&lt;div class="bff-m-vertical--x-small">&lt;/div>
&lt;div class="bff-m-vertical--small">&lt;/div>
&lt;div class="bff-m-vertical--medium">&lt;/div>
&lt;div class="bff-m-vertical--large">&lt;/div>
&lt;div class="bff-m-vertical--x-large">&lt;/div>
&lt;div class="bff-m-vertical--xx-large">&lt;/div>
&lt;div class="bff-m-around--none">&lt;/div>
&lt;div class="bff-m-around--xxx-small">&lt;/div>
&lt;div class="bff-m-around--xx-small">&lt;/div>
&lt;div class="bff-m-around--x-small">&lt;/div>
&lt;div class="bff-m-around--small">&lt;/div>
&lt;div class="bff-m-around--medium">&lt;/div>
&lt;div class="bff-m-around--large">&lt;/div>
&lt;div class="bff-m-around--x-large">&lt;/div>
&lt;div class="bff-m-around--xx-large">&lt;/div>
</code></pre>

<h2 class="bff-text-heading--default">Padding</h2>
<div class="example-container example-container--compact">
	<div class="bff-p-top--none"><div class="example-block--compact">.bff-p-top--none</div></div>
	<div class="bff-p-top--xxx-small"><div class="example-block--compact">.bff-p-top--xxx-small</div></div>
	<div class="bff-p-top--xx-small"><div class="example-block--compact">.bff-p-top--xx-small</div></div>
	<div class="bff-p-top--x-small"><div class="example-block--compact">.bff-p-top--x-small</div></div>
	<div class="bff-p-top--small"><div class="example-block--compact">.bff-p-top--small</div></div>
	<div class="bff-p-top--medium"><div class="example-block--compact">.bff-p-top--medium</div></div>
	<div class="bff-p-top--large"><div class="example-block--compact">.bff-p-top--large</div></div>
	<div class="bff-p-top--x-large"><div class="example-block--compact">.bff-p-top--x-large</div></div>
	<div class="bff-p-top--xx-large"><div class="example-block--compact">.bff-p-top--xx-large</div></div>
	<div class="bff-p-right--none"><div class="example-block--compact">.bff-p-right--none</div></div>
	<div class="bff-p-right--xxx-small"><div class="example-block--compact">.bff-p-right--xxx-small</div></div>
	<div class="bff-p-right--xx-small"><div class="example-block--compact">.bff-p-right--xx-small</div></div>
	<div class="bff-p-right--x-small"><div class="example-block--compact">.bff-p-right--x-small</div></div>
	<div class="bff-p-right--small"><div class="example-block--compact">.bff-p-right--small</div></div>
	<div class="bff-p-right--medium"><div class="example-block--compact">.bff-p-right--medium</div></div>
	<div class="bff-p-right--large"><div class="example-block--compact">.bff-p-right--large</div></div>
	<div class="bff-p-right--x-large"><div class="example-block--compact">.bff-p-right--x-large</div></div>
	<div class="bff-p-right--xx-large"><div class="example-block--compact">.bff-p-right--xx-large</div></div>
	<div class="bff-p-bottom--none"><div class="example-block--compact">.bff-p-bottom--none</div></div>
	<div class="bff-p-bottom--xxx-small"><div class="example-block--compact">.bff-p-bottom--xxx-small</div></div>
	<div class="bff-p-bottom--xx-small"><div class="example-block--compact">.bff-p-bottom--xx-small</div></div>
	<div class="bff-p-bottom--x-small"><div class="example-block--compact">.bff-p-bottom--x-small</div></div>
	<div class="bff-p-bottom--small"><div class="example-block--compact">.bff-p-bottom--small</div></div>
	<div class="bff-p-bottom--medium"><div class="example-block--compact">.bff-p-bottom--medium</div></div>
	<div class="bff-p-bottom--large"><div class="example-block--compact">.bff-p-bottom--large</div></div>
	<div class="bff-p-bottom--x-large"><div class="example-block--compact">.bff-p-bottom--x-large</div></div>
	<div class="bff-p-bottom--xx-large"><div class="example-block--compact">.bff-p-bottom--xx-large</div></div>
	<div class="bff-p-left--none"><div class="example-block--compact">.bff-p-left--none</div></div>
	<div class="bff-p-left--xxx-small"><div class="example-block--compact">.bff-p-left--xxx-small</div></div>
	<div class="bff-p-left--xx-small"><div class="example-block--compact">.bff-p-left--xx-small</div></div>
	<div class="bff-p-left--x-small"><div class="example-block--compact">.bff-p-left--x-small</div></div>
	<div class="bff-p-left--small"><div class="example-block--compact">.bff-p-left--small</div></div>
	<div class="bff-p-left--medium"><div class="example-block--compact">.bff-p-left--medium</div></div>
	<div class="bff-p-left--large"><div class="example-block--compact">.bff-p-left--large</div></div>
	<div class="bff-p-left--x-large"><div class="example-block--compact">.bff-p-left--x-large</div></div>
	<div class="bff-p-left--xx-large"><div class="example-block--compact">.bff-p-left--xx-large</div></div>
	<div class="bff-p-horizontal--none"><div class="example-block--compact">.bff-p-horizontal--none</div></div>
	<div class="bff-p-horizontal--xxx-small"><div class="example-block--compact">.bff-p-horizontal--xxx-small</div></div>
	<div class="bff-p-horizontal--xx-small"><div class="example-block--compact">.bff-p-horizontal--xx-small</div></div>
	<div class="bff-p-horizontal--x-small"><div class="example-block--compact">.bff-p-horizontal--x-small</div></div>
	<div class="bff-p-horizontal--small"><div class="example-block--compact">.bff-p-horizontal--small</div></div>
	<div class="bff-p-horizontal--medium"><div class="example-block--compact">.bff-p-horizontal--medium</div></div>
	<div class="bff-p-horizontal--large"><div class="example-block--compact">.bff-p-horizontal--large</div></div>
	<div class="bff-p-horizontal--x-large"><div class="example-block--compact">.bff-p-horizontal--x-large</div></div>
	<div class="bff-p-horizontal--xx-large"><div class="example-block--compact">.bff-p-vertical--xx-large</div></div>
	<div class="bff-p-vertical--none"><div class="example-block--compact">.bff-p-vertical--none</div></div>
	<div class="bff-p-vertical--xxx-small"><div class="example-block--compact">.bff-p-vertical--xxx-small</div></div>
	<div class="bff-p-vertical--xx-small"><div class="example-block--compact">.bff-p-vertical--xx-small</div></div>
	<div class="bff-p-vertical--x-small"><div class="example-block--compact">.bff-p-vertical--x-small</div></div>
	<div class="bff-p-vertical--small"><div class="example-block--compact">.bff-p-vertical--small</div></div>
	<div class="bff-p-vertical--medium"><div class="example-block--compact">.bff-p-vertical--medium</div></div>
	<div class="bff-p-vertical--large"><div class="example-block--compact">.bff-p-vertical--large</div></div>
	<div class="bff-p-vertical--x-large"><div class="example-block--compact">.bff-p-vertical--x-large</div></div>
	<div class="bff-p-vertical--xx-large"><div class="example-block--compact">.bff-p-vertical--xx-large</div></div>
	<div class="bff-p-around--none"><div class="example-block--compact">.bff-p-around--none</div></div>
	<div class="bff-p-around--xxx-small"><div class="example-block--compact">.bff-p-around--xxx-small</div></div>
	<div class="bff-p-around--xx-small"><div class="example-block--compact">.bff-p-around--xx-small</div></div>
	<div class="bff-p-around--x-small"><div class="example-block--compact">.bff-p-around--x-small</div></div>
	<div class="bff-p-around--small"><div class="example-block--compact">.bff-p-around--small</div></div>
	<div class="bff-p-around--medium"><div class="example-block--compact">.bff-p-around--medium</div></div>
	<div class="bff-p-around--large"><div class="example-block--compact">.bff-p-around--large</div></div>
	<div class="bff-p-around--x-large"><div class="example-block--compact">.bff-p-around--x-large</div></div>
	<div class="bff-p-around--xx-large"><div class="example-block--compact">.bff-p-left--xx-large</div></div>
</div>
<pre class="bff-p-bottom--large"><code class="language-html">&lt;div class="bff-p-top--none">&lt;/div>
&lt;div class="bff-p-top--xxx-small">&lt;/div>
&lt;div class="bff-p-top--xx-small">&lt;/div>
&lt;div class="bff-p-top--x-small">&lt;/div>
&lt;div class="bff-p-top--small">&lt;/div>
&lt;div class="bff-p-top--medium">&lt;/div>
&lt;div class="bff-p-top--large">&lt;/div>
&lt;div class="bff-p-top--x-large">&lt;/div>
&lt;div class="bff-p-top--xx-large">&lt;/div>
&lt;div class="bff-p-right--none">&lt;/div>
&lt;div class="bff-p-right--xxx-small">&lt;/div>
&lt;div class="bff-p-right--xx-small">&lt;/div>
&lt;div class="bff-p-right--x-small">&lt;/div>
&lt;div class="bff-p-right--small">&lt;/div>
&lt;div class="bff-p-right--medium">&lt;/div>
&lt;div class="bff-p-right--large">&lt;/div>
&lt;div class="bff-p-right--x-large">&lt;/div>
&lt;div class="bff-p-right--xx-large">&lt;/div>
&lt;div class="bff-p-bottom--none">&lt;/div>
&lt;div class="bff-p-bottom--xxx-small">&lt;/div>
&lt;div class="bff-p-bottom--xx-small">&lt;/div>
&lt;div class="bff-p-bottom--x-small">&lt;/div>
&lt;div class="bff-p-bottom--small">&lt;/div>
&lt;div class="bff-p-bottom--medium">&lt;/div>
&lt;div class="bff-p-bottom--large">&lt;/div>
&lt;div class="bff-p-bottom--x-large">&lt;/div>
&lt;div class="bff-p-bottom--xx-large">&lt;/div>
&lt;div class="bff-p-left--none">&lt;/div>
&lt;div class="bff-p-left--xxx-small">&lt;/div>
&lt;div class="bff-p-left--xx-small">&lt;/div>
&lt;div class="bff-p-left--x-small">&lt;/div>
&lt;div class="bff-p-left--small">&lt;/div>
&lt;div class="bff-p-left--medium">&lt;/div>
&lt;div class="bff-p-left--large">&lt;/div>
&lt;div class="bff-p-left--x-large">&lt;/div>
&lt;div class="bff-p-left--xx-large">&lt;/div>
&lt;div class="bff-p-horizontal--none">&lt;/div>
&lt;div class="bff-p-horizontal--xxx-small">&lt;/div>
&lt;div class="bff-p-horizontal--xx-small">&lt;/div>
&lt;div class="bff-p-horizontal--x-small">&lt;/div>
&lt;div class="bff-p-horizontal--small">&lt;/div>
&lt;div class="bff-p-horizontal--medium">&lt;/div>
&lt;div class="bff-p-horizontal--large">&lt;/div>
&lt;div class="bff-p-horizontal--x-large">&lt;/div>
&lt;div class="bff-p-horizontal--xx-large">&lt;/div>
&lt;div class="bff-p-vertical--none">&lt;/div>
&lt;div class="bff-p-vertical--xxx-small">&lt;/div>
&lt;div class="bff-p-vertical--xx-small">&lt;/div>
&lt;div class="bff-p-vertical--x-small">&lt;/div>
&lt;div class="bff-p-vertical--small">&lt;/div>
&lt;div class="bff-p-vertical--medium">&lt;/div>
&lt;div class="bff-p-vertical--large">&lt;/div>
&lt;div class="bff-p-vertical--x-large">&lt;/div>
&lt;div class="bff-p-vertical--xx-large">&lt;/div>
&lt;div class="bff-p-around--none">&lt;/div>
&lt;div class="bff-p-around--xxx-small">&lt;/div>
&lt;div class="bff-p-around--xx-small">&lt;/div>
&lt;div class="bff-p-around--x-small">&lt;/div>
&lt;div class="bff-p-around--small">&lt;/div>
&lt;div class="bff-p-around--medium">&lt;/div>
&lt;div class="bff-p-around--large">&lt;/div>
&lt;div class="bff-p-around--x-large">&lt;/div>
&lt;div class="bff-p-around--xx-large">&lt;/div>
</code></pre>

<h2 class="bff-text-heading--default">Usage</h2>
<table class="bff-table bff-table--compact bff-table--bordered bff-table--cell-buffer bff-table--striped bff-size--1-of-1" id="table--spacing-documentation"></table>
