<h1 class="bff-text-heading--x-large bff-p-top--x-large" id="type-anchor">Type</h1>

<h2 class="bff-text-heading--default">Body Text (Open Sans - Light - font-weight:300)</h2>
<div class="example-container">
	<span class="bff-text-body--x-small bff-show">.bff-text-body--x-small (10px//.625rem)</span>
	<span class="bff-text-body--small bff-show">.bff-text-body--small (12px//.75rem)</span>
	<span class="bff-text-body--default bff-show">.bff-text-body--default (14px//.875rem)</span>
	<span class="bff-text-body--medium bff-show">.bff-text-body--medium (14px//.875rem)</span>
	<span class="bff-text-body--large bff-show">.bff-text-body--large (18px//1.125rem)</span>
	<span class="bff-text-body--x-large bff-show">.bff-text-body--x-large (22px//1.375rem)</span>
	<span class="bff-text-body--xx-large bff-show">.bff-text-body--xx-large (32px//2rem)</span>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;span class="bff-text-body--x-small">&lt;/span>
&lt;span class="bff-text-body--small">&lt;/span>
&lt;span class="bff-text-body--default">&lt;/span>
&lt;span class="bff-text-body--large">&lt;/span>
&lt;span class="bff-text-body--x-large">&lt;/span>
&lt;span class="bff-text-body--xx-large">&lt;/span>
</code></pre>

<h2 class="bff-text-heading--default">Heading Text (Open Sans - Semibold - font-weight:600)</h2>
<div class="example-container">
	<h1 class="bff-text-heading--x-small bff-show">.bff-text-heading--x-small (10px//.625rem)</h1>
	<h1 class="bff-text-heading--small bff-show">.bff-text-heading--small (12px//.75rem)</h1>
	<h1 class="bff-text-heading--default bff-show">.bff-text-heading--default (14px//.875rem)</h1>
	<h1 class="bff-text-heading--medium bff-show">.bff-text-heading--medium (14px//.875rem)</h1>
	<h1 class="bff-text-heading--large bff-show">.bff-text-heading--large (18px//1.125rem)</h1>
	<h1 class="bff-text-heading--x-large bff-show">.bff-text-heading--x-large (22px//1.375rem)</h1>
	<h1 class="bff-text-heading--xx-large bff-show">.bff-text-heading--xx-large (32px//2rem)</h1>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;h1 class="bff-text-heading--x-small">&lt;/h1>
&lt;h1 class="bff-text-heading--small">&lt;/h1>
&lt;h1 class="bff-text-heading--default">&lt;/h1>
&lt;h1 class="bff-text-heading--large">&lt;/h1>
&lt;h1 class="bff-text-heading--x-large">&lt;/h1>
&lt;h1 class="bff-text-heading--xx-large">&lt;/h1>
</code></pre>

<h2 class="bff-text-heading--default">Text Alignment</h2>
<div class="example-container">
	<div class="bff-text-align--left">.bff-text-align--left</div>
	<div class="bff-text-align--center">.bff-text-align--center</div>
	<div class="bff-text-align--right">.bff-text-align--right</div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;div class="bff-text-align--left">&lt;/div>
&lt;div class="bff-text-align--center">&lt;/div>
&lt;div class="bff-text-align--right">&lt;/div>
</code></pre>

<h2 class="bff-text-heading--default">Text Weights</h2>
<div class="example-container">
	<div class="bff-text-body--light">.bff-text-body--light (font-weight:300)</div>
	<div class="bff-text-body--normal">.bff-text-body--normal (font-weight:400)</div>
	<div class="bff-text-body--semibold">.bff-text-body--semibold (font-weight:600)</div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;div class=".bff-text-body--light">&lt;/div>
&lt;div class=".bff-text-body--normal">&lt;/div>
&lt;div class=".bff-text-body--semibold">&lt;/div>
</code></pre>

<h2 class="bff-text-heading--default">Usage</h2>
<table class="bff-table bff-table--compact bff-table--bordered bff-table--cell-buffer bff-table--striped bff-size--1-of-1" id="table--type-documentation"></table>
