<h1 class="bff-text-heading--x-large bff-p-top--x-large" id="visibility-anchor">Visibility</h1>

<pre class="bff-m-bottom--large"><code class="language-html">&lt;div class="bff-show">&lt;/div>
&lt;div class="bff-show--inline">&lt;/div>
&lt;div class="bff-show--inline-block">&lt;/div>
&lt;div class="bff-hide">&lt;/div>
&lt;div class="bff-visible">&lt;/div>
&lt;div class="bff-hidden">&lt;/div>
</code></pre>

<h2 class="bff-text-heading--default">Usage</h2>
<table class="bff-table bff-table--compact bff-table--bordered bff-table--cell-buffer bff-table--striped bff-size--1-of-1" id="table--visibility-documentation"></table>
