<div id="page__campaigns" class="page__content">
	<div class="bff-p-around--large">
		<table class="bff-table bff-table--bordered bff-table--cell-buffer bff-table--striped bff-table--compact bff-size--1-of-1">
		  <thead>
		    <tr class="bff-text-heading--label">
		      <th>
		        <span class="bff-truncate">#</span>
		      </th>
		      <th>
		        <div class="bff-truncate">First Name</div>
		      </th>
		      <th>
		        <div class="bff-truncate">Last Name</div>
		      </th>
		      <th>
		        <div class="bff-truncate">Email</div>
		      </th>
		      <th>
		      </th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>
		        <div class="bff-truncate">1</div>
		      </td>
		      <td>
		        <div class="bff-truncate">Emelia</div>
		      </td>
		      <td>
		        <div class="bff-truncate">Rempel</div>
		      </td>
		      <td>
		        <div class="bff-truncate"><a href="#">emelia.rempel@example.com</a></div>
		      </td>
		      <td>
		      	<button type="button" class="bff-button bff-button--small">Small</button>
		      </td>
		    </tr>
		    <tr>
		      <td>
		        <div class="bff-truncate">2</div>
		      </td>
		      <td>
		        <div class="bff-truncate">Matt</div>
		      </td>
		      <td>
		        <div class="bff-truncate">Koepp</div>
		      </td>
		      <td>
		        <div class="bff-truncate"><a href="#">mkoepp41@example.com</a></div>
		      </td>
		      <td>
		      	<button type="button" class="bff-button bff-button--small">Small</button>
		      </td>
		    </tr>
		     <tr>
		      <td>
		        <div class="bff-truncate">3</div>
		      </td>
		      <td>
		        <div class="bff-truncate">Donny</div>
		      </td>
		      <td>
		        <div class="bff-truncate">Gerhold</div>
		      </td>
		      <td>
		        <div class="bff-truncate"><a href="#">donny_gerhold72@example.com</a></div>
		      </td>
		      <td>
		      	<button type="button" class="bff-button bff-button--small">Small</button>
		      </td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>