<style>
	div{border:1px solid red;}
</style>
<div class="bff-grid bff-grid--frame">
	<div class="bff-col bff-size--1of-1">
		<div class="bff-grid bff-wrap bff-grid--vertical-stretch" style="height:100%">
			<div class="bff-col bff-size--1-of-2">
			1
			</div>
			<div class="bff-col bff-size--1-of-1">
			2
			</div>
			<div style="height:100%; width:200px;">
			3
			</div>
			<div class="bff-col">
			4
			</div>
			<div class="bff-col">
			5
			</div>
		</div>
	</div>
</div>