<style>
	div{border:1px solid red;}
</style>
<div class="bff-grid bff-grid--frame">
	<div class="bff-col bff-size--1-of-1">
		<div class="bff-grid bff-wrap bff-grid--vertical-stretch" style="height:100%">
			<!-- Header -->
			<div class="bff-col bff-size--1-of-1 bff-header ">
				<div class="bff-grid bff-wrap">
					<div class="bff-col bff-size--1-of-3">
						<span class="bff-logo--frederick">Frederick</span>
					</div>
					<div class="bff-col bff-size--1-of-3">
						Search
					</div>
					<div class="bff-col bff-size--1-of-3 bff-text-align--right">
						Icons
						<span> Saucy</span>
					</div>
				</div>
			</div>
			<!-- Header End -->
			<!-- Left Nav -->
			<div class="bff-navigation--open" style="height:100%;">
				Navigation
			</div>
			<!-- Left Nav End -->
			<div class="bff-col">
				<!-- Main Content -->
				<div class = "bff-grid bff-wrap">
					Main Content
				</div>
				<!-- End Main Content -->
			</div>
		</div>
	</div>
</div>