<style>
	.div{border:1px solid red;}
</style>
<div class="bff-grid--fluid">
	<div class="bff-row bff-header bff-p-vertical--small">
		<div class="bff-col--x-small-4">
			<span class="bff-logo--frederick bff-text-body--x-large bff-col--x-small-center">Frederick</span>
		</div>
		<div class="bff-col--x-small-4 bff-col--x-small-center">
			<input type="email" class="bff-input" placeholder="Search">
		</div>
		<div class="bff-col--x-small-4 bff-col--x-small-center">
			<span class="bff-icon--alarm"> </span>
			<span class="bff-icon--cog"> </span>
			<span class="bff-icon--question-circle"> </span>
		</div>
	</div>
	<div class="bff-row">
		<div class="bff-nav--open">
			Left Nav
		</div>
		<div class="bff-col--x-small bff-grid-fluid bff-m-vertical--medium">
			<div class="bff-row">
				<div class="bff-col--x-small">
					<table class="bff-table bff-table--bordered bff-table--cell-buffer bff-table--striped">
				        <thead>
				          <tr class="bff-text-heading--label">
				            <th>
				              <div class="bff-truncate">#</div>
				            </th>
				            <th>
				              <div class="bff-truncate">First Name</div>
				            </th>
				            <th>
				              <div class="bff-truncate">Last Name</div>
				            </th>
				            <th>
				              <div class="bff-truncate">Email</div>
				            </th>
				          </tr>
				        </thead>
				        <tbody>
				          <tr>
				            <td>
				              <div class="bff-truncate">1</div>
				            </td>
				            <td>
				              <div class="bff-truncate">Emelia</div>
				            </td>
				            <td>
				              <div class="bff-truncate">Rempel</div>
				            </td>
				            <td>
				              <div class="bff-truncate"><a href="#">emelia.rempel@yahoo.com</a></div>
				            </td>
				          </tr>
				          <tr>
				            <td>
				              <div class="bff-truncate">2</div>
				            </td>
				            <td>
				              <div class="bff-truncate">Matt</div>
				            </td>
				            <td>
				              <div class="bff-truncate">Koepp</div>
				            </td>
				            <td>
				              <div class="bff-truncate"><a href="#">mkoepp41@hotmail.com</a></div>
				            </td>
				          </tr>
				           <tr>
				            <td>
				              <div class="bff-truncate">3</div>
				            </td>
				            <td>
				              <div class="bff-truncate">Donny</div>
				            </td>
				            <td>
				              <div class="bff-truncate">Gerhold</div>
				            </td>
				            <td>
				              <div class="bff-truncate"><a href="#">donny_gerhold72@gemail.com</a></div>
				            </td>
				          </tr>
				        </tbody>
				      </table>
				</div>
			</div>
		</div>
	</div>
</div>