<style>
  .example-block-bg{
    background-color:#69D1ED;
  }
  .example-block-bg div{
    border: 1px solid #BAA6F4;
    background-color:#6FDDBE;
  }
  .example-block-bg-2{
    background-color:#E6E9ED !important;
  }
  .example-grid-block{
    background-color:#E6E9ED;
    border:1px solid #BAA6F4;
  }
  .bff-col--block{
    display:block;
  }
</style>

<div class="bff-grid--fluid bff-p-around--large">
<!-- Type -->
  <div class="bff-row">
    <div class="bff-col--x-small">
      <h1 class="bff-text-heading--large"> Type</h1>
    </div>
  </div>
  <div class="bff-row">
    <div class="bff-col--x-small-12">
      <h2 class="bff-text-heading--normal"> bff-text-body--*size*</h2>
    </div>
    <div class="bff-col--x-small">
      <p class="bff-text-body--x-small"> text-body--x-small</p>
      <p class="bff-text-body--small"> text-body--small</p>
      <p class="bff-text-body--normal"> text-body--normal</p>
      <p class="bff-text-body--large"> text-body--large</p>
      <p class="bff-text-body--x-large"> text-body--x-large</p>
      <p class="bff-text-body--xx-large"> text-body--xx-large</p>
    </div>
  </div>
  <div class="bff-row">
    <div class="bff-col--x-small-12">
      <h2 class="bff-text-heading--normal"> bff-text-heading--*size*</h2>
    </div>
    <div class="bff-col--x-small">
      <p class="bff-text-heading--x-small"> text-heading--x-small</p>
      <p class="bff-text-heading--small"> text-heading--small</p>
      <p class="bff-text-heading--normal"> text-heading--normal</p>
      <p class="bff-text-heading--large"> text-heading--large</p>
      <p class="bff-text-heading--x-large"> text-heading--x-large</p>
      <p class="bff-text-heading--xx-large"> text-heading--xx-large</p>
    </div>
  </div>
<!-- Buttons -->
  <div class="bff-row">
    <div class="bff-col--x-small">
      <h1 class="bff-text-heading--large"> Button - Sizes</h1>
    </div>
  </div>
  <div class="bff-row">
  <div class="bff-col--x-small-12">
    <h2 class="bff-text-heading--normal"> bff-button--*size*</h2>
   </div>
    <div class="bff-col--x-small">
      <button type="button" class="bff-button bff-button--small">Small</button>
      <button type="button" class="bff-button">Default</button>
      <button type="button" class="bff-button bff-button--large">Large</button>
      <button type="button" class="bff-button bff-button--x-large">X-Large</button>
    </div>
  </div>
    <div class="bff-row">
    <div class="bff-col--x-small">
      <h1 class="bff-text-heading--large"> Button - Variants</h1>
    </div>
  </div>
  <div class="bff-row bff-p-bottom--medium">
  <div class="bff-col--x-small-12">
    <h2 class="bff-text-heading--normal"> bff-button--*color*</h2>
   </div>
    <div class="bff-col--x-small">
      <button type="button" class="bff-button">Default</button>
      <button type="button" class="bff-button bff-button--booker">Booker</button>
      <button type="button" class="bff-button bff-button--frederick">Frederick</button>
      <button type="button" class="bff-button bff-button--success">Success</button>
      <button type="button" class="bff-button bff-button--danger">Danger</button>
      <button type="button" class="bff-button bff-button--warning">Warning</button>
      <button type="button" class="bff-button bff-button--info">Info</button>
      <button type="button" class="bff-button bff-button--disabled">Disabled</button>
    </div>
  </div>
   <div class="bff-row">
   <div class="bff-col--x-small-12">
    <h2 class="bff-text-heading--normal"> bff-button--*color*-outline</h2>
   </div>
    <div class="bff-col--x-small bff-p-bottom--medium">
      <button type="button" class="bff-button bff-button--booker-outline">Booker</button>
      <button type="button" class="bff-button bff-button--frederick-outline">Frederick</button>
      <button type="button" class="bff-button bff-button--success-outline">Success</button>
      <button type="button" class="bff-button bff-button--danger-outline">Danger</button>
      <button type="button" class="bff-button bff-button--warning-outline">Warning</button>
      <button type="button" class="bff-button bff-button--info-outline">Info</button>
    </div>
  </div>
</div>
<!-- Padding -->
<div class="bff-grid--fluid bff-p-around--large">
  <div class="bff-row">
    <div class="bff-col--x-small-12">
      <h1 class="bff-text-heading--large">Padding</h1>
      <h2 class="bff-text-heading--normal"> bff-p-*side*--*size*</h2>
    </div>
    <div class="bff-col--x-small-12 bff-p-bottom--small example-block-bg">
      <div class="bff-col--block bff-p-left--none"><div class="example-block-bg-2">p-left--none</div></div>
      <div class="bff-col--block bff-p-left--xxx-small"><div class="example-block-bg-2">p-left--xxx-small</div></div>
      <div class="bff-col--block bff-p-left--xx-small"><div class="example-block-bg-2">p-left--xx-small</div></div>
      <div class="bff-col--block bff-p-left--x-small"><div class="example-block-bg-2">p-left--x-small</div></div>
      <div class="bff-col--block bff-p-left--small"><div class="example-block-bg-2">p-left--small</div></div>
      <div class="bff-col--block bff-p-left--medium"><div class="example-block-bg-2">p-left--medium</div></div>
      <div class="bff-col--block bff-p-left--large"><div class="example-block-bg-2">p-left--large</div></div>
      <div class="bff-col--block bff-p-left--x-large"><div class="example-block-bg-2">p-left--x-large</div></div>
      <div class="bff-col--block bff-p-left--xx-large"><div class="example-block-bg-2">p-left--xx-large</div></div>
    </div>
    <div class="bff-col--x-small-12 bff-p-bottom--small example-block-bg">
      <div class="bff-col--block bff-p-right--none"><div class="example-block-bg-2">p-right--none</div></div>
      <div class="bff-col--block bff-p-right--xxx-small"><div class="example-block-bg-2">p-right--xxx-small</div></div>
      <div class="bff-col--block bff-p-right--xx-small"><div class="example-block-bg-2">p-right--xx-small</div></div>
      <div class="bff-col--block bff-p-right--x-small"><div class="example-block-bg-2">p-right--x-small</div></div>
      <div class="bff-col--block bff-p-right--small"><div class="example-block-bg-2">p-right--small</div></div>
      <div class="bff-col--block bff-p-right--medium"><div class="example-block-bg-2">p-right--medium</div></div>
      <div class="bff-col--block bff-p-right--large"><div class="example-block-bg-2">p-right--large</div></div>
      <div class="bff-col--block bff-p-right--x-large"><div class="example-block-bg-2">p-right--x-large</div></div>
      <div class="bff-col--block bff-p-right--xx-large"><div class="example-block-bg-2">p-right--xx-large</div></div>
    </div>
    <div class="bff-col--x-small-12 bff-p-bottom--small example-block-bg">
      <div class="bff-col--block bff-p-top--none"><div class="example-block-bg-2">p-top--none</div></div>
      <div class="bff-col--block bff-p-top--xxx-small"><div class="example-block-bg-2">p-top--xxx-small</div></div>
      <div class="bff-col--block bff-p-top--xx-small"><div class="example-block-bg-2">p-top--xx-small</div></div>
      <div class="bff-col--block bff-p-top--x-small"><div class="example-block-bg-2">p-top--x-small</div></div>
      <div class="bff-col--block bff-p-top--small"><div class="example-block-bg-2">p-top--small</div></div>
      <div class="bff-col--block bff-p-top--medium"><div class="example-block-bg-2">p-top--medium</div></div>
      <div class="bff-col--block bff-p-top--large"><div class="example-block-bg-2">p-top--large</div></div>
      <div class="bff-col--block bff-p-top--x-large"><div class="example-block-bg-2">p-top--x-large</div></div>
      <div class="bff-col--block bff-p-top--xx-large"><div class="example-block-bg-2">p-top--xx-large</div></div>
    </div>
    <div class="bff-col--x-small-12 bff-p-bottom--small example-block-bg">
      <div class="bff-col--block bff-p-bottom--none"><div class="example-block-bg-2">p-bottom--none</div></div>
      <div class="bff-col--block bff-p-bottom--xxx-small"><div class="example-block-bg-2">p-bottom--xxx-small</div></div>
      <div class="bff-col--block bff-p-bottom--xx-small"><div class="example-block-bg-2">p-bottom--xx-small</div></div>
      <div class="bff-col--block bff-p-bottom--x-small"><div class="example-block-bg-2">p-bottom--x-small</div></div>
      <div class="bff-col--block bff-p-bottom--small"><div class="example-block-bg-2">p-bottom--small</div></div>
      <div class="bff-col--block bff-p-bottom--medium"><div class="example-block-bg-2">p-bottom--medium</div></div>
      <div class="bff-col--block bff-p-bottom--large"><div class="example-block-bg-2">p-bottom--large</div></div>
      <div class="bff-col--block bff-p-bottom--x-large"><div class="example-block-bg-2">p-bottom--x-large</div></div>
      <div class="bff-col--block bff-p-bottom--xx-large"><div class="example-block-bg-2">p-bottom--xx-large</div></div>
    </div>
    <div class="bff-col--x-small-12 bff-p-bottom--small example-block-bg">
      <div class="bff-col--block bff-p-horizontal--none"><div class="example-block-bg-2">p-horizontal--none</div></div>
      <div class="bff-col--block bff-p-horizontal--xxx-small"><div class="example-block-bg-2">p-horizontal--xxx-small</div></div>
      <div class="bff-col--block bff-p-horizontal--xx-small"><div class="example-block-bg-2">p-horizontal--xx-small</div></div>
      <div class="bff-col--block bff-p-horizontal--x-small"><div class="example-block-bg-2">p-horizontal--x-small</div></div>
      <div class="bff-col--block bff-p-horizontal--small"><div class="example-block-bg-2">p-horizontal--small</div></div>
      <div class="bff-col--block bff-p-horizontal--medium"><div class="example-block-bg-2">p-horizontal--medium</div></div>
      <div class="bff-col--block bff-p-horizontal--large"><div class="example-block-bg-2">p-horizontal--large</div></div>
      <div class="bff-col--block bff-p-horizontal--x-large"><div class="example-block-bg-2">p-horizontal--x-large</div></div>
      <div class="bff-col--block bff-p-horizontal--xx-large"><div class="example-block-bg-2">p-horizontal--xx-large</div></div>
    </div>
    <div class="bff-col--x-small-12 bff-p-bottom--small example-block-bg">
      <div class="bff-col--block bff-p-vertical--none"><div class="example-block-bg-2">p-vertical--none</div></div>
      <div class="bff-col--block bff-p-vertical--xxx-small"><div class="example-block-bg-2">p-vertical--xxx-small</div></div>
      <div class="bff-col--block bff-p-vertical--xx-small"><div class="example-block-bg-2">p-vertical--xx-small</div></div>
      <div class="bff-col--block bff-p-vertical--x-small"><div class="example-block-bg-2">p-vertical--x-small</div></div>
      <div class="bff-col--block bff-p-vertical--small"><div class="example-block-bg-2">p-vertical--small</div></div>
      <div class="bff-col--block bff-p-vertical--medium"><div class="example-block-bg-2">p-vertical--medium</div></div>
      <div class="bff-col--block bff-p-vertical--large"><div class="example-block-bg-2">p-vertical--large</div></div>
      <div class="bff-col--block bff-p-vertical--x-large"><div class="example-block-bg-2">p-vertical--x-large</div></div>
      <div class="bff-col--block bff-p-vertical--xx-large"><div class="example-block-bg-2">p-vertical--xx-large</div></div>
    </div>
    <div class="bff-col--x-small-12 bff-p-bottom--small example-block-bg">
      <div class="bff-col--block bff-p-around--none"><div class="example-block-bg-2">p-around--none</div></div>
      <div class="bff-col--block bff-p-around--xxx-small"><div class="example-block-bg-2">p-around--xxx-small</div></div>
      <div class="bff-col--block bff-p-around--xx-small"><div class="example-block-bg-2">p-around--xx-small</div></div>
      <div class="bff-col--block bff-p-around--x-small"><div class="example-block-bg-2">p-around--x-small</div></div>
      <div class="bff-col--block bff-p-around--small"><div class="example-block-bg-2">p-around--small</div></div>
      <div class="bff-col--block bff-p-around--medium"><div class="example-block-bg-2">p-around--medium</div></div>
      <div class="bff-col--block bff-p-around--large"><div class="example-block-bg-2">p-around--large</div></div>
      <div class="bff-col--block bff-p-around--x-large"><div class="example-block-bg-2">p-around--x-large</div></div>
      <div class="bff-col--block bff-p-around--xx-large"><div class="example-block-bg-2">p-around--xx-large</div></div>
    </div>
  </div>
<!-- Margin -->
  <div class="bff-row">
    <div class="bff-col--x-small-12">
      <h1 class="bff-text-heading--large">Margin</h1>
      <h2 class="bff-text-heading--normal"> bff-m-*side*--*size*</h2>
    </div>
    <div class="bff-col--x-small-12 bff-p-bottom--small example-block-bg">
      <div class="bff-col--block bff-m-left--none"><div class="example-block-bg-2">m-left--none</div></div>
      <div class="bff-col--block bff-m-left--xxx-small"><div class="example-block-bg-2">m-left--xxx-small</div></div>
      <div class="bff-col--block bff-m-left--xx-small"><div class="example-block-bg-2">m-left--xx-small</div></div>
      <div class="bff-col--block bff-m-left--x-small"><div class="example-block-bg-2">m-left--x-small</div></div>
      <div class="bff-col--block bff-m-left--small"><div class="example-block-bg-2">m-left--small</div></div>
      <div class="bff-col--block bff-m-left--medium"><div class="example-block-bg-2">m-left--medium</div></div>
      <div class="bff-col--block bff-m-left--large"><div class="example-block-bg-2">m-left--large</div></div>
      <div class="bff-col--block bff-m-left--x-large"><div class="example-block-bg-2">m-left--x-large</div></div>
      <div class="bff-col--block bff-m-left--xx-large"><div class="example-block-bg-2">m-left--xx-large</div></div>
    </div>
    <div class="bff-col--x-small-12 bff-p-bottom--small example-block-bg">
      <div class="bff-col--block bff-m-right--none"><div class="example-block-bg-2">m-right--none</div></div>
      <div class="bff-col--block bff-m-right--xxx-small"><div class="example-block-bg-2">m-right--xxx-small</div></div>
      <div class="bff-col--block bff-m-right--xx-small"><div class="example-block-bg-2">m-right--xx-small</div></div>
      <div class="bff-col--block bff-m-right--x-small"><div class="example-block-bg-2">m-right--x-small</div></div>
      <div class="bff-col--block bff-m-right--small"><div class="example-block-bg-2">m-right--small</div></div>
      <div class="bff-col--block bff-m-right--medium"><div class="example-block-bg-2">m-right--medium</div></div>
      <div class="bff-col--block bff-m-right--large"><div class="example-block-bg-2">m-right--large</div></div>
      <div class="bff-col--block bff-m-right--x-large"><div class="example-block-bg-2">m-right--x-large</div></div>
      <div class="bff-col--block bff-m-right--xx-large"><div class="example-block-bg-2">m-right--xx-large</div></div>
    </div>
    <div class="bff-col--x-small-12 bff-p-bottom--small example-block-bg">
      <div class="bff-col--block bff-m-top--none"><div class="example-block-bg-2">m-top--none</div></div>
      <div class="bff-col--block bff-m-top--xxx-small"><div class="example-block-bg-2">m-top--xxx-small</div></div>
      <div class="bff-col--block bff-m-top--xx-small"><div class="example-block-bg-2">m-top--xx-small</div></div>
      <div class="bff-col--block bff-m-top--x-small"><div class="example-block-bg-2">m-top--x-small</div></div>
      <div class="bff-col--block bff-m-top--small"><div class="example-block-bg-2">m-top--small</div></div>
      <div class="bff-col--block bff-m-top--medium"><div class="example-block-bg-2">m-top--medium</div></div>
      <div class="bff-col--block bff-m-top--large"><div class="example-block-bg-2">m-top--large</div></div>
      <div class="bff-col--block bff-m-top--x-large"><div class="example-block-bg-2">m-top--x-large</div></div>
      <div class="bff-col--block bff-m-top--xx-large"><div class="example-block-bg-2">m-top--xx-large</div></div>
    </div>
    <div class="bff-col--x-small-12 bff-p-bottom--small example-block-bg">
      <div class="bff-col--block bff-m-bottom--none"><div class="example-block-bg-2">m-bottom--none</div></div>
      <div class="bff-col--block bff-m-bottom--xxx-small"><div class="example-block-bg-2">m-bottom--xxx-small</div></div>
      <div class="bff-col--block bff-m-bottom--xx-small"><div class="example-block-bg-2">m-bottom--xx-small</div></div>
      <div class="bff-col--block bff-m-bottom--x-small"><div class="example-block-bg-2">m-bottom--x-small</div></div>
      <div class="bff-col--block bff-m-bottom--small"><div class="example-block-bg-2">m-bottom--small</div></div>
      <div class="bff-col--block bff-m-bottom--medium"><div class="example-block-bg-2">m-bottom--medium</div></div>
      <div class="bff-col--block bff-m-bottom--large"><div class="example-block-bg-2">m-bottom--large</div></div>
      <div class="bff-col--block bff-m-bottom--x-large"><div class="example-block-bg-2">m-bottom--x-large</div></div>
      <div class="bff-col--block bff-m-bottom--xx-large"><div class="example-block-bg-2">m-bottom--xx-large</div></div>
    </div>
    <div class="bff-col--x-small-12 bff-p-bottom--small example-block-bg">
      <div class="bff-col--block bff-m-horizontal--none"><div class="example-block-bg-2">m-horizontal--none</div></div>
      <div class="bff-col--block bff-m-horizontal--xxx-small"><div class="example-block-bg-2">m-horizontal--xxx-small</div></div>
      <div class="bff-col--block bff-m-horizontal--xx-small"><div class="example-block-bg-2">m-horizontal--xx-small</div></div>
      <div class="bff-col--block bff-m-horizontal--x-small"><div class="example-block-bg-2">m-horizontal--x-small</div></div>
      <div class="bff-col--block bff-m-horizontal--small"><div class="example-block-bg-2">m-horizontal--small</div></div>
      <div class="bff-col--block bff-m-horizontal--medium"><div class="example-block-bg-2">m-horizontal--medium</div></div>
      <div class="bff-col--block bff-m-horizontal--large"><div class="example-block-bg-2">m-horizontal--large</div></div>
      <div class="bff-col--block bff-m-horizontal--x-large"><div class="example-block-bg-2">m-horizontal--x-large</div></div>
      <div class="bff-col--block bff-m-horizontal--xx-large"><div class="example-block-bg-2">m-horizontal--xx-large</div></div>
    </div>
    <div class="bff-col--x-small-12 bff-p-bottom--small example-block-bg">
      <div class="bff-col--block bff-m-vertical--none"><div class="example-block-bg-2">p-vertical--none</div></div>
      <div class="bff-col--block bff-m-vertical--xxx-small"><div class="example-block-bg-2">m-vertical--xxx-small</div></div>
      <div class="bff-col--block bff-m-vertical--xx-small"><div class="example-block-bg-2">m-vertical--xx-small</div></div>
      <div class="bff-col--block bff-m-vertical--x-small"><div class="example-block-bg-2">m-vertical--x-small</div></div>
      <div class="bff-col--block bff-m-vertical--small"><div class="example-block-bg-2">m-vertical--small</div></div>
      <div class="bff-col--block bff-m-vertical--medium"><div class="example-block-bg-2">m-vertical--medium</div></div>
      <div class="bff-col--block bff-m-vertical--large"><div class="example-block-bg-2">m-vertical--large</div></div>
      <div class="bff-col--block bff-m-vertical--x-large"><div class="example-block-bg-2">m-vertical--x-large</div></div>
      <div class="bff-col--block bff-m-vertical--xx-large"><div class="example-block-bg-2">m-vertical--xx-large</div></div>
    </div>
    <div class="bff-col--x-small-12 bff-p-bottom--small example-block-bg">
      <div class="bff-col--block bff-m-around--none"><div class="example-block-bg-2">m-around--none</div></div>
      <div class="bff-col--block bff-m-around--xxx-small"><div class="example-block-bg-2">m-around--xxx-small</div></div>
      <div class="bff-col--block bff-m-around--xx-small"><div class="example-block-bg-2">m-around--xx-small</div></div>
      <div class="bff-col--block bff-m-around--x-small"><div class="example-block-bg-2">m-around--x-small</div></div>
      <div class="bff-col--block bff-m-around--small"><div class="example-block-bg-2">m-around--small</div></div>
      <div class="bff-col--block bff-m-around--medium"><div class="example-block-bg-2">m-around--medium</div></div>
      <div class="bff-col--block bff-m-around--large"><div class="example-block-bg-2">m-around--large</div></div>
      <div class="bff-col--block bff-m-around--x-large"><div class="example-block-bg-2">m-around--x-large</div></div>
      <div class="bff-col--block bff-m-around--xx-large"><div class="example-block-bg-2">m-around--xx-large</div></div>
    </div>
  </div>
<!-- Grid -->
  <div class="bff-row">
    <div class="bff-col--x-small-12">
      <h1 class="bff-text-heading--large">Grid</h1>
      <h2 class="bff-text-heading--normal"> bff-grid *fixed breakpoint widths* </h2>
    </div>
    <div class="bff-col--x-small">
      <div class="bff-grid">
        <div class="bff-row">
          <div class="bff-col--x-small example-grid-block">
            1 of 2 - Auto Sized
          </div>
          <div class="bff-col--x-small example-grid-block">
            1 of 2 - Auto Sized
          </div>
        </div>
        <div class="bff-row">
          <div class="bff-col--x-small example-grid-block">
            1 of 3 - Auto Sized
          </div>
          <div class="bff-col--x-small example-grid-block">
            1 of 3 - Auto Sized
          </div>
          <div class="bff-col--x-small example-grid-block">
            1 of 3 - Auto Sized
          </div>
        </div>
      </div>
    </div>
    <div class="bff-col--x-small-12">
      <h2 class="bff-text-heading--normal"> bff-grid--fluid *scales 100% width*</h2>
    </div>
    <div class="bff-col--x-small">
      <div class="bff-grid--fluid">
        <div class="bff-row">
          <div class="bff-col--x-small-3 example-grid-block">
            bff-col--x-small-3
          </div>
          <div class="bff-col--x-small-6 example-grid-block">
            bff-col--x-small-6
          </div>
        </div>
        <div class="bff-row example-grid-block" style="height:100px;">
          <div class="bff-col--x-small bff-col--x-small-top example-grid-block">
            bff-col--x-small-top
          </div>
          <div class="bff-col--x-small bff-col--x-small-center example-grid-block">
            bff-col--x-small-center
          </div>
          <div class="bff-col--x-small bff-col--x-small-bottom example-grid-block">
            bff-col--x-small-bottom
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Form -->
  <div class="bff-row">
    <div class="bff-col--x-small-12">
      <h1 class="bff-text-heading--large">Forms</h1>
      <h2 class="bff-text-heading--normal"> bff-input bff-input--*size* (optional)</h2>
    </div>
    <div class="bff-col--x-small-12 bff-p-bottom--small">
      <form>
        <div class="form-group">
          <input type="email" class="bff-input bff-input--small" placeholder="bff-input bff-input--small">
        </div>
      </form>
    </div>
    <div class="bff-col--x-small-12 bff-p-bottom--small">
      <form>
        <div class="form-group">
          <input type="email" class="bff-input" placeholder="bff-input">
        </div>
      </form>
    </div>
    <div class="bff-col--x-small-12 bff-p-bottom--small">
      <form>
        <div class="form-group">
          <input type="email" class="bff-input bff-input--large" placeholder="bff-input bff-input--large">
        </div>
      </form>
    </div>
    <div class="bff-col--x-small-12 bff-p-bottom--small">
      <form>
        <div class="form-group bff-has-error">
          <input type="email" class="bff-input bff-input--error" placeholder="bff-input // parent element bff-has-error">
        </div>
      </form>
    </div>
    <div class="bff-col--x-small-12 bff-p-bottom--small">
      <form>
        <div class="form-group">
          <input type="email" class="bff-input" disabled placeholder="bff-input // use inputs disabled tag">
        </div>
      </form>
    </div>
  </div>
  <!-- Tables -->
  <div class="bff-row">
    <div class="bff-col--x-small-12">
      <h1 class="bff-text-heading--large">Tables</h1>
      <h2 class="bff-text-heading--normal"> bff-table</h2>
    </div>
    <div class="bff-col--x-small-12">
      <table class="bff-table">
        <thead>
          <tr class="bff-text-heading--label">
            <th>
              <div class="bff-truncate">#</div>
            </th>
            <th>
              <div class="bff-truncate">First Name</div>
            </th>
            <th>
              <div class="bff-truncate">Last Name</div>
            </th>
            <th>
              <div class="bff-truncate">Email</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="bff-truncate">1</div>
            </td>
            <td>
              <div class="bff-truncate">Emelia</div>
            </td>
            <td>
              <div class="bff-truncate">Rempel</div>
            </td>
            <td>
              <div class="bff-truncate"><a href="#">emelia.rempel@yahoo.com</a></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="bff-truncate">2</div>
            </td>
            <td>
              <div class="bff-truncate">Matt</div>
            </td>
            <td>
              <div class="bff-truncate">Koepp</div>
            </td>
            <td>
              <div class="bff-truncate"><a href="#">mkoepp41@hotmail.com</a></div>
            </td>
          </tr>
           <tr>
            <td>
              <div class="bff-truncate">3</div>
            </td>
            <td>
              <div class="bff-truncate">Donny</div>
            </td>
            <td>
              <div class="bff-truncate">Gerhold</div>
            </td>
            <td>
              <div class="bff-truncate"><a href="#">donny_gerhold72@gemail.com</a></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="bff-col--x-small-12">
      <h2 class="bff-text-heading--normal"> bff-table bff-table--bordered (optional) bff-table--cell-buffer (optional) bff-table--striped (optional)</h2>
      <table class="bff-table bff-table--bordered bff-table--cell-buffer bff-table--striped">
        <thead>
          <tr class="bff-text-heading--label">
            <th>
              <div class="bff-truncate">#</div>
            </th>
            <th>
              <div class="bff-truncate">First Name</div>
            </th>
            <th>
              <div class="bff-truncate">Last Name</div>
            </th>
            <th>
              <div class="bff-truncate">Email</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="bff-truncate">1</div>
            </td>
            <td>
              <div class="bff-truncate">Emelia</div>
            </td>
            <td>
              <div class="bff-truncate">Rempel</div>
            </td>
            <td>
              <div class="bff-truncate"><a href="#">emelia.rempel@yahoo.com</a></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="bff-truncate">2</div>
            </td>
            <td>
              <div class="bff-truncate">Matt</div>
            </td>
            <td>
              <div class="bff-truncate">Koepp</div>
            </td>
            <td>
              <div class="bff-truncate"><a href="#">mkoepp41@hotmail.com</a></div>
            </td>
          </tr>
           <tr>
            <td>
              <div class="bff-truncate">3</div>
            </td>
            <td>
              <div class="bff-truncate">Donny</div>
            </td>
            <td>
              <div class="bff-truncate">Gerhold</div>
            </td>
            <td>
              <div class="bff-truncate"><a href="#">donny_gerhold72@gemail.com</a></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
   <!-- Checkboxes -->
  <div class="bff-row">
    <div class="bff-col--x-small-12">
      <h1 class="bff-text-heading--large">Checkboxes</h1>
      <h2 class="bff-text-heading--normal"> bff-checkbox</h2>
    </div>
    <div class="bff-col--x-small-12">
      <div class="bff-form-element__control">
        <label class="bff-checkbox">
          <input type="checkbox" />
          <span class="bff-checkbox--faux"></span>
          <span class="bff-form-element__label">Checkbox Label</span>
        </label>
      </div>
    </div>
    <div class="bff-col--x-small-12">
      <div class="bff-form-element__control bff-has-error">
        <label class="bff-checkbox ">
          <input type="checkbox" />
          <span class="bff-checkbox--faux"></span>
          <span class="bff-form-element__label">Checkbox Label</span>
        </label>
      </div>
    </div><div class="bff-col--x-small-12">
      <div class="bff-form-element__control">
        <label class="bff-checkbox ">
          <input type="checkbox" disabled />
          <span class="bff-checkbox--faux"></span>
          <span class="bff-form-element__label">Checkbox Label</span>
        </label>
      </div>
    </div>
    <div class="bff-col--x-small-12">
      <h1 class="bff-text-heading--large">Toggle</h1>
      <h2 class="bff-text-heading--normal"> bff-checkbox--toggle</h2>
    </div>
    <div class="bff-form-element bff-col--x-small-12">
      <label class="bff-checkbox--toggle bff-grid bff-col--x-small-center">
        <input name="checkbox" type="checkbox" />
        <span class="bff-checkbox--faux" data-check-on="On" data-check-off="Off"></span>
        <span class="bff-form-element__label bff-m-bottom--none"> Toggle Off</span>
      </label>
    </div>
    <div class="bff-form-element bff-col--x-small-12">
      <label class="bff-checkbox--toggle bff-grid bff-grid--vertical-align-center">
      <input name="checkbox" type="checkbox" checked />
        <span class="bff-checkbox--faux" data-check-on="On" data-check-off="Off"></span>
        <span class="bff-form-element__label bff-m-bottom--none">Toggle On</span>
      </label>
    </div>
    <div class="bff-form-element bff-col--x-small-12">
      <label class="bff-checkbox--toggle bff-grid bff-grid--vertical-align-center">
        <input name="checkbox" type="checkbox" disabled="" />
        <span class="bff-checkbox--faux" data-check-on="On" data-check-off="Off"></span>
        <span class="bff-form-element__label bff-m-bottom--none">Toggle Disabled</span>
      </label>
    </div>
    <div class="bff-col--x-small-12">
      <h1 class="bff-text-heading--large">Icons</h1>
      <h2 class="bff-text-heading--normal"> bff-icon--*icon-name*  bff-icon--*size* (optional)</h2>
    </div>
    <div class="bff-col--x-small-12">
      <span class="bff-icon--home"> </span>
      <span class="bff-icon--home bff-icon--small"> </span>
      <span class="bff-icon--home bff-icon--normal"> </span>
      <span class="bff-icon--home bff-icon--large"> </span>
    </div>
  </div>
</div>




