<h1 class="bff-text-heading--x-large bff-p-top--x-large" id="buttons-anchor">Buttons</h1>

<h2 class="bff-text-heading--default">Button - Sizes</h2>
<div class="example-container">
	<div class="bff-col bff-size--1-of-1 bff-p-bottom--small">
	  <button type="button" class="bff-button bff-button--small">Small</button>
	  <button type="button" class="bff-button">Default</button>
	  <button type="button" class="bff-button bff-button--large">Large</button>
	  <button type="button" class="bff-button bff-button--x-large">X-Large</button>
	</div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;button type="button" class="bff-button bff-button--small">Small&lt;/button>
&lt;button type="button" class="bff-button">Default&lt;/button>
&lt;button type="button" class="bff-button bff-button--large">Large&lt;/button>
&lt;button type="button" class="bff-button bff-button--x-large">X-Large&lt;/button>
</code></pre>

<h2 class="bff-text-heading--default">Button - Minimum Width Sizes</h2>
<div class="example-container">
	<div class="bff-col bff-size--1-of-1 bff-p-bottom--small">
	  <button type="button" class="bff-button bff-button-min-size--small">Small</button>
	  <button type="button" class="bff-button bff-button-min-size--medium">Medium</button>
	  <button type="button" class="bff-button bff-button-min-size--large">Large</button>
	</div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;button type="button" class="bff-button bff-button-min-size--small">Small&lt;/button>
&lt;button type="button" class="bff-button bff-button-min-size--medium">Medium&lt;/button>
&lt;button type="button" class="bff-button bff-button-min-size--large">Large&lt;/button>
</code></pre>

<h2 class="bff-text-heading--default">Button - Colors</h2>
<div class="example-container">
	<div class="bff-col bff-size--1-of-1 bff-p-bottom--small">
	  <button type="button" class="bff-button bff-button--booker">Booker</button>
	  <button type="button" class="bff-button bff-button--frederick">Frederick</button>
	  <button type="button" class="bff-button bff-button--success">Success</button>
	  <button type="button" class="bff-button bff-button--danger">Danger</button>
	  <button type="button" class="bff-button bff-button--warning">Warning</button>
	  <button type="button" class="bff-button bff-button--info">Info</button>
	  <button type="button" class="bff-button bff-button--disabled">Disabled</button>
	</div>
	<div class="bff-col bff-size--1-of-1 bff-p-bottom--small">
	  <button type="button" class="bff-button bff-button--booker-outline">Booker</button>
	  <button type="button" class="bff-button bff-button--frederick-outline">Frederick</button>
	  <button type="button" class="bff-button bff-button--success-outline">Success</button>
	  <button type="button" class="bff-button bff-button--danger-outline">Danger</button>
	  <button type="button" class="bff-button bff-button--warning-outline">Warning</button>
	  <button type="button" class="bff-button bff-button--info-outline">Info</button>
	 	<div class="bff-show--inline-block bff-p-around--xx-small" style="background-color:#434A54">
	  	<button type="button" class="bff-button bff-button--white-outline">White</button>
	  </div>
	</div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;button type="button" class="bff-button bff-button--booker">Booker&lt;/button>
&lt;button type="button" class="bff-button bff-button--frederick">Frederick&lt;/button>
&lt;button type="button" class="bff-button bff-button--success">Success&lt;/button>
&lt;button type="button" class="bff-button bff-button--danger">Danger&lt;/button>
&lt;button type="button" class="bff-button bff-button--warning">Warning&lt;/button>
&lt;button type="button" class="bff-button bff-button--info">Info&lt;/button>
&lt;button type="button" class="bff-button bff-button--disabled">Disabled&lt;/button>
&lt;button type="button" class="bff-button bff-button--booker-outline">Booker&lt;/button>
&lt;button type="button" class="bff-button bff-button--frederick-outline">Frederick&lt;/button>
&lt;button type="button" class="bff-button bff-button--success-outline">Success&lt;/button>
&lt;button type="button" class="bff-button bff-button--danger-outline">Danger&lt;/button>
&lt;button type="button" class="bff-button bff-button--warning-outline">Warning&lt;/button>
&lt;button type="button" class="bff-button bff-button--info-outline">Info&lt;/button>
&lt;button type="button" class="bff-button bff-button--white-outline">White&lt;/button>
</code></pre>

<h2 class="bff-text-heading--default">Usage</h2>
<table class="bff-table bff-table--compact bff-table--bordered bff-table--cell-buffer bff-table--striped bff-size--1-of-1" id="table--buttons-documentation"></table>
