<h1 class="bff-text-heading--x-large bff-p-top--x-large" id="dropdowns-anchor">Dropdowns</h1>
<div class="example-container bff-grid" style="height:255px;">
	<div class="bff-size--1-of-2">
		<div class="bff-dropdown-trigger bff-dropdown-trigger--click bff-is-open">
		  <button class="bff-button">
				Dropdown
		    <span class="bff-dropdown__caret bff-icon--chevron-down"></span>
		  </button>
		  <div class="bff-dropdown bff-dropdown--left bff-dropdown--small">
		    <ul class="bff-dropdown__list bff-dropdown--length-with-icon-5">
		      <li class="bff-dropdown__item">
		        <a href="#placeholder">
		          <div class="bff-grid bff-grid--vertical-align-center bff-truncate">
		          	<div class="bff-dropdown__icon-container"><span class="bff-icon--cog bff-m-right--small"></span></div>
		          	<div class="bff-truncate">Item 1</div>
		          </div>
		        </a>
		      </li>
		      <li class="bff-dropdown__item">
		        <a href="#placeholder">
		          <div class="bff-grid bff-grid--vertical-align-center bff-truncate">
		          	<div class="bff-dropdown__icon-container"><span class="bff-icon--home bff-m-right--small"></span></div>
		          	<div class="bff-truncate">Item 2</div>
		          </div>
		        </a>
		      </li>
		      <li class="bff-dropdown__item">
		        <a href="#placeholder">
		          <div class="bff-grid bff-grid--vertical-align-center bff-truncate">
		          	<div class="bff-dropdown__icon-container"><span class="bff-icon--pen bff-m-right--small"></span></div>
		          	<div class="bff-truncate">Item 3</div>
		          </div>
		        </a>
		      </li>
		      <li class="bff-dropdown__item">
		        <a href="#placeholder" disabled>
		          <div class="bff-grid bff-grid--vertical-align-center bff-truncate">
		          	<div class="bff-dropdown__icon-container"><span class="bff-icon--feather bff-m-right--small"></span></div>
		          	<div class="bff-truncate">Item 4</div>
		          </div>
		        </a>
		      </li>
		      <li class="bff-dropdown__item">
		        <a href="#placeholder">
		          <div class="bff-grid bff-grid--vertical-align-center bff-truncate">
		          	<div class="bff-dropdown__icon-container"><span class="bff-icon--lock bff-m-right--small"></span></div>
		          	<div class="bff-truncate">Item 5</div>
		          </div>
		        </a>
		      </li>
		      <li class="bff-dropdown__item">
		        <a href="#placeholder">
		          <div class="bff-grid bff-grid--vertical-align-center bff-truncate">
		          	<div class="bff-dropdown__icon-container"><span class="bff-icon--key bff-m-right--small"></span></div>
		          	<div class="bff-truncate">Item 6</div>
		          </div>
		        </a>
		      </li>
		      <li class="bff-dropdown__item">
		        <a href="#placeholder">
		          <div class="bff-grid bff-grid--vertical-align-center bff-truncate">
		          	<div class="bff-dropdown__icon-container"><span class="bff-icon--star bff-m-right--small"></span></div>
		          	<div class="bff-truncate">Item 7</div>
		          </div>
		        </a>
		      </li>
		    </ul>
		  </div>
		</div>
	</div>
	<div class="bff-size--1-of-2">
		<div class="bff-dropdown-trigger bff-dropdown-trigger--hover">
		  <button class="bff-button">
				Dropdown
		    <span class="bff-dropdown__caret bff-icon--chevron-down"></span>
		  </button>
		  <div class="bff-dropdown bff-dropdown--left">
		    <ul class="bff-dropdown__list">
		      <li class="bff-dropdown__item">
		        <a href="#placeholder">
		          <div class="bff-grid bff-grid--vertical-align-center bff-truncate">
								Item 1
		          </div>
		        </a>
		      </li>
		      <li class="bff-dropdown__item">
		        <a href="#placeholder">
		          <div class="bff-grid bff-grid--vertical-align-center bff-truncate">
								Item 2
		          </div>
		        </a>
		      </li>
		      <li class="bff-dropdown__item">
		        <a href="#placeholder">
		          <div class="bff-grid bff-grid--vertical-align-center bff-truncate">
								Item 3
		          </div>
		        </a>
		      </li>
		      <li class="bff-dropdown__item">
		        <a href="#placeholder" disabled>
		          <div class="bff-grid bff-grid--vertical-align-center bff-truncate">
								Item 4
		          </div>
		        </a>
		      </li>
		      <li class="bff-dropdown__item">
		        <a href="#placeholder">
		          <div class="bff-grid bff-grid--vertical-align-center bff-truncate">
								Item 5
		          </div>
		        </a>
		      </li>
		      <li class="bff-dropdown__item">
		        <a href="#placeholder">
		          <div class="bff-grid bff-grid--vertical-align-center bff-truncate">
								Item 6
		          </div>
		        </a>
		      </li>
		      <li class="bff-dropdown__item">
		        <a href="#placeholder">
		          <div class="bff-grid bff-grid--vertical-align-center bff-truncate">
								Item 7
		          </div>
		        </a>
		      </li>
		    </ul>
		  </div>
		</div>
	</div>
</div>

<pre class="bff-m-bottom--large"><code class="language-html">&lt;div class="bff-dropdown-trigger bff-dropdown-trigger--click bff-is-open">
  &lt;button class="bff-button">
		Dropdown
    &lt;span class="bff-dropdown__caret bff-icon--chevron-down">&lt;/span>
  &lt;/button>
  &lt;div class="bff-dropdown bff-dropdown--left bff-dropdown--small">
    &lt;ul class="bff-dropdown__list bff-dropdown--length-with-icon-5">
      &lt;li class="bff-dropdown__item">
        &lt;a href="#placeholder">
          &lt;div class="bff-grid bff-grid--vertical-align-center bff-truncate">
          	&lt;div class="bff-dropdown__icon-container">&lt;span class="bff-icon--cog bff-m-right--small">&lt;/span>&lt;/div>
          	&lt;div class="bff-truncate">Item 1&lt;/div>
          &lt;/div>
        &lt;/a>
      &lt;/li>
      &lt;li class="bff-dropdown__item">
        &lt;a href="#placeholder">
          &lt;div class="bff-grid bff-grid--vertical-align-center bff-truncate">
          	&lt;div class="bff-dropdown__icon-container">&lt;span class="bff-icon--home bff-m-right--small">&lt;/span>&lt;/div>
          	&lt;div class="bff-truncate">Item 2&lt;/div>
          &lt;/div>
        &lt;/a>
      &lt;/li>
      &lt;li class="bff-dropdown__item">
        &lt;a href="#placeholder">
          &lt;div class="bff-grid bff-grid--vertical-align-center bff-truncate">
          	&lt;div class="bff-dropdown__icon-container">&lt;span class="bff-icon--pen bff-m-right--small">&lt;/span>&lt;/div>
          	&lt;div class="bff-truncate">Item 3&lt;/div>
          &lt;/div>
        &lt;/a>
      &lt;/li>
      &lt;li class="bff-dropdown__item">
        &lt;a href="#placeholder" disabled>
          &lt;div class="bff-grid bff-grid--vertical-align-center bff-truncate">
          	&lt;div class="bff-dropdown__icon-container">&lt;span class="bff-icon--feather bff-m-right--small">&lt;/span>&lt;/div>
          	&lt;div class="bff-truncate">Item 4&lt;/div>
          &lt;/div>
        &lt;/a>
      &lt;/li>
      &lt;li class="bff-dropdown__item">
        &lt;a href="#placeholder">
          &lt;div class="bff-grid bff-grid--vertical-align-center bff-truncate">
          	&lt;div class="bff-dropdown__icon-container">&lt;span class="bff-icon--lock bff-m-right--small">&lt;/span>&lt;/div>
          	&lt;div class="bff-truncate">Item 5&lt;/div>
          &lt;/div>
        &lt;/a>
      &lt;/li>
      &lt;li class="bff-dropdown__item">
        &lt;a href="#placeholder">
          &lt;div class="bff-grid bff-grid--vertical-align-center bff-truncate">
          	&lt;div class="bff-dropdown__icon-container">&lt;span class="bff-icon--key bff-m-right--small">&lt;/span>&lt;/div>
          	&lt;div class="bff-truncate">Item 6&lt;/div>
          &lt;/div>
        &lt;/a>
      &lt;/li>
      &lt;li class="bff-dropdown__item">
        &lt;a href="#placeholder">
          &lt;div class="bff-grid bff-grid--vertical-align-center bff-truncate">
          	&lt;div class="bff-dropdown__icon-container">&lt;span class="bff-icon--star bff-m-right--small">&lt;/span>&lt;/div>
          	&lt;div class="bff-truncate">Item 7&lt;/div>
          &lt;/div>
        &lt;/a>
      &lt;/li>
    &lt;/ul>
  &lt;/div>
&lt;/div>
</code></pre>

<h2 class="bff-text-heading--default">Usage</h2>
<table class="bff-table bff-table--compact bff-table--bordered bff-table--cell-buffer bff-table--striped bff-size--1-of-1" id="table--dropdowns-documentation"></table>
