<h1 class="bff-text-heading--x-large bff-p-top--x-large" id="inputs-anchor">Inputs</h1>

<h2 class="bff-text-heading--default">Inputs</h2>
<div class="example-container">
	<div>Coming Soon</div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;div class="coming-soon">&lt;/div>
</code></pre>

<h2 class="bff-text-heading--default">Usage</h2>
<table class="bff-table bff-table--compact bff-table--bordered bff-table--cell-buffer bff-table--striped bff-size--1-of-1" id="table--inputs-documentation"></table>
