<h1 class="bff-text-heading--x-large bff-p-top--x-large" id="labels-anchor">Labels</h1>

<h2 class="bff-text-heading--default">Labels - Sizes</h2>
<div class="example-container">
	<div class="bff-col bff-size--1-of-1">
		<span class="bff-p-around--small" style="background-color:#434A54">
	  	<span class="bff-label bff-label--small">Small</span>
		</span>
		<span class="bff-p-around--small" style="background-color:#434A54">
	  	<span class="bff-label">Default</span>
	  </span>
	</div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;span class="bff-label bff-label--small">Small&lt;/span>
&lt;span class="bff-label">Default&lt;/span>
</code></pre>

<h2 class="bff-text-heading--default">Labels - Colors</h2>
<div class="example-container">
	<div class="bff-col bff-size--1-of-1">
	  <span class="bff-label bff-label--success">Success</span>
	  <span class="bff-label bff-label--danger">Danger</span>
	  <span class="bff-label bff-label--warning">Warning</span>
	  <span class="bff-label bff-label--info">Info</span>
	  <span class="bff-label bff-label--lavender">Lavender</span>
	</div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;span class="bff-label bff-label--success">Success&lt;/span>
&lt;span class="bff-label bff-label--danger">Danger&lt;/span>
&lt;span class="bff-label bff-label--warning">Warning&lt;/span>
&lt;span class="bff-label bff-label--info">Info&lt;/span>
&lt;span class="bff-label bff-label--lavender">Lavender&lt;/span>
</code></pre>

<h2 class="bff-text-heading--default">Usage</h2>
<table class="bff-table bff-table--compact bff-table--bordered bff-table--cell-buffer bff-table--striped bff-size--1-of-1" id="table--labels-documentation"></table>
