<h1 class="bff-text-heading--x-large bff-p-top--x-large" id="loader-anchor">Loader</h1>

<h2 class="bff-text-heading--default">Loader - Default</h2>
<div class="example-container">
	<div class="bff-loader">
		<div class="bff-loader__dot-a"></div>
		<div class="bff-loader__dot-b"></div>
	</div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;div class="bff-loader">
	&lt;div class="bff-loader__dot-a">&lt;/div>
	&lt;div class="bff-loader__dot-b">&lt;/div>
&lt;/div>
</code></pre>

<h2 class="bff-text-heading--default">Loader - White</h2>
<div class="example-container" style="background-color:#434A54">
	<div class="bff-loader bff-loader--white">
		<div class="bff-loader__dot-a"></div>
		<div class="bff-loader__dot-b"></div>
	</div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;div class="bff-loader  bff-loader--white">
	&lt;div class="bff-loader__dot-a">&lt;/div>
	&lt;div class="bff-loader__dot-b">&lt;/div>
&lt;/div>
</code></pre>

<h2 class="bff-text-heading--default">Usage</h2>
<table class="bff-table bff-table--compact bff-table--bordered bff-table--cell-buffer bff-table--striped bff-size--1-of-1" id="table--loader-documentation"></table>
