<h1 class="bff-text-heading--x-large bff-p-top--x-large" id="square-buttons-anchor">Square Buttons</h1>

<h2 class="bff-text-heading--default">Button - Sizes</h2>
<div class="example-container">
	<div class="bff-col bff-size--1-of-1 bff-p-bottom--small">
	  <button class="bff-square-button bff-square-button--small"> <span class="bff-icon--cog bff-icon--small"></span></button>
		<button class="bff-square-button"> <span class="bff-icon--cog"></span></button>
		<button class="bff-square-button bff-square-button--large"> <span class="bff-icon--cog bff-icon--large"></span></button>
		<button class="bff-square-button bff-square-button--x-large"> <span class="bff-icon--cog bff-icon--x-large"></span></button>
	</div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;button type="button" class="bff-square-button bff-square-button--small">&lt;span class="bff-icon--cog bff-icon--small">&lt;/span>&lt;/button>
&lt;button type="button" class="bff-square-button">&lt;span class="bff-icon--cog">&lt;/span>&lt;/button>
&lt;button type="button" class="bff-square-button bff-square-button--large">&lt;span class="bff-icon--cog bff-icon--large">&lt;/span>&lt;/button>
&lt;button type="button" class="bff-square-button bff-square-button--x-large">&lt;span class="bff-icon--cog bff-icon--x-large">&lt;/span>&lt;/button>
</code></pre>

<h2 class="bff-text-heading--default">Button - Colors</h2>
<div class="example-container">
	<div class="bff-col bff-size--1-of-1 bff-p-bottom--small">
	  <button class="bff-square-button bff-square-button--booker"> <span class="bff-icon--cog"></span></button>
		<button class="bff-square-button bff-square-button--frederick"> <span class="bff-icon--cog"></span></button>
		<button class="bff-square-button bff-square-button--success"> <span class="bff-icon--cog"></span></button>
		<button class="bff-square-button bff-square-button--danger"> <span class="bff-icon--cog"></span></button>
		<button class="bff-square-button bff-square-button--warning"> <span class="bff-icon--cog"></span></button>
		<button class="bff-square-button bff-square-button--info"> <span class="bff-icon--cog"></span></button>
		<button class="bff-square-button bff-square-button--disabled"> <span class="bff-icon--cog"></span></button>
	</div>
	<div class="bff-col bff-size--1-of-1 bff-p-bottom--small">
	  <button class="bff-square-button bff-square-button--booker-outline"> <span class="bff-icon--cog"></span></button>
		<button class="bff-square-button bff-square-button--frederick-outline"> <span class="bff-icon--cog"></span></button>
		<button class="bff-square-button bff-square-button--success-outline"> <span class="bff-icon--cog"></span></button>
		<button class="bff-square-button bff-square-button--danger-outline"> <span class="bff-icon--cog"></span></button>
		<button class="bff-square-button bff-square-button--warning-outline"> <span class="bff-icon--cog"></span></button>
		<button class="bff-square-button bff-square-button--info-outline"> <span class="bff-icon--cog"></span></button>
	 	<div class="bff-show--inline-block bff-p-around--xx-small" style="background-color:#434A54">
	  	<button class="bff-square-button bff-square-button--white-outline"> <span class="bff-icon--cog"></span></button>
	  </div>
	</div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;button type="button" class=bff-square-button bff-square-button--booker">&lt;span class="bff-icon--cog bff-icon--large">&lt;/span>&lt;/button>
&lt;button type="button" class="bff-square-button bff-square-button--frederick">&lt;span class="bff-icon--cog bff-icon--large">&lt;/span>&lt;/button>
&lt;button type="button" class="bff-square-button bff-square-button--success">&lt;span class="bff-icon--cog bff-icon--large">&lt;/span>&lt;/button>
&lt;button type="button" class="bff-square-button bff-square-button--danger">&lt;span class="bff-icon--cog bff-icon--large">&lt;/span>&lt;/button>
&lt;button type="button" class="bff-square-button bff-square-button--warning">&lt;span class="bff-icon--cog bff-icon--large">&lt;/span>&lt;/button>
&lt;button type="button" class="bff-square-button bff-square-button--info">&lt;span class="bff-icon--cog bff-icon--large">&lt;/span>&lt;/button>
&lt;button type="button" class="bff-square-button bff-square-button--disabled">&lt;span class="bff-icon--cog bff-icon--large">&lt;/span>&lt;/button>
&lt;button type="button" class="bff-square-button bff-square-button--booker-outline">&lt;span class="bff-icon--cog bff-icon--large">&lt;/span>&lt;/button>
&lt;button type="button" class="bff-square-button bff-square-button--frederick-outline">&lt;span class="bff-icon--cog bff-icon--large">&lt;/span>&lt;/button>
&lt;button type="button" class="bff-square-button bff-square-button--success-outline">&lt;span class="bff-icon--cog bff-icon--large">&lt;/span>&lt;/button>
&lt;button type="button" class="bff-square-button bff-square-button--danger-outline">&lt;span class="bff-icon--cog bff-icon--large">&lt;/span>&lt;/button>
&lt;button type="button" class="bff-square-button bff-square-button--warning-outline">&lt;span class="bff-icon--cog bff-icon--large">&lt;/span>&lt;/button>
&lt;button type="button" class="bff-square-button bff-square-button--info-outline">&lt;span class="bff-icon--cog bff-icon--large">&lt;/span>&lt;/button>
&lt;button type="button" class="bff-square-button bff-square-button--white-outline">&lt;span class="bff-icon--cog bff-icon--large">&lt;/span>&lt;/button>
</code></pre>

<h2 class="bff-text-heading--default">Usage</h2>
<table class="bff-table bff-table--compact bff-table--bordered bff-table--cell-buffer bff-table--striped bff-size--1-of-1" id="table--square-buttons-documentation"></table>
