<h1 class="bff-text-heading--x-large bff-p-top--x-large" id="text-inputs-anchor">Text Inputs</h1>

<h2 class="bff-text-heading--default">Text Input - Default</h2>

<div class="example-container">
	<div class="bff-form-element">
		<label class="bff-form-element__label" >Input Label</label>
		<div class="bff-form-element__control">
			<input class="bff-input" type="text" placeholder="Placeholder Text" />
		</div>
	</div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;div class="bff-form-element">
	&lt;label class="bff-form-element__label" >Input Label&lt;/label>
	&lt;div class="bff-form-element__control">
		&lt;input class="bff-input" type="text" placeholder="Placeholder Text" />
	&lt;/div>
&lt;/div>
</code></pre>

<h2 class="bff-text-heading--default">Text Input - Error/Required</h2>
<div class="example-container">
	<div class="bff-form-element is-required bff-has-error">
		<label class="bff-form-element__label">
		<abbr class="bff-required">*</abbr> Input Label</label>
		<div class="bff-form-element__control">
			<input class="bff-input" type="text" placeholder="Placeholder Text" required="" />
		</div>
		<div class="bff-form-element__help">This field is required</div>
	</div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;div class="bff-form-element is-required bff-has-error">
	&lt;label class="bff-form-element__label">
	&lt;abbr class="bff-required">*&lt;/abbr> Input Label&lt;/label>
	&lt;div class="bff-form-element__control">
		&lt;input class="bff-input" type="text" placeholder="Placeholder Text" required="" />
	&lt;/div>
	&lt;div class="bff-form-element__help">This field is required&lt;/div>
&lt;/div>
</code></pre>
<h2 class="bff-text-heading--default">Text Input - Disabled</h2>
<div class="example-container">
	<div class="bff-form-element">
		<label class="bff-form-element__label">Input Label</label>
		<div class="bff-form-element__control">
			<input class="bff-input" type="text" placeholder="Placeholder Text" disabled="" />
		</div>
	</div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;div class="bff-form-element">
	&lt;label class="bff-form-element__label">Input Label&lt;/label>
	&lt;div class="bff-form-element__control">
		&lt;input class="bff-input" type="text" placeholder="Placeholder Text" disabled="" />
	&lt;/div>
&lt;/div>
</code></pre>
<h2 class="bff-text-heading--default">Text Input - Read Only</h2>
<div class="example-container">
	<div class="bff-form-element">
		<span class="bff-form-element__label">Input Label</span>
		<div class="bff-form-element__control bff-has-divider--bottom">
			<span class="bff-form-element__static">Read Only</span>
		</div>
	</div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;div class="bff-form-element">
	&lt;span class="bff-form-element__label">Input Label&lt;/span>
	&lt;div class="bff-form-element__control bff-has-divider--bottom">
		&lt;span class="bff-form-element__static">Read Only&lt;/span>
	&lt;/div>
&lt;/div>
</code></pre>
<h2 class="bff-text-heading--default">Text Input - With Icon Inside</h2>
<div class="example-container">
	<div class="bff-form-element">
	  <label class="bff-form-element__label">Input Label</label>
	  <div class="bff-form-element__control bff-input-has-icon bff-input-has-icon--left-right">
	  	<span class="bff-input__icon bff-input__icon--left bff-icon--user bff-icon--small"></span>
	    <input class="bff-input" placeholder="Placeholder Text" />
	    <span class="bff-input__icon bff-input__icon--right bff-icon--magnifier bff-icon--small"></span>
	  </div>
	</div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;div class="bff-form-element">
	  &lt;label class="bff-form-element__label">Input Label&lt;/label>
	  &lt;div class="bff-form-element__control bff-input-has-icon bff-input-has-icon--left-right">
	  	&lt;span class="bff-input__icon bff-input__icon--left bff-icon--user bff-icon--small">&lt;/span>
	    &lt;input class="bff-input" placeholder="Placeholder Text" />
	    &lt;span class="bff-input__icon bff-input__icon--right bff-icon--magnifier bff-icon--small">&lt;/span>
	  &lt;/div>
	&lt;/div>
</code></pre>
<h2 class="bff-text-heading--default">Text Input - With Icon Outside</h2>
<div class="example-container">
	<div class="bff-form-element">
		<label class="bff-form-element__label" >Input Label</label>
		<div class="bff-form-element__control bff-input-has-fixed-addon">
			<span class="bff-form-element__addon">$</span>
			<input class="bff-input" type="text" placeholder="Placeholder Text" />
			<span class="bff-form-element__addon">%</span>
		</div>
	</div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;div class="bff-form-element">
	&lt;label class="bff-form-element__label" >Input Label&lt;/label>
	&lt;div class="bff-form-element__control bff-input-has-fixed-addon">
		&lt;span class="bff-form-element__addon">$&lt;/span>
		&lt;input class="bff-input" type="text" placeholder="Placeholder Text" />
		&lt;span class="bff-form-element__addon">%&lt;/span>
	&lt;/div>
&lt;/div>
</code></pre>
<h2 class="bff-text-heading--default">Textarea </h2>
<div class="example-container">
	<div class="bff-form-element">
    <label class="bff-form-element__label">Textarea Label</label>
    <div class="bff-form-element__control">
      <textarea class="bff-textarea"></textarea>
    </div>
  </div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;div class="bff-form-element">
    &lt;label class="bff-form-element__label">Textarea Label&lt;/label>
    &lt;div class="bff-form-element__control">
      &lt;textarea class="bff-textarea">&lt;/textarea>
    &lt;/div>
  &lt;/div>
</code></pre>

<h2 class="bff-text-heading--default">Usage</h2>
<table class="bff-table bff-table--compact bff-table--bordered bff-table--cell-buffer bff-table--striped bff-size--1-of-1" id="table--text-inputs-documentation"></table>
