<h1 class="bff-text-heading--x-large bff-p-top--x-large" id="tool-tip-anchor">Tool Tip</h1>

<h2 class="bff-text-heading--default">Tool Tip</h2>
<div class="example-container">
	<div class="bff-tool-tip-trigger bff-tool-tip-trigger--hover bff-tool-tip-trigger--is-open">
		<span class="bff-icon--notification-circle"></span>
		<div class="bff-tool-tip bff-tool-tip--right" style="">Surprise! Information.</div>
	</div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;div class="bff-tool-tip-trigger bff-tool-tip-trigger--hover bff-tool-tip-trigger--is-open">
	&lt;span class="bff-icon--notification-circle">&lt;/span>
	&lt;div class="bff-tool-tip bff-tool-tip--right" style="">Surprise! Information.&lt;/div>
&lt;/div>
</code></pre>

<h2 class="bff-text-heading--default">Usage</h2>
<table class="bff-table bff-table--compact bff-table--bordered bff-table--cell-buffer bff-table--striped bff-size--1-of-1" id="table--tool-tip-documentation"></table>
