// Form Controls

// Inputs
///////////////////////// Input Mixins ////////
@mixin form-input-container {
  background-color: $input-background--color;
  color: $font-color--default;
  border: $input-border--width solid $input-border--color { radius: $input-border--radius; };
  width: 100%;
}

@mixin form-input-focus {
  outline: 0;
  border-color: $input-border--focus;
  box-shadow: $input-box-shadow--focus 0 0 0 $input-border--width inset;
}

@mixin form-input-disabled {
  background-color: $input-background--disabled;
  border-color: $input-border--disabled;
  cursor: not-allowed;
  user-select: none;

  &:focus,
  &:active {
    box-shadow: none;
  }
}

@mixin form-element-vertical-spacing {
  margin-top: $spacing--small;

  @include mq-small-min {
    margin-top: $spacing--x-small;
  }
}

@mixin form-input-error($element: null) {
  @if $element != null {
    #{$element} {
      background-color: $input-background--color;
      border-color: $danger--color;
      box-shadow: $danger--color 0 0 0 $input-border--width inset;
      background-clip: padding-box;

      &:focus,
      &:active {
        box-shadow: $danger--color 0 0 0 $input-border--width inset, $input-box-shadow--focus;
      }
   }
  }
}

@mixin form-states {
  @include form-input-container;
  //transition: border $duration-quickly linear, background-color $duration-quickly linear;

  &:focus,
  &:active {
    @include form-input-focus;
  }

  &[disabled],
  &.#{$css-prefix}is-disabled {
    @include form-input-disabled;
  }
}

@mixin input-size($input-height, $padding-vertical, $padding-horizontal, $font-size, $line-height) {
  height: $input-height;
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  min-height: calc(#{$input-height} + (1px * 2)); // For IE
}


////////////////////////// Inputs 
.#{$css-prefix}input {
  @include form-states;
  display: inline-block;
  padding: $input-padding-y $input-padding-x;
  line-height: $line-height;
  min-height: calc(#{$input-height} + (1px * 2)); // For IE

  // Input bare
  //
  // Removes aesthetic nature from an input
  &--bare {
    background-color: transparent;
    border: 0;
    padding: {
      top: 0;
      bottom: 0;
      left: $spacer-x;
    }
    color: $font-color--default;
    line-height: $line-height;

    &:focus,
    &:active {
      outline: 0;
    }
  }

  // Input Height
  //
  // Used to apply an <input> size to another element thats a non <input>
  // Because sometimes I need elements the same height as inputs
  &--height {
    min-height: calc(#{$input-height} + (1px * 2)); // For IE
  }
}

// Error Styles
.#{$css-prefix}has-error {
  @include form-input-error('.#{$css-prefix}input');

  .#{$css-prefix}input__icon {
    fill: $danger--color;
  }
}

.#{$css-prefix}input--small{ @include input-size($input-height--small, $input-padding-y--small, $input-padding-x--small, $font-size--small, $line-height) }
.#{$css-prefix}input--large{ @include input-size($input-height--large, $input-padding-y--large, $input-padding-x--large, $font-size--large, $line-height) }


