@font-face {
  font-family: 'iconfont';
  src:  url('fonts/iconfont.eot?hg5qdv');
  src:  url('fonts/iconfont.eot?hg5qdv#iefix') format('embedded-opentype'),
    url('fonts/iconfont.ttf?hg5qdv') format('truetype'),
    url('fonts/iconfont.woff?hg5qdv') format('woff'),
    url('fonts/iconfont.svg?hg5qdv#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="bff-icon--"], [class*=" bff-icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: $icon-size--normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bff-icon--small{font-size: $icon-size--small; } 
.bff-icon--normal{font-size: $icon-size--normal; }
.bff-icon--large{font-size: $icon-size--large; }

.bff-icon--home:before {
  content: "\e600";
}
.bff-icon--home2:before {
  content: "\e601";
}
.bff-icon--home3:before {
  content: "\e602";
}
.bff-icon--home4:before {
  content: "\e603";
}
.bff-icon--home5:before {
  content: "\e604";
}
.bff-icon--home6:before {
  content: "\e605";
}
.bff-icon--bathtub:before {
  content: "\e606";
}
.bff-icon--toothbrush:before {
  content: "\e607";
}
.bff-icon--bed:before {
  content: "\e608";
}
.bff-icon--couch:before {
  content: "\e609";
}
.bff-icon--chair:before {
  content: "\e60a";
}
.bff-icon--city:before {
  content: "\e60b";
}
.bff-icon--apartment:before {
  content: "\e60c";
}
.bff-icon--pencil:before {
  content: "\e60d";
}
.bff-icon--pencil2:before {
  content: "\e60e";
}
.bff-icon--pen:before {
  content: "\e60f";
}
.bff-icon--pencil3:before {
  content: "\e610";
}
.bff-icon--eraser:before {
  content: "\e611";
}
.bff-icon--pencil4:before {
  content: "\e612";
}
.bff-icon--pencil5:before {
  content: "\e613";
}
.bff-icon--feather:before {
  content: "\e614";
}
.bff-icon--feather2:before {
  content: "\e615";
}
.bff-icon--feather3:before {
  content: "\e616";
}
.bff-icon--pen2:before {
  content: "\e617";
}
.bff-icon--pen-add:before {
  content: "\e618";
}
.bff-icon--pen-remove:before {
  content: "\e619";
}
.bff-icon--vector:before {
  content: "\e61a";
}
.bff-icon--pen3:before {
  content: "\e61b";
}
.bff-icon--blog:before {
  content: "\e61c";
}
.bff-icon--brush:before {
  content: "\e61d";
}
.bff-icon--brush2:before {
  content: "\e61e";
}
.bff-icon--spray:before {
  content: "\e61f";
}
.bff-icon--paint-roller:before {
  content: "\e620";
}
.bff-icon--stamp:before {
  content: "\e621";
}
.bff-icon--tape:before {
  content: "\e622";
}
.bff-icon--desk-tape:before {
  content: "\e623";
}
.bff-icon--texture:before {
  content: "\e624";
}
.bff-icon--eye-dropper:before {
  content: "\e625";
}
.bff-icon--palette:before {
  content: "\e626";
}
.bff-icon--color-sampler:before {
  content: "\e627";
}
.bff-icon--bucket:before {
  content: "\e628";
}
.bff-icon--gradient:before {
  content: "\e629";
}
.bff-icon--gradient2:before {
  content: "\e62a";
}
.bff-icon--magic-wand:before {
  content: "\e62b";
}
.bff-icon--magnet:before {
  content: "\e62c";
}
.bff-icon--pencil-ruler:before {
  content: "\e62d";
}
.bff-icon--pencil-ruler2:before {
  content: "\e62e";
}
.bff-icon--compass:before {
  content: "\e62f";
}
.bff-icon--aim:before {
  content: "\e630";
}
.bff-icon--gun:before {
  content: "\e631";
}
.bff-icon--bottle:before {
  content: "\e632";
}
.bff-icon--drop:before {
  content: "\e633";
}
.bff-icon--drop-crossed:before {
  content: "\e634";
}
.bff-icon--drop2:before {
  content: "\e635";
}
.bff-icon--snow:before {
  content: "\e636";
}
.bff-icon--snow2:before {
  content: "\e637";
}
.bff-icon--fire:before {
  content: "\e638";
}
.bff-icon--lighter:before {
  content: "\e639";
}
.bff-icon--knife:before {
  content: "\e63a";
}
.bff-icon--dagger:before {
  content: "\e63b";
}
.bff-icon--tissue:before {
  content: "\e63c";
}
.bff-icon--toilet-paper:before {
  content: "\e63d";
}
.bff-icon--poop:before {
  content: "\e63e";
}
.bff-icon--umbrella:before {
  content: "\e63f";
}
.bff-icon--umbrella2:before {
  content: "\e640";
}
.bff-icon--rain:before {
  content: "\e641";
}
.bff-icon--tornado:before {
  content: "\e642";
}
.bff-icon--wind:before {
  content: "\e643";
}
.bff-icon--fan:before {
  content: "\e644";
}
.bff-icon--contrast:before {
  content: "\e645";
}
.bff-icon--sun-small:before {
  content: "\e646";
}
.bff-icon--sun:before {
  content: "\e647";
}
.bff-icon--sun2:before {
  content: "\e648";
}
.bff-icon--moon:before {
  content: "\e649";
}
.bff-icon--cloud:before {
  content: "\e64a";
}
.bff-icon--cloud-upload:before {
  content: "\e64b";
}
.bff-icon--cloud-download:before {
  content: "\e64c";
}
.bff-icon--cloud-rain:before {
  content: "\e64d";
}
.bff-icon--cloud-hailstones:before {
  content: "\e64e";
}
.bff-icon--cloud-snow:before {
  content: "\e64f";
}
.bff-icon--cloud-windy:before {
  content: "\e650";
}
.bff-icon--sun-wind:before {
  content: "\e651";
}
.bff-icon--cloud-fog:before {
  content: "\e652";
}
.bff-icon--cloud-sun:before {
  content: "\e653";
}
.bff-icon--cloud-lightning:before {
  content: "\e654";
}
.bff-icon--cloud-sync:before {
  content: "\e655";
}
.bff-icon--cloud-lock:before {
  content: "\e656";
}
.bff-icon--cloud-gear:before {
  content: "\e657";
}
.bff-icon--cloud-alert:before {
  content: "\e658";
}
.bff-icon--cloud-check:before {
  content: "\e659";
}
.bff-icon--cloud-cross:before {
  content: "\e65a";
}
.bff-icon--cloud-crossed:before {
  content: "\e65b";
}
.bff-icon--cloud-database:before {
  content: "\e65c";
}
.bff-icon--database:before {
  content: "\e65d";
}
.bff-icon--database-add:before {
  content: "\e65e";
}
.bff-icon--database-remove:before {
  content: "\e65f";
}
.bff-icon--database-lock:before {
  content: "\e660";
}
.bff-icon--database-refresh:before {
  content: "\e661";
}
.bff-icon--database-check:before {
  content: "\e662";
}
.bff-icon--database-history:before {
  content: "\e663";
}
.bff-icon--database-upload:before {
  content: "\e664";
}
.bff-icon--database-download:before {
  content: "\e665";
}
.bff-icon--server:before {
  content: "\e666";
}
.bff-icon--shield:before {
  content: "\e667";
}
.bff-icon--shield-check:before {
  content: "\e668";
}
.bff-icon--shield-alert:before {
  content: "\e669";
}
.bff-icon--shield-cross:before {
  content: "\e66a";
}
.bff-icon--lock:before {
  content: "\e66b";
}
.bff-icon--rotation-lock:before {
  content: "\e66c";
}
.bff-icon--unlock:before {
  content: "\e66d";
}
.bff-icon--key:before {
  content: "\e66e";
}
.bff-icon--key-hole:before {
  content: "\e66f";
}
.bff-icon--toggle-off:before {
  content: "\e670";
}
.bff-icon--toggle-on:before {
  content: "\e671";
}
.bff-icon--cog:before {
  content: "\e672";
}
.bff-icon--cog2:before {
  content: "\e673";
}
.bff-icon--wrench:before {
  content: "\e674";
}
.bff-icon--screwdriver:before {
  content: "\e675";
}
.bff-icon--hammer-wrench:before {
  content: "\e676";
}
.bff-icon--hammer:before {
  content: "\e677";
}
.bff-icon--saw:before {
  content: "\e678";
}
.bff-icon--axe:before {
  content: "\e679";
}
.bff-icon--axe2:before {
  content: "\e67a";
}
.bff-icon--shovel:before {
  content: "\e67b";
}
.bff-icon--pickaxe:before {
  content: "\e67c";
}
.bff-icon--factory:before {
  content: "\e67d";
}
.bff-icon--factory2:before {
  content: "\e67e";
}
.bff-icon--recycle:before {
  content: "\e67f";
}
.bff-icon--trash:before {
  content: "\e680";
}
.bff-icon--trash2:before {
  content: "\e681";
}
.bff-icon--trash3:before {
  content: "\e682";
}
.bff-icon--broom:before {
  content: "\e683";
}
.bff-icon--game:before {
  content: "\e684";
}
.bff-icon--gamepad:before {
  content: "\e685";
}
.bff-icon--joystick:before {
  content: "\e686";
}
.bff-icon--dice:before {
  content: "\e687";
}
.bff-icon--spades:before {
  content: "\e688";
}
.bff-icon--diamonds:before {
  content: "\e689";
}
.bff-icon--clubs:before {
  content: "\e68a";
}
.bff-icon--hearts:before {
  content: "\e68b";
}
.bff-icon--heart:before {
  content: "\e68c";
}
.bff-icon--star:before {
  content: "\e68d";
}
.bff-icon--star-half:before {
  content: "\e68e";
}
.bff-icon--star-empty:before {
  content: "\e68f";
}
.bff-icon--flag:before {
  content: "\e690";
}
.bff-icon--flag2:before {
  content: "\e691";
}
.bff-icon--flag3:before {
  content: "\e692";
}
.bff-icon--mailbox-full:before {
  content: "\e693";
}
.bff-icon--mailbox-empty:before {
  content: "\e694";
}
.bff-icon--at-sign:before {
  content: "\e695";
}
.bff-icon--envelope:before {
  content: "\e696";
}
.bff-icon--envelope-open:before {
  content: "\e697";
}
.bff-icon--paperclip:before {
  content: "\e698";
}
.bff-icon--paper-plane:before {
  content: "\e699";
}
.bff-icon--reply:before {
  content: "\e69a";
}
.bff-icon--reply-all:before {
  content: "\e69b";
}
.bff-icon--inbox:before {
  content: "\e69c";
}
.bff-icon--inbox2:before {
  content: "\e69d";
}
.bff-icon--outbox:before {
  content: "\e69e";
}
.bff-icon--box:before {
  content: "\e69f";
}
.bff-icon--archive:before {
  content: "\e6a0";
}
.bff-icon--archive2:before {
  content: "\e6a1";
}
.bff-icon--drawers:before {
  content: "\e6a2";
}
.bff-icon--drawers2:before {
  content: "\e6a3";
}
.bff-icon--drawers3:before {
  content: "\e6a4";
}
.bff-icon--eye:before {
  content: "\e6a5";
}
.bff-icon--eye-crossed:before {
  content: "\e6a6";
}
.bff-icon--eye-plus:before {
  content: "\e6a7";
}
.bff-icon--eye-minus:before {
  content: "\e6a8";
}
.bff-icon--binoculars:before {
  content: "\e6a9";
}
.bff-icon--binoculars2:before {
  content: "\e6aa";
}
.bff-icon--hdd:before {
  content: "\e6ab";
}
.bff-icon--hdd-down:before {
  content: "\e6ac";
}
.bff-icon--hdd-up:before {
  content: "\e6ad";
}
.bff-icon--floppy-disk:before {
  content: "\e6ae";
}
.bff-icon--disc:before {
  content: "\e6af";
}
.bff-icon--tape2:before {
  content: "\e6b0";
}
.bff-icon--printer:before {
  content: "\e6b1";
}
.bff-icon--shredder:before {
  content: "\e6b2";
}
.bff-icon--file-empty:before {
  content: "\e6b3";
}
.bff-icon--file-add:before {
  content: "\e6b4";
}
.bff-icon--file-check:before {
  content: "\e6b5";
}
.bff-icon--file-lock:before {
  content: "\e6b6";
}
.bff-icon--files:before {
  content: "\e6b7";
}
.bff-icon--copy:before {
  content: "\e6b8";
}
.bff-icon--compare:before {
  content: "\e6b9";
}
.bff-icon--folder:before {
  content: "\e6ba";
}
.bff-icon--folder-search:before {
  content: "\e6bb";
}
.bff-icon--folder-plus:before {
  content: "\e6bc";
}
.bff-icon--folder-minus:before {
  content: "\e6bd";
}
.bff-icon--folder-download:before {
  content: "\e6be";
}
.bff-icon--folder-upload:before {
  content: "\e6bf";
}
.bff-icon--folder-star:before {
  content: "\e6c0";
}
.bff-icon--folder-heart:before {
  content: "\e6c1";
}
.bff-icon--folder-user:before {
  content: "\e6c2";
}
.bff-icon--folder-shared:before {
  content: "\e6c3";
}
.bff-icon--folder-music:before {
  content: "\e6c4";
}
.bff-icon--folder-picture:before {
  content: "\e6c5";
}
.bff-icon--folder-film:before {
  content: "\e6c6";
}
.bff-icon--scissors:before {
  content: "\e6c7";
}
.bff-icon--paste:before {
  content: "\e6c8";
}
.bff-icon--clipboard-empty:before {
  content: "\e6c9";
}
.bff-icon--clipboard-pencil:before {
  content: "\e6ca";
}
.bff-icon--clipboard-text:before {
  content: "\e6cb";
}
.bff-icon--clipboard-check:before {
  content: "\e6cc";
}
.bff-icon--clipboard-down:before {
  content: "\e6cd";
}
.bff-icon--clipboard-left:before {
  content: "\e6ce";
}
.bff-icon--clipboard-alert:before {
  content: "\e6cf";
}
.bff-icon--clipboard-user:before {
  content: "\e6d0";
}
.bff-icon--register:before {
  content: "\e6d1";
}
.bff-icon--enter:before {
  content: "\e6d2";
}
.bff-icon--exit:before {
  content: "\e6d3";
}
.bff-icon--papers:before {
  content: "\e6d4";
}
.bff-icon--news:before {
  content: "\e6d5";
}
.bff-icon--reading:before {
  content: "\e6d6";
}
.bff-icon--typewriter:before {
  content: "\e6d7";
}
.bff-icon--document:before {
  content: "\e6d8";
}
.bff-icon--document2:before {
  content: "\e6d9";
}
.bff-icon--graduation-hat:before {
  content: "\e6da";
}
.bff-icon--license:before {
  content: "\e6db";
}
.bff-icon--license2:before {
  content: "\e6dc";
}
.bff-icon--medal-empty:before {
  content: "\e6dd";
}
.bff-icon--medal-first:before {
  content: "\e6de";
}
.bff-icon--medal-second:before {
  content: "\e6df";
}
.bff-icon--medal-third:before {
  content: "\e6e0";
}
.bff-icon--podium:before {
  content: "\e6e1";
}
.bff-icon--trophy:before {
  content: "\e6e2";
}
.bff-icon--trophy2:before {
  content: "\e6e3";
}
.bff-icon--music-note:before {
  content: "\e6e4";
}
.bff-icon--music-note2:before {
  content: "\e6e5";
}
.bff-icon--music-note3:before {
  content: "\e6e6";
}
.bff-icon--playlist:before {
  content: "\e6e7";
}
.bff-icon--playlist-add:before {
  content: "\e6e8";
}
.bff-icon--guitar:before {
  content: "\e6e9";
}
.bff-icon--trumpet:before {
  content: "\e6ea";
}
.bff-icon--album:before {
  content: "\e6eb";
}
.bff-icon--shuffle:before {
  content: "\e6ec";
}
.bff-icon--repeat-one:before {
  content: "\e6ed";
}
.bff-icon--repeat:before {
  content: "\e6ee";
}
.bff-icon--headphones:before {
  content: "\e6ef";
}
.bff-icon--headset:before {
  content: "\e6f0";
}
.bff-icon--loudspeaker:before {
  content: "\e6f1";
}
.bff-icon--equalizer:before {
  content: "\e6f2";
}
.bff-icon--theater:before {
  content: "\e6f3";
}
.bff-icon--3d-glasses:before {
  content: "\e6f4";
}
.bff-icon--ticket:before {
  content: "\e6f5";
}
.bff-icon--presentation:before {
  content: "\e6f6";
}
.bff-icon--play:before {
  content: "\e6f7";
}
.bff-icon--film-play:before {
  content: "\e6f8";
}
.bff-icon--clapboard-play:before {
  content: "\e6f9";
}
.bff-icon--media:before {
  content: "\e6fa";
}
.bff-icon--film:before {
  content: "\e6fb";
}
.bff-icon--film2:before {
  content: "\e6fc";
}
.bff-icon--surveillance:before {
  content: "\e6fd";
}
.bff-icon--surveillance2:before {
  content: "\e6fe";
}
.bff-icon--camera:before {
  content: "\e6ff";
}
.bff-icon--camera-crossed:before {
  content: "\e700";
}
.bff-icon--camera-play:before {
  content: "\e701";
}
.bff-icon--time-lapse:before {
  content: "\e702";
}
.bff-icon--record:before {
  content: "\e703";
}
.bff-icon--camera2:before {
  content: "\e704";
}
.bff-icon--camera-flip:before {
  content: "\e705";
}
.bff-icon--panorama:before {
  content: "\e706";
}
.bff-icon--time-lapse2:before {
  content: "\e707";
}
.bff-icon--shutter:before {
  content: "\e708";
}
.bff-icon--shutter2:before {
  content: "\e709";
}
.bff-icon--face-detection:before {
  content: "\e70a";
}
.bff-icon--flare:before {
  content: "\e70b";
}
.bff-icon--convex:before {
  content: "\e70c";
}
.bff-icon--concave:before {
  content: "\e70d";
}
.bff-icon--picture:before {
  content: "\e70e";
}
.bff-icon--picture2:before {
  content: "\e70f";
}
.bff-icon--picture3:before {
  content: "\e710";
}
.bff-icon--pictures:before {
  content: "\e711";
}
.bff-icon--book:before {
  content: "\e712";
}
.bff-icon--audio-book:before {
  content: "\e713";
}
.bff-icon--book2:before {
  content: "\e714";
}
.bff-icon--bookmark:before {
  content: "\e715";
}
.bff-icon--bookmark2:before {
  content: "\e716";
}
.bff-icon--label:before {
  content: "\e717";
}
.bff-icon--library:before {
  content: "\e718";
}
.bff-icon--library2:before {
  content: "\e719";
}
.bff-icon--contacts:before {
  content: "\e71a";
}
.bff-icon--profile:before {
  content: "\e71b";
}
.bff-icon--portrait:before {
  content: "\e71c";
}
.bff-icon--portrait2:before {
  content: "\e71d";
}
.bff-icon--user:before {
  content: "\e71e";
}
.bff-icon--user-plus:before {
  content: "\e71f";
}
.bff-icon--user-minus:before {
  content: "\e720";
}
.bff-icon--user-lock:before {
  content: "\e721";
}
.bff-icon--users:before {
  content: "\e722";
}
.bff-icon--users2:before {
  content: "\e723";
}
.bff-icon--users-plus:before {
  content: "\e724";
}
.bff-icon--users-minus:before {
  content: "\e725";
}
.bff-icon--group-work:before {
  content: "\e726";
}
.bff-icon--woman:before {
  content: "\e727";
}
.bff-icon--man:before {
  content: "\e728";
}
.bff-icon--baby:before {
  content: "\e729";
}
.bff-icon--baby2:before {
  content: "\e72a";
}
.bff-icon--baby3:before {
  content: "\e72b";
}
.bff-icon--baby-bottle:before {
  content: "\e72c";
}
.bff-icon--walk:before {
  content: "\e72d";
}
.bff-icon--hand-waving:before {
  content: "\e72e";
}
.bff-icon--jump:before {
  content: "\e72f";
}
.bff-icon--run:before {
  content: "\e730";
}
.bff-icon--woman2:before {
  content: "\e731";
}
.bff-icon--man2:before {
  content: "\e732";
}
.bff-icon--man-woman:before {
  content: "\e733";
}
.bff-icon--height:before {
  content: "\e734";
}
.bff-icon--weight:before {
  content: "\e735";
}
.bff-icon--scale:before {
  content: "\e736";
}
.bff-icon--button:before {
  content: "\e737";
}
.bff-icon--bow-tie:before {
  content: "\e738";
}
.bff-icon--tie:before {
  content: "\e739";
}
.bff-icon--socks:before {
  content: "\e73a";
}
.bff-icon--shoe:before {
  content: "\e73b";
}
.bff-icon--shoes:before {
  content: "\e73c";
}
.bff-icon--hat:before {
  content: "\e73d";
}
.bff-icon--pants:before {
  content: "\e73e";
}
.bff-icon--shorts:before {
  content: "\e73f";
}
.bff-icon--flip-flops:before {
  content: "\e740";
}
.bff-icon--shirt:before {
  content: "\e741";
}
.bff-icon--hanger:before {
  content: "\e742";
}
.bff-icon--laundry:before {
  content: "\e743";
}
.bff-icon--store:before {
  content: "\e744";
}
.bff-icon--haircut:before {
  content: "\e745";
}
.bff-icon--store-24:before {
  content: "\e746";
}
.bff-icon--barcode:before {
  content: "\e747";
}
.bff-icon--barcode2:before {
  content: "\e748";
}
.bff-icon--barcode3:before {
  content: "\e749";
}
.bff-icon--cashier:before {
  content: "\e74a";
}
.bff-icon--bag:before {
  content: "\e74b";
}
.bff-icon--bag2:before {
  content: "\e74c";
}
.bff-icon--cart:before {
  content: "\e74d";
}
.bff-icon--cart-empty:before {
  content: "\e74e";
}
.bff-icon--cart-full:before {
  content: "\e74f";
}
.bff-icon--cart-plus:before {
  content: "\e750";
}
.bff-icon--cart-plus2:before {
  content: "\e751";
}
.bff-icon--cart-add:before {
  content: "\e752";
}
.bff-icon--cart-remove:before {
  content: "\e753";
}
.bff-icon--cart-exchange:before {
  content: "\e754";
}
.bff-icon--tag:before {
  content: "\e755";
}
.bff-icon--tags:before {
  content: "\e756";
}
.bff-icon--receipt:before {
  content: "\e757";
}
.bff-icon--wallet:before {
  content: "\e758";
}
.bff-icon--credit-card:before {
  content: "\e759";
}
.bff-icon--cash-dollar:before {
  content: "\e75a";
}
.bff-icon--cash-euro:before {
  content: "\e75b";
}
.bff-icon--cash-pound:before {
  content: "\e75c";
}
.bff-icon--cash-yen:before {
  content: "\e75d";
}
.bff-icon--bag-dollar:before {
  content: "\e75e";
}
.bff-icon--bag-euro:before {
  content: "\e75f";
}
.bff-icon--bag-pound:before {
  content: "\e760";
}
.bff-icon--bag-yen:before {
  content: "\e761";
}
.bff-icon--coin-dollar:before {
  content: "\e762";
}
.bff-icon--coin-euro:before {
  content: "\e763";
}
.bff-icon--coin-pound:before {
  content: "\e764";
}
.bff-icon--coin-yen:before {
  content: "\e765";
}
.bff-icon--calculator:before {
  content: "\e766";
}
.bff-icon--calculator2:before {
  content: "\e767";
}
.bff-icon--abacus:before {
  content: "\e768";
}
.bff-icon--vault:before {
  content: "\e769";
}
.bff-icon--telephone:before {
  content: "\e76a";
}
.bff-icon--phone-lock:before {
  content: "\e76b";
}
.bff-icon--phone-wave:before {
  content: "\e76c";
}
.bff-icon--phone-pause:before {
  content: "\e76d";
}
.bff-icon--phone-outgoing:before {
  content: "\e76e";
}
.bff-icon--phone-incoming:before {
  content: "\e76f";
}
.bff-icon--phone-in-out:before {
  content: "\e770";
}
.bff-icon--phone-error:before {
  content: "\e771";
}
.bff-icon--phone-sip:before {
  content: "\e772";
}
.bff-icon--phone-plus:before {
  content: "\e773";
}
.bff-icon--phone-minus:before {
  content: "\e774";
}
.bff-icon--voicemail:before {
  content: "\e775";
}
.bff-icon--dial:before {
  content: "\e776";
}
.bff-icon--telephone2:before {
  content: "\e777";
}
.bff-icon--pushpin:before {
  content: "\e778";
}
.bff-icon--pushpin2:before {
  content: "\e779";
}
.bff-icon--map-marker:before {
  content: "\e77a";
}
.bff-icon--map-marker-user:before {
  content: "\e77b";
}
.bff-icon--map-marker-down:before {
  content: "\e77c";
}
.bff-icon--map-marker-check:before {
  content: "\e77d";
}
.bff-icon--map-marker-crossed:before {
  content: "\e77e";
}
.bff-icon--radar:before {
  content: "\e77f";
}
.bff-icon--compass2:before {
  content: "\e780";
}
.bff-icon--map:before {
  content: "\e781";
}
.bff-icon--map2:before {
  content: "\e782";
}
.bff-icon--location:before {
  content: "\e783";
}
.bff-icon--road-sign:before {
  content: "\e784";
}
.bff-icon--calendar-empty:before {
  content: "\e785";
}
.bff-icon--calendar-check:before {
  content: "\e786";
}
.bff-icon--calendar-cross:before {
  content: "\e787";
}
.bff-icon--calendar-31:before {
  content: "\e788";
}
.bff-icon--calendar-full:before {
  content: "\e789";
}
.bff-icon--calendar-insert:before {
  content: "\e78a";
}
.bff-icon--calendar-text:before {
  content: "\e78b";
}
.bff-icon--calendar-user:before {
  content: "\e78c";
}
.bff-icon--mouse:before {
  content: "\e78d";
}
.bff-icon--mouse-left:before {
  content: "\e78e";
}
.bff-icon--mouse-right:before {
  content: "\e78f";
}
.bff-icon--mouse-both:before {
  content: "\e790";
}
.bff-icon--keyboard:before {
  content: "\e791";
}
.bff-icon--keyboard-up:before {
  content: "\e792";
}
.bff-icon--keyboard-down:before {
  content: "\e793";
}
.bff-icon--delete:before {
  content: "\e794";
}
.bff-icon--spell-check:before {
  content: "\e795";
}
.bff-icon--escape:before {
  content: "\e796";
}
.bff-icon--enter2:before {
  content: "\e797";
}
.bff-icon--screen:before {
  content: "\e798";
}
.bff-icon--aspect-ratio:before {
  content: "\e799";
}
.bff-icon--signal:before {
  content: "\e79a";
}
.bff-icon--signal-lock:before {
  content: "\e79b";
}
.bff-icon--signal-80:before {
  content: "\e79c";
}
.bff-icon--signal-60:before {
  content: "\e79d";
}
.bff-icon--signal-40:before {
  content: "\e79e";
}
.bff-icon--signal-20:before {
  content: "\e79f";
}
.bff-icon--signal-0:before {
  content: "\e7a0";
}
.bff-icon--signal-blocked:before {
  content: "\e7a1";
}
.bff-icon--sim:before {
  content: "\e7a2";
}
.bff-icon--flash-memory:before {
  content: "\e7a3";
}
.bff-icon--usb-drive:before {
  content: "\e7a4";
}
.bff-icon--phone:before {
  content: "\e7a5";
}
.bff-icon--smartphone:before {
  content: "\e7a6";
}
.bff-icon--smartphone-notification:before {
  content: "\e7a7";
}
.bff-icon--smartphone-vibration:before {
  content: "\e7a8";
}
.bff-icon--smartphone-embed:before {
  content: "\e7a9";
}
.bff-icon--smartphone-waves:before {
  content: "\e7aa";
}
.bff-icon--tablet:before {
  content: "\e7ab";
}
.bff-icon--tablet2:before {
  content: "\e7ac";
}
.bff-icon--laptop:before {
  content: "\e7ad";
}
.bff-icon--laptop-phone:before {
  content: "\e7ae";
}
.bff-icon--desktop:before {
  content: "\e7af";
}
.bff-icon--launch:before {
  content: "\e7b0";
}
.bff-icon--new-tab:before {
  content: "\e7b1";
}
.bff-icon--window:before {
  content: "\e7b2";
}
.bff-icon--cable:before {
  content: "\e7b3";
}
.bff-icon--cable2:before {
  content: "\e7b4";
}
.bff-icon--tv:before {
  content: "\e7b5";
}
.bff-icon--radio:before {
  content: "\e7b6";
}
.bff-icon--remote-control:before {
  content: "\e7b7";
}
.bff-icon--power-switch:before {
  content: "\e7b8";
}
.bff-icon--power:before {
  content: "\e7b9";
}
.bff-icon--power-crossed:before {
  content: "\e7ba";
}
.bff-icon--flash-auto:before {
  content: "\e7bb";
}
.bff-icon--lamp:before {
  content: "\e7bc";
}
.bff-icon--flashlight:before {
  content: "\e7bd";
}
.bff-icon--lampshade:before {
  content: "\e7be";
}
.bff-icon--cord:before {
  content: "\e7bf";
}
.bff-icon--outlet:before {
  content: "\e7c0";
}
.bff-icon--battery-power:before {
  content: "\e7c1";
}
.bff-icon--battery-empty:before {
  content: "\e7c2";
}
.bff-icon--battery-alert:before {
  content: "\e7c3";
}
.bff-icon--battery-error:before {
  content: "\e7c4";
}
.bff-icon--battery-low1:before {
  content: "\e7c5";
}
.bff-icon--battery-low2:before {
  content: "\e7c6";
}
.bff-icon--battery-low3:before {
  content: "\e7c7";
}
.bff-icon--battery-mid1:before {
  content: "\e7c8";
}
.bff-icon--battery-mid2:before {
  content: "\e7c9";
}
.bff-icon--battery-mid3:before {
  content: "\e7ca";
}
.bff-icon--battery-full:before {
  content: "\e7cb";
}
.bff-icon--battery-charging:before {
  content: "\e7cc";
}
.bff-icon--battery-charging2:before {
  content: "\e7cd";
}
.bff-icon--battery-charging3:before {
  content: "\e7ce";
}
.bff-icon--battery-charging4:before {
  content: "\e7cf";
}
.bff-icon--battery-charging5:before {
  content: "\e7d0";
}
.bff-icon--battery-charging6:before {
  content: "\e7d1";
}
.bff-icon--battery-charging7:before {
  content: "\e7d2";
}
.bff-icon--chip:before {
  content: "\e7d3";
}
.bff-icon--chip-x64:before {
  content: "\e7d4";
}
.bff-icon--chip-x86:before {
  content: "\e7d5";
}
.bff-icon--bubble:before {
  content: "\e7d6";
}
.bff-icon--bubbles:before {
  content: "\e7d7";
}
.bff-icon--bubble-dots:before {
  content: "\e7d8";
}
.bff-icon--bubble-alert:before {
  content: "\e7d9";
}
.bff-icon--bubble-question:before {
  content: "\e7da";
}
.bff-icon--bubble-text:before {
  content: "\e7db";
}
.bff-icon--bubble-pencil:before {
  content: "\e7dc";
}
.bff-icon--bubble-picture:before {
  content: "\e7dd";
}
.bff-icon--bubble-video:before {
  content: "\e7de";
}
.bff-icon--bubble-user:before {
  content: "\e7df";
}
.bff-icon--bubble-quote:before {
  content: "\e7e0";
}
.bff-icon--bubble-heart:before {
  content: "\e7e1";
}
.bff-icon--bubble-emoticon:before {
  content: "\e7e2";
}
.bff-icon--bubble-attachment:before {
  content: "\e7e3";
}
.bff-icon--phone-bubble:before {
  content: "\e7e4";
}
.bff-icon--quote-open:before {
  content: "\e7e5";
}
.bff-icon--quote-close:before {
  content: "\e7e6";
}
.bff-icon--dna:before {
  content: "\e7e7";
}
.bff-icon--heart-pulse:before {
  content: "\e7e8";
}
.bff-icon--pulse:before {
  content: "\e7e9";
}
.bff-icon--syringe:before {
  content: "\e7ea";
}
.bff-icon--pills:before {
  content: "\e7eb";
}
.bff-icon--first-aid:before {
  content: "\e7ec";
}
.bff-icon--lifebuoy:before {
  content: "\e7ed";
}
.bff-icon--bandage:before {
  content: "\e7ee";
}
.bff-icon--bandages:before {
  content: "\e7ef";
}
.bff-icon--thermometer:before {
  content: "\e7f0";
}
.bff-icon--microscope:before {
  content: "\e7f1";
}
.bff-icon--brain:before {
  content: "\e7f2";
}
.bff-icon--beaker:before {
  content: "\e7f3";
}
.bff-icon--skull:before {
  content: "\e7f4";
}
.bff-icon--bone:before {
  content: "\e7f5";
}
.bff-icon--construction:before {
  content: "\e7f6";
}
.bff-icon--construction-cone:before {
  content: "\e7f7";
}
.bff-icon--pie-chart:before {
  content: "\e7f8";
}
.bff-icon--pie-chart2:before {
  content: "\e7f9";
}
.bff-icon--graph:before {
  content: "\e7fa";
}
.bff-icon--chart-growth:before {
  content: "\e7fb";
}
.bff-icon--chart-bars:before {
  content: "\e7fc";
}
.bff-icon--chart-settings:before {
  content: "\e7fd";
}
.bff-icon--cake:before {
  content: "\e7fe";
}
.bff-icon--gift:before {
  content: "\e7ff";
}
.bff-icon--balloon:before {
  content: "\e800";
}
.bff-icon--rank:before {
  content: "\e801";
}
.bff-icon--rank2:before {
  content: "\e802";
}
.bff-icon--rank3:before {
  content: "\e803";
}
.bff-icon--crown:before {
  content: "\e804";
}
.bff-icon--lotus:before {
  content: "\e805";
}
.bff-icon--diamond:before {
  content: "\e806";
}
.bff-icon--diamond2:before {
  content: "\e807";
}
.bff-icon--diamond3:before {
  content: "\e808";
}
.bff-icon--diamond4:before {
  content: "\e809";
}
.bff-icon--linearicons:before {
  content: "\e80a";
}
.bff-icon--teacup:before {
  content: "\e80b";
}
.bff-icon--teapot:before {
  content: "\e80c";
}
.bff-icon--glass:before {
  content: "\e80d";
}
.bff-icon--bottle2:before {
  content: "\e80e";
}
.bff-icon--glass-cocktail:before {
  content: "\e80f";
}
.bff-icon--glass2:before {
  content: "\e810";
}
.bff-icon--dinner:before {
  content: "\e811";
}
.bff-icon--dinner2:before {
  content: "\e812";
}
.bff-icon--chef:before {
  content: "\e813";
}
.bff-icon--scale2:before {
  content: "\e814";
}
.bff-icon--egg:before {
  content: "\e815";
}
.bff-icon--egg2:before {
  content: "\e816";
}
.bff-icon--eggs:before {
  content: "\e817";
}
.bff-icon--platter:before {
  content: "\e818";
}
.bff-icon--steak:before {
  content: "\e819";
}
.bff-icon--hamburger:before {
  content: "\e81a";
}
.bff-icon--hotdog:before {
  content: "\e81b";
}
.bff-icon--pizza:before {
  content: "\e81c";
}
.bff-icon--sausage:before {
  content: "\e81d";
}
.bff-icon--chicken:before {
  content: "\e81e";
}
.bff-icon--fish:before {
  content: "\e81f";
}
.bff-icon--carrot:before {
  content: "\e820";
}
.bff-icon--cheese:before {
  content: "\e821";
}
.bff-icon--bread:before {
  content: "\e822";
}
.bff-icon--ice-cream:before {
  content: "\e823";
}
.bff-icon--ice-cream2:before {
  content: "\e824";
}
.bff-icon--candy:before {
  content: "\e825";
}
.bff-icon--lollipop:before {
  content: "\e826";
}
.bff-icon--coffee-bean:before {
  content: "\e827";
}
.bff-icon--coffee-cup:before {
  content: "\e828";
}
.bff-icon--cherry:before {
  content: "\e829";
}
.bff-icon--grapes:before {
  content: "\e82a";
}
.bff-icon--citrus:before {
  content: "\e82b";
}
.bff-icon--apple:before {
  content: "\e82c";
}
.bff-icon--leaf:before {
  content: "\e82d";
}
.bff-icon--landscape:before {
  content: "\e82e";
}
.bff-icon--pine-tree:before {
  content: "\e82f";
}
.bff-icon--tree:before {
  content: "\e830";
}
.bff-icon--cactus:before {
  content: "\e831";
}
.bff-icon--paw:before {
  content: "\e832";
}
.bff-icon--footprint:before {
  content: "\e833";
}
.bff-icon--speed-slow:before {
  content: "\e834";
}
.bff-icon--speed-medium:before {
  content: "\e835";
}
.bff-icon--speed-fast:before {
  content: "\e836";
}
.bff-icon--rocket:before {
  content: "\e837";
}
.bff-icon--hammer2:before {
  content: "\e838";
}
.bff-icon--balance:before {
  content: "\e839";
}
.bff-icon--briefcase:before {
  content: "\e83a";
}
.bff-icon--luggage-weight:before {
  content: "\e83b";
}
.bff-icon--dolly:before {
  content: "\e83c";
}
.bff-icon--plane:before {
  content: "\e83d";
}
.bff-icon--plane-crossed:before {
  content: "\e83e";
}
.bff-icon--helicopter:before {
  content: "\e83f";
}
.bff-icon--traffic-lights:before {
  content: "\e840";
}
.bff-icon--siren:before {
  content: "\e841";
}
.bff-icon--road:before {
  content: "\e842";
}
.bff-icon--engine:before {
  content: "\e843";
}
.bff-icon--oil-pressure:before {
  content: "\e844";
}
.bff-icon--coolant-temperature:before {
  content: "\e845";
}
.bff-icon--car-battery:before {
  content: "\e846";
}
.bff-icon--gas:before {
  content: "\e847";
}
.bff-icon--gallon:before {
  content: "\e848";
}
.bff-icon--transmission:before {
  content: "\e849";
}
.bff-icon--car:before {
  content: "\e84a";
}
.bff-icon--car-wash:before {
  content: "\e84b";
}
.bff-icon--car-wash2:before {
  content: "\e84c";
}
.bff-icon--bus:before {
  content: "\e84d";
}
.bff-icon--bus2:before {
  content: "\e84e";
}
.bff-icon--car2:before {
  content: "\e84f";
}
.bff-icon--parking:before {
  content: "\e850";
}
.bff-icon--car-lock:before {
  content: "\e851";
}
.bff-icon--taxi:before {
  content: "\e852";
}
.bff-icon--car-siren:before {
  content: "\e853";
}
.bff-icon--car-wash3:before {
  content: "\e854";
}
.bff-icon--car-wash4:before {
  content: "\e855";
}
.bff-icon--ambulance:before {
  content: "\e856";
}
.bff-icon--truck:before {
  content: "\e857";
}
.bff-icon--trailer:before {
  content: "\e858";
}
.bff-icon--scale-truck:before {
  content: "\e859";
}
.bff-icon--train:before {
  content: "\e85a";
}
.bff-icon--ship:before {
  content: "\e85b";
}
.bff-icon--ship2:before {
  content: "\e85c";
}
.bff-icon--anchor:before {
  content: "\e85d";
}
.bff-icon--boat:before {
  content: "\e85e";
}
.bff-icon--bicycle:before {
  content: "\e85f";
}
.bff-icon--bicycle2:before {
  content: "\e860";
}
.bff-icon--dumbbell:before {
  content: "\e861";
}
.bff-icon--bench-press:before {
  content: "\e862";
}
.bff-icon--swim:before {
  content: "\e863";
}
.bff-icon--football:before {
  content: "\e864";
}
.bff-icon--baseball-bat:before {
  content: "\e865";
}
.bff-icon--baseball:before {
  content: "\e866";
}
.bff-icon--tennis:before {
  content: "\e867";
}
.bff-icon--tennis2:before {
  content: "\e868";
}
.bff-icon--ping-pong:before {
  content: "\e869";
}
.bff-icon--hockey:before {
  content: "\e86a";
}
.bff-icon--8ball:before {
  content: "\e86b";
}
.bff-icon--bowling:before {
  content: "\e86c";
}
.bff-icon--bowling-pins:before {
  content: "\e86d";
}
.bff-icon--golf:before {
  content: "\e86e";
}
.bff-icon--golf2:before {
  content: "\e86f";
}
.bff-icon--archery:before {
  content: "\e870";
}
.bff-icon--slingshot:before {
  content: "\e871";
}
.bff-icon--soccer:before {
  content: "\e872";
}
.bff-icon--basketball:before {
  content: "\e873";
}
.bff-icon--cube:before {
  content: "\e874";
}
.bff-icon--3d-rotate:before {
  content: "\e875";
}
.bff-icon--puzzle:before {
  content: "\e876";
}
.bff-icon--glasses:before {
  content: "\e877";
}
.bff-icon--glasses2:before {
  content: "\e878";
}
.bff-icon--accessibility:before {
  content: "\e879";
}
.bff-icon--wheelchair:before {
  content: "\e87a";
}
.bff-icon--wall:before {
  content: "\e87b";
}
.bff-icon--fence:before {
  content: "\e87c";
}
.bff-icon--wall2:before {
  content: "\e87d";
}
.bff-icon--icons:before {
  content: "\e87e";
}
.bff-icon--resize-handle:before {
  content: "\e87f";
}
.bff-icon--icons2:before {
  content: "\e880";
}
.bff-icon--select:before {
  content: "\e881";
}
.bff-icon--select2:before {
  content: "\e882";
}
.bff-icon--site-map:before {
  content: "\e883";
}
.bff-icon--earth:before {
  content: "\e884";
}
.bff-icon--earth-lock:before {
  content: "\e885";
}
.bff-icon--network:before {
  content: "\e886";
}
.bff-icon--network-lock:before {
  content: "\e887";
}
.bff-icon--planet:before {
  content: "\e888";
}
.bff-icon--happy:before {
  content: "\e889";
}
.bff-icon--smile:before {
  content: "\e88a";
}
.bff-icon--grin:before {
  content: "\e88b";
}
.bff-icon--tongue:before {
  content: "\e88c";
}
.bff-icon--sad:before {
  content: "\e88d";
}
.bff-icon--wink:before {
  content: "\e88e";
}
.bff-icon--dream:before {
  content: "\e88f";
}
.bff-icon--shocked:before {
  content: "\e890";
}
.bff-icon--shocked2:before {
  content: "\e891";
}
.bff-icon--tongue2:before {
  content: "\e892";
}
.bff-icon--neutral:before {
  content: "\e893";
}
.bff-icon--happy-grin:before {
  content: "\e894";
}
.bff-icon--cool:before {
  content: "\e895";
}
.bff-icon--mad:before {
  content: "\e896";
}
.bff-icon--grin-evil:before {
  content: "\e897";
}
.bff-icon--evil:before {
  content: "\e898";
}
.bff-icon--wow:before {
  content: "\e899";
}
.bff-icon--annoyed:before {
  content: "\e89a";
}
.bff-icon--wondering:before {
  content: "\e89b";
}
.bff-icon--confused:before {
  content: "\e89c";
}
.bff-icon--zipped:before {
  content: "\e89d";
}
.bff-icon--grumpy:before {
  content: "\e89e";
}
.bff-icon--mustache:before {
  content: "\e89f";
}
.bff-icon--tombstone-hipster:before {
  content: "\e8a0";
}
.bff-icon--tombstone:before {
  content: "\e8a1";
}
.bff-icon--ghost:before {
  content: "\e8a2";
}
.bff-icon--ghost-hipster:before {
  content: "\e8a3";
}
.bff-icon--halloween:before {
  content: "\e8a4";
}
.bff-icon--christmas:before {
  content: "\e8a5";
}
.bff-icon--easter-egg:before {
  content: "\e8a6";
}
.bff-icon--mustache2:before {
  content: "\e8a7";
}
.bff-icon--mustache-glasses:before {
  content: "\e8a8";
}
.bff-icon--pipe:before {
  content: "\e8a9";
}
.bff-icon--alarm:before {
  content: "\e8aa";
}
.bff-icon--alarm-add:before {
  content: "\e8ab";
}
.bff-icon--alarm-snooze:before {
  content: "\e8ac";
}
.bff-icon--alarm-ringing:before {
  content: "\e8ad";
}
.bff-icon--bullhorn:before {
  content: "\e8ae";
}
.bff-icon--hearing:before {
  content: "\e8af";
}
.bff-icon--volume-high:before {
  content: "\e8b0";
}
.bff-icon--volume-medium:before {
  content: "\e8b1";
}
.bff-icon--volume-low:before {
  content: "\e8b2";
}
.bff-icon--volume:before {
  content: "\e8b3";
}
.bff-icon--mute:before {
  content: "\e8b4";
}
.bff-icon--lan:before {
  content: "\e8b5";
}
.bff-icon--lan2:before {
  content: "\e8b6";
}
.bff-icon--wifi:before {
  content: "\e8b7";
}
.bff-icon--wifi-lock:before {
  content: "\e8b8";
}
.bff-icon--wifi-blocked:before {
  content: "\e8b9";
}
.bff-icon--wifi-mid:before {
  content: "\e8ba";
}
.bff-icon--wifi-low:before {
  content: "\e8bb";
}
.bff-icon--wifi-low2:before {
  content: "\e8bc";
}
.bff-icon--wifi-alert:before {
  content: "\e8bd";
}
.bff-icon--wifi-alert-mid:before {
  content: "\e8be";
}
.bff-icon--wifi-alert-low:before {
  content: "\e8bf";
}
.bff-icon--wifi-alert-low2:before {
  content: "\e8c0";
}
.bff-icon--stream:before {
  content: "\e8c1";
}
.bff-icon--stream-check:before {
  content: "\e8c2";
}
.bff-icon--stream-error:before {
  content: "\e8c3";
}
.bff-icon--stream-alert:before {
  content: "\e8c4";
}
.bff-icon--communication:before {
  content: "\e8c5";
}
.bff-icon--communication-crossed:before {
  content: "\e8c6";
}
.bff-icon--broadcast:before {
  content: "\e8c7";
}
.bff-icon--antenna:before {
  content: "\e8c8";
}
.bff-icon--satellite:before {
  content: "\e8c9";
}
.bff-icon--satellite2:before {
  content: "\e8ca";
}
.bff-icon--mic:before {
  content: "\e8cb";
}
.bff-icon--mic-mute:before {
  content: "\e8cc";
}
.bff-icon--mic2:before {
  content: "\e8cd";
}
.bff-icon--spotlights:before {
  content: "\e8ce";
}
.bff-icon--hourglass:before {
  content: "\e8cf";
}
.bff-icon--loading:before {
  content: "\e8d0";
}
.bff-icon--loading2:before {
  content: "\e8d1";
}
.bff-icon--loading3:before {
  content: "\e8d2";
}
.bff-icon--refresh:before {
  content: "\e8d3";
}
.bff-icon--refresh2:before {
  content: "\e8d4";
}
.bff-icon--undo:before {
  content: "\e8d5";
}
.bff-icon--redo:before {
  content: "\e8d6";
}
.bff-icon--jump2:before {
  content: "\e8d7";
}
.bff-icon--undo2:before {
  content: "\e8d8";
}
.bff-icon--redo2:before {
  content: "\e8d9";
}
.bff-icon--sync:before {
  content: "\e8da";
}
.bff-icon--repeat-one2:before {
  content: "\e8db";
}
.bff-icon--sync-crossed:before {
  content: "\e8dc";
}
.bff-icon--sync2:before {
  content: "\e8dd";
}
.bff-icon--repeat-one3:before {
  content: "\e8de";
}
.bff-icon--sync-crossed2:before {
  content: "\e8df";
}
.bff-icon--return:before {
  content: "\e8e0";
}
.bff-icon--return2:before {
  content: "\e8e1";
}
.bff-icon--refund:before {
  content: "\e8e2";
}
.bff-icon--history:before {
  content: "\e8e3";
}
.bff-icon--history2:before {
  content: "\e8e4";
}
.bff-icon--self-timer:before {
  content: "\e8e5";
}
.bff-icon--clock:before {
  content: "\e8e6";
}
.bff-icon--clock2:before {
  content: "\e8e7";
}
.bff-icon--clock3:before {
  content: "\e8e8";
}
.bff-icon--watch:before {
  content: "\e8e9";
}
.bff-icon--alarm2:before {
  content: "\e8ea";
}
.bff-icon--alarm-add2:before {
  content: "\e8eb";
}
.bff-icon--alarm-remove:before {
  content: "\e8ec";
}
.bff-icon--alarm-check:before {
  content: "\e8ed";
}
.bff-icon--alarm-error:before {
  content: "\e8ee";
}
.bff-icon--timer:before {
  content: "\e8ef";
}
.bff-icon--timer-crossed:before {
  content: "\e8f0";
}
.bff-icon--timer2:before {
  content: "\e8f1";
}
.bff-icon--timer-crossed2:before {
  content: "\e8f2";
}
.bff-icon--download:before {
  content: "\e8f3";
}
.bff-icon--upload:before {
  content: "\e8f4";
}
.bff-icon--download2:before {
  content: "\e8f5";
}
.bff-icon--upload2:before {
  content: "\e8f6";
}
.bff-icon--enter-up:before {
  content: "\e8f7";
}
.bff-icon--enter-down:before {
  content: "\e8f8";
}
.bff-icon--enter-left:before {
  content: "\e8f9";
}
.bff-icon--enter-right:before {
  content: "\e8fa";
}
.bff-icon--exit-up:before {
  content: "\e8fb";
}
.bff-icon--exit-down:before {
  content: "\e8fc";
}
.bff-icon--exit-left:before {
  content: "\e8fd";
}
.bff-icon--exit-right:before {
  content: "\e8fe";
}
.bff-icon--enter-up2:before {
  content: "\e8ff";
}
.bff-icon--enter-down2:before {
  content: "\e900";
}
.bff-icon--enter-vertical:before {
  content: "\e901";
}
.bff-icon--enter-left2:before {
  content: "\e902";
}
.bff-icon--enter-right2:before {
  content: "\e903";
}
.bff-icon--enter-horizontal:before {
  content: "\e904";
}
.bff-icon--exit-up2:before {
  content: "\e905";
}
.bff-icon--exit-down2:before {
  content: "\e906";
}
.bff-icon--exit-left2:before {
  content: "\e907";
}
.bff-icon--exit-right2:before {
  content: "\e908";
}
.bff-icon--cli:before {
  content: "\e909";
}
.bff-icon--bug:before {
  content: "\e90a";
}
.bff-icon--code:before {
  content: "\e90b";
}
.bff-icon--file-code:before {
  content: "\e90c";
}
.bff-icon--file-image:before {
  content: "\e90d";
}
.bff-icon--file-zip:before {
  content: "\e90e";
}
.bff-icon--file-audio:before {
  content: "\e90f";
}
.bff-icon--file-video:before {
  content: "\e910";
}
.bff-icon--file-preview:before {
  content: "\e911";
}
.bff-icon--file-charts:before {
  content: "\e912";
}
.bff-icon--file-stats:before {
  content: "\e913";
}
.bff-icon--file-spreadsheet:before {
  content: "\e914";
}
.bff-icon--link:before {
  content: "\e915";
}
.bff-icon--unlink:before {
  content: "\e916";
}
.bff-icon--link2:before {
  content: "\e917";
}
.bff-icon--unlink2:before {
  content: "\e918";
}
.bff-icon--thumbs-up:before {
  content: "\e919";
}
.bff-icon--thumbs-down:before {
  content: "\e91a";
}
.bff-icon--thumbs-up2:before {
  content: "\e91b";
}
.bff-icon--thumbs-down2:before {
  content: "\e91c";
}
.bff-icon--thumbs-up3:before {
  content: "\e91d";
}
.bff-icon--thumbs-down3:before {
  content: "\e91e";
}
.bff-icon--share:before {
  content: "\e91f";
}
.bff-icon--share2:before {
  content: "\e920";
}
.bff-icon--share3:before {
  content: "\e921";
}
.bff-icon--magnifier:before {
  content: "\e922";
}
.bff-icon--file-search:before {
  content: "\e923";
}
.bff-icon--find-replace:before {
  content: "\e924";
}
.bff-icon--zoom-in:before {
  content: "\e925";
}
.bff-icon--zoom-out:before {
  content: "\e926";
}
.bff-icon--loupe:before {
  content: "\e927";
}
.bff-icon--loupe-zoom-in:before {
  content: "\e928";
}
.bff-icon--loupe-zoom-out:before {
  content: "\e929";
}
.bff-icon--cross:before {
  content: "\e92a";
}
.bff-icon--menu:before {
  content: "\e92b";
}
.bff-icon--list:before {
  content: "\e92c";
}
.bff-icon--list2:before {
  content: "\e92d";
}
.bff-icon--list3:before {
  content: "\e92e";
}
.bff-icon--menu2:before {
  content: "\e92f";
}
.bff-icon--list4:before {
  content: "\e930";
}
.bff-icon--menu3:before {
  content: "\e931";
}
.bff-icon--exclamation:before {
  content: "\e932";
}
.bff-icon--question:before {
  content: "\e933";
}
.bff-icon--check:before {
  content: "\e934";
}
.bff-icon--cross2:before {
  content: "\e935";
}
.bff-icon--plus:before {
  content: "\e936";
}
.bff-icon--minus:before {
  content: "\e937";
}
.bff-icon--percent:before {
  content: "\e938";
}
.bff-icon--chevron-up:before {
  content: "\e939";
}
.bff-icon--chevron-down:before {
  content: "\e93a";
}
.bff-icon--chevron-left:before {
  content: "\e93b";
}
.bff-icon--chevron-right:before {
  content: "\e93c";
}
.bff-icon--chevrons-expand-vertical:before {
  content: "\e93d";
}
.bff-icon--chevrons-expand-horizontal:before {
  content: "\e93e";
}
.bff-icon--chevrons-contract-vertical:before {
  content: "\e93f";
}
.bff-icon--chevrons-contract-horizontal:before {
  content: "\e940";
}
.bff-icon--arrow-up:before {
  content: "\e941";
}
.bff-icon--arrow-down:before {
  content: "\e942";
}
.bff-icon--arrow-left:before {
  content: "\e943";
}
.bff-icon--arrow-right:before {
  content: "\e944";
}
.bff-icon--arrow-up-right:before {
  content: "\e945";
}
.bff-icon--arrows-merge:before {
  content: "\e946";
}
.bff-icon--arrows-split:before {
  content: "\e947";
}
.bff-icon--arrow-divert:before {
  content: "\e948";
}
.bff-icon--arrow-return:before {
  content: "\e949";
}
.bff-icon--expand:before {
  content: "\e94a";
}
.bff-icon--contract:before {
  content: "\e94b";
}
.bff-icon--expand2:before {
  content: "\e94c";
}
.bff-icon--contract2:before {
  content: "\e94d";
}
.bff-icon--move:before {
  content: "\e94e";
}
.bff-icon--tab:before {
  content: "\e94f";
}
.bff-icon--arrow-wave:before {
  content: "\e950";
}
.bff-icon--expand3:before {
  content: "\e951";
}
.bff-icon--expand4:before {
  content: "\e952";
}
.bff-icon--contract3:before {
  content: "\e953";
}
.bff-icon--notification:before {
  content: "\e954";
}
.bff-icon--warning:before {
  content: "\e955";
}
.bff-icon--notification-circle:before {
  content: "\e956";
}
.bff-icon--question-circle:before {
  content: "\e957";
}
.bff-icon--menu-circle:before {
  content: "\e958";
}
.bff-icon--checkmark-circle:before {
  content: "\e959";
}
.bff-icon--cross-circle:before {
  content: "\e95a";
}
.bff-icon--plus-circle:before {
  content: "\e95b";
}
.bff-icon--circle-minus:before {
  content: "\e95c";
}
.bff-icon--percent-circle:before {
  content: "\e95d";
}
.bff-icon--arrow-up-circle:before {
  content: "\e95e";
}
.bff-icon--arrow-down-circle:before {
  content: "\e95f";
}
.bff-icon--arrow-left-circle:before {
  content: "\e960";
}
.bff-icon--arrow-right-circle:before {
  content: "\e961";
}
.bff-icon--chevron-up-circle:before {
  content: "\e962";
}
.bff-icon--chevron-down-circle:before {
  content: "\e963";
}
.bff-icon--chevron-left-circle:before {
  content: "\e964";
}
.bff-icon--chevron-right-circle:before {
  content: "\e965";
}
.bff-icon--backward-circle:before {
  content: "\e966";
}
.bff-icon--first-circle:before {
  content: "\e967";
}
.bff-icon--previous-circle:before {
  content: "\e968";
}
.bff-icon--stop-circle:before {
  content: "\e969";
}
.bff-icon--play-circle:before {
  content: "\e96a";
}
.bff-icon--pause-circle:before {
  content: "\e96b";
}
.bff-icon--next-circle:before {
  content: "\e96c";
}
.bff-icon--last-circle:before {
  content: "\e96d";
}
.bff-icon--forward-circle:before {
  content: "\e96e";
}
.bff-icon--eject-circle:before {
  content: "\e96f";
}
.bff-icon--crop:before {
  content: "\e970";
}
.bff-icon--frame-expand:before {
  content: "\e971";
}
.bff-icon--frame-contract:before {
  content: "\e972";
}
.bff-icon--focus:before {
  content: "\e973";
}
.bff-icon--transform:before {
  content: "\e974";
}
.bff-icon--grid:before {
  content: "\e975";
}
.bff-icon--grid-crossed:before {
  content: "\e976";
}
.bff-icon--layers:before {
  content: "\e977";
}
.bff-icon--layers-crossed:before {
  content: "\e978";
}
.bff-icon--toggle:before {
  content: "\e979";
}
.bff-icon--rulers:before {
  content: "\e97a";
}
.bff-icon--ruler:before {
  content: "\e97b";
}
.bff-icon--funnel:before {
  content: "\e97c";
}
.bff-icon--flip-horizontal:before {
  content: "\e97d";
}
.bff-icon--flip-vertical:before {
  content: "\e97e";
}
.bff-icon--flip-horizontal2:before {
  content: "\e97f";
}
.bff-icon--flip-vertical2:before {
  content: "\e980";
}
.bff-icon--angle:before {
  content: "\e981";
}
.bff-icon--angle2:before {
  content: "\e982";
}
.bff-icon--subtract:before {
  content: "\e983";
}
.bff-icon--combine:before {
  content: "\e984";
}
.bff-icon--intersect:before {
  content: "\e985";
}
.bff-icon--exclude:before {
  content: "\e986";
}
.bff-icon--align-center-vertical:before {
  content: "\e987";
}
.bff-icon--align-right:before {
  content: "\e988";
}
.bff-icon--align-bottom:before {
  content: "\e989";
}
.bff-icon--align-left:before {
  content: "\e98a";
}
.bff-icon--align-center-horizontal:before {
  content: "\e98b";
}
.bff-icon--align-top:before {
  content: "\e98c";
}
.bff-icon--square:before {
  content: "\e98d";
}
.bff-icon--plus-square:before {
  content: "\e98e";
}
.bff-icon--minus-square:before {
  content: "\e98f";
}
.bff-icon--percent-square:before {
  content: "\e990";
}
.bff-icon--arrow-up-square:before {
  content: "\e991";
}
.bff-icon--arrow-down-square:before {
  content: "\e992";
}
.bff-icon--arrow-left-square:before {
  content: "\e993";
}
.bff-icon--arrow-right-square:before {
  content: "\e994";
}
.bff-icon--chevron-up-square:before {
  content: "\e995";
}
.bff-icon--chevron-down-square:before {
  content: "\e996";
}
.bff-icon--chevron-left-square:before {
  content: "\e997";
}
.bff-icon--chevron-right-square:before {
  content: "\e998";
}
.bff-icon--check-square:before {
  content: "\e999";
}
.bff-icon--cross-square:before {
  content: "\e99a";
}
.bff-icon--menu-square:before {
  content: "\e99b";
}
.bff-icon--prohibited:before {
  content: "\e99c";
}
.bff-icon--circle:before {
  content: "\e99d";
}
.bff-icon--radio-button:before {
  content: "\e99e";
}
.bff-icon--ligature:before {
  content: "\e99f";
}
.bff-icon--text-format:before {
  content: "\e9a0";
}
.bff-icon--text-format-remove:before {
  content: "\e9a1";
}
.bff-icon--text-size:before {
  content: "\e9a2";
}
.bff-icon--bold:before {
  content: "\e9a3";
}
.bff-icon--italic:before {
  content: "\e9a4";
}
.bff-icon--underline:before {
  content: "\e9a5";
}
.bff-icon--strikethrough:before {
  content: "\e9a6";
}
.bff-icon--highlight:before {
  content: "\e9a7";
}
.bff-icon--text-align-left:before {
  content: "\e9a8";
}
.bff-icon--text-align-center:before {
  content: "\e9a9";
}
.bff-icon--text-align-right:before {
  content: "\e9aa";
}
.bff-icon--text-align-justify:before {
  content: "\e9ab";
}
.bff-icon--line-spacing:before {
  content: "\e9ac";
}
.bff-icon--indent-increase:before {
  content: "\e9ad";
}
.bff-icon--indent-decrease:before {
  content: "\e9ae";
}
.bff-icon--text-wrap:before {
  content: "\e9af";
}
.bff-icon--pilcrow:before {
  content: "\e9b0";
}
.bff-icon--direction-ltr:before {
  content: "\e9b1";
}
.bff-icon--direction-rtl:before {
  content: "\e9b2";
}
.bff-icon--page-break:before {
  content: "\e9b3";
}
.bff-icon--page-break2:before {
  content: "\e9b4";
}
.bff-icon--sort-alpha-asc:before {
  content: "\e9b5";
}
.bff-icon--sort-alpha-desc:before {
  content: "\e9b6";
}
.bff-icon--sort-numeric-asc:before {
  content: "\e9b7";
}
.bff-icon--sort-numeric-desc:before {
  content: "\e9b8";
}
.bff-icon--sort-amount-asc:before {
  content: "\e9b9";
}
.bff-icon--sort-amount-desc:before {
  content: "\e9ba";
}
.bff-icon--sort-time-asc:before {
  content: "\e9bb";
}
.bff-icon--sort-time-desc:before {
  content: "\e9bc";
}
.bff-icon--sigma:before {
  content: "\e9bd";
}
.bff-icon--pencil-line:before {
  content: "\e9be";
}
.bff-icon--hand:before {
  content: "\e9bf";
}
.bff-icon--pointer-up:before {
  content: "\e9c0";
}
.bff-icon--pointer-right:before {
  content: "\e9c1";
}
.bff-icon--pointer-down:before {
  content: "\e9c2";
}
.bff-icon--pointer-left:before {
  content: "\e9c3";
}
.bff-icon--finger-tap:before {
  content: "\e9c4";
}
.bff-icon--fingers-tap:before {
  content: "\e9c5";
}
.bff-icon--reminder:before {
  content: "\e9c6";
}
.bff-icon--fingers-crossed:before {
  content: "\e9c7";
}
.bff-icon--fingers-victory:before {
  content: "\e9c8";
}
.bff-icon--gesture-zoom:before {
  content: "\e9c9";
}
.bff-icon--gesture-pinch:before {
  content: "\e9ca";
}
.bff-icon--fingers-scroll-horizontal:before {
  content: "\e9cb";
}
.bff-icon--fingers-scroll-vertical:before {
  content: "\e9cc";
}
.bff-icon--fingers-scroll-left:before {
  content: "\e9cd";
}
.bff-icon--fingers-scroll-right:before {
  content: "\e9ce";
}
.bff-icon--hand2:before {
  content: "\e9cf";
}
.bff-icon--pointer-up2:before {
  content: "\e9d0";
}
.bff-icon--pointer-right2:before {
  content: "\e9d1";
}
.bff-icon--pointer-down2:before {
  content: "\e9d2";
}
.bff-icon--pointer-left2:before {
  content: "\e9d3";
}
.bff-icon--finger-tap2:before {
  content: "\e9d4";
}
.bff-icon--fingers-tap2:before {
  content: "\e9d5";
}
.bff-icon--reminder2:before {
  content: "\e9d6";
}
.bff-icon--gesture-zoom2:before {
  content: "\e9d7";
}
.bff-icon--gesture-pinch2:before {
  content: "\e9d8";
}
.bff-icon--fingers-scroll-horizontal2:before {
  content: "\e9d9";
}
.bff-icon--fingers-scroll-vertical2:before {
  content: "\e9da";
}
.bff-icon--fingers-scroll-left2:before {
  content: "\e9db";
}
.bff-icon--fingers-scroll-right2:before {
  content: "\e9dc";
}
.bff-icon--fingers-scroll-vertical3:before {
  content: "\e9dd";
}
.bff-icon--border-style:before {
  content: "\e9de";
}
.bff-icon--border-all:before {
  content: "\e9df";
}
.bff-icon--border-outer:before {
  content: "\e9e0";
}
.bff-icon--border-inner:before {
  content: "\e9e1";
}
.bff-icon--border-top:before {
  content: "\e9e2";
}
.bff-icon--border-horizontal:before {
  content: "\e9e3";
}
.bff-icon--border-bottom:before {
  content: "\e9e4";
}
.bff-icon--border-left:before {
  content: "\e9e5";
}
.bff-icon--border-vertical:before {
  content: "\e9e6";
}
.bff-icon--border-right:before {
  content: "\e9e7";
}
.bff-icon--border-none:before {
  content: "\e9e8";
}
.bff-icon--ellipsis:before {
  content: "\e9e9";
}

