// Variables
// CSS Namespace
$css-prefix: "bff-";


// General variable structure
//
// Variable format should follow the `$block__element--modifier` order.

//Colors
//
//BFF Color palette

$booker--color-blue:           #00AEEF;
$booker--color-blue-light:     #43C8F5;

$frederick--color-green:       #54D48A;
$frederick--color-green-light: #86E0AA;

$white:                 #FFFFFF;
$gray-lightest:         #F5F7FA;
$gray-lighter:          #E6E9ED;
$gray-light:            #CCD1D9;
$gray:                  #AAB2BD;
$gray-dark:             #838B91;
$gray-darker:           #656D78;
$gray-darkest:          #434A54;

$grapefruit:            #DA4453;
$grapefruit-light:      #ED5565;
$grapefruit-lighter:    #F27789;

$bittersweet:           #E9573F;
$bittersweet-light:     #FC6E51;
$bittersweet-lighter:   #FC8C7A;

$sunflower:             #F6BB42;
$sunflower-light:       #FFCE54;
$sunflower-lighter:     #FFD983;

$grass:                 #8CC152;
$grass-light:           #A0D468;
$grass-lighter:         #BADD8A;

$mint:                  #37BC9B;
$mint-light:            #48CFAD;
$mint-lighter:          #6FDDBE;

$aqua:                  #3BAFDA;
$aqua-light:            #4FC1E9;
$aqua-lighter:          #69D1ED;

$cornflower:            #4A89DC;
$cornflower-light:      #5D9CEC;
$cornflower-lighter:    #79B3F2;

$lavander:              #967ADC;
$lavander-light:        #AC92EC;
$lavander-lighter:      #BAA6F4;

$rose:                  #D770AD;
$rose-light:            #EC87C0;
$rose-lighter:          #F4A6D4;

$success--color:		$mint;
$success--color-light:$mint-light;
$info--color:			$cornflower;
$info--color-light:	$cornflower-light;
$warning--color:		$sunflower;
$warning--color-light:$sunflower-light;
$danger--color:			$grapefruit;
$danger--color-light:	$grapefruit-light;

//using for checkbox/radio's only at the moment
$brand--color: $aqua;

// Typography
//
// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-family-sans-serif:      "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family--base: 		  $font-family-sans-serif;
$font-weight--light: 		  300;
$font-weight--normal:		  400;
$font-weight--semibold:		  600;

$font-color--default: $gray-darker;

$font-size--root:             16px !default;

$font-size--x-small:          .625rem !default;
$font-size--small:            .75rem !default;
$font-size--base:             .875rem !default;
$font-size--large:            1.25rem !default;
$font-size--x-large:          1.375rem !default;
$font-size--xx-large:         2rem !default;

$line-height:                1.5 !default;

$dt--font-weight:			$font-weight--normal;

//Icons
$icon-size--small: 0.875rem;
$icon-size--normal: 1.25rem;
$icon-size--large: 2.5rem;

// Components
//
// Define common padding and border radius sizes and more.

$line-height--small:              1.5 !default;
$line-height--large:              (4 / 3) !default;
$line-height--x-large:              (4 / 3) !default;


$border-radius:               0.1875rem;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.

$spacer:                     1rem !default;
$spacer-x:                   $spacer !default;
$spacer-y:                   $spacer !default;
$spacers: (
  0: (
    x:   0,
    y:   0
  ),
  1: (
    x:   $spacer-x,
    y:   $spacer-y
  ),
  2: (
    x:   ($spacer-x * 1.5),
    y:   ($spacer-y * 1.5)
  ),
  3: (
    x:   ($spacer-x * 3),
    y:   ($spacer-y * 3)
  )
) !default;
$border-width:               1px !default;
$spacing--xx-large: 3rem;
$spacing--x-large: 2rem;
$spacing--large: 1.5rem;
$spacing--medium: 1rem;
$spacing--small: .75rem;
$spacing--x-small: .5rem;
$spacing--xx-small: .25rem;
$spacing--xxx-small: .125rem;
$spacing--none: 0;

// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid__breakpoints: (
  // Extra small screen / phone
  x-small: 0,
  // Small screen / phone
  small: 544px,
  // Medium screen / tablet
  medium: 768px,
  // Large screen / desktop
  large: 992px,
  // Extra large screen / wide desktop
  x-large: 1200px
) !default;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container--max-widths: (
  small: 576px,
  medium: 720px,
  large: 940px,
  x-large: 1140px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid__columns:               12 !default;
$grid__gutter--width:          1.875rem !default; // 30px

//Buttons
$btn-padding-x:           1rem !default;
$btn-padding-y:           .375rem !default;
$btn-font-weight:         $font-weight--light !default;

$btn-padding-x--small:       .75rem !default;
$btn-padding-y--small:       .25rem !default;

$btn-padding-x--large:       1.25rem !default;
$btn-padding-y--large:       .75rem !default;

$btn-padding-x--x-large:       1.50rem !default;
$btn-padding-y--x-large:       1rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:              $border-radius !default;

// Forms
$input-padding-x:                .75rem !default;
$input-padding-y:                .375rem !default;

$input-background--color:                       $white !default;
$input-background--disabled:              $gray-lighter !default;
$input-border--disabled:              $gray-light !default;

$input-color:                    $gray-darker !default;
$input-border--color:             $gray !default;
$input-border--width:         $border-width !default; // For form controls and buttons
$input-box-shadow:               inset 0 1px 1px rgba(0,0,0,.075) !default;
$input-border--color-active:    $brand--color;

$input-border--radius:            $border-radius !default;

$input-border--focus:             $aqua !default;
$input-box-shadow--focus:         $aqua !default;

$input-color-placeholder:        $gray-light !default;

$input-padding-x--small:             .525rem !default;
$input-padding-y--small:             .275rem !default;

$input-padding-x--large:             1.25rem !default;
$input-padding-y--large:             .75rem !default;

$input-height:                   	 (($font-size--base * $line-height) + ($input-padding-y * 2)) !default;
$input-height--large:                (($font-size--large * $line-height--large) + ($input-padding-y--large * 2)) !default;
$input-height--small:                (($font-size--small * $line-height--small) + ($input-padding-y--small * 2)) !default;

$form-group-margin-bottom:       $spacer-y !default;

$input-group-addon-bg:           $gray-lighter !default;
$input-group-addon-border-color: $input-border--color !default;

//Toggle

$toggle--width: 3.375rem;
$toggle--height: 1.5rem;
$toggle--background-color: $gray-light;
$toggle--background-color-hover: $gray-lighter;
$toggle--background-color-active: $aqua;
$toggle--background-color-active-hover: $aqua-light;
$toggle--background-color-disabled: $gray-light;
$toggle--text-color-disabled: $gray-lightest;
$toggle--line-height: 1.3rem;


$cursor-disabled:                not-allowed !default;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding:            .75rem !default;
$table-cell-padding--small:         .3rem !default;
$table-cell--max-width:           15rem;

$table-background--color:                      $white !default;

$table-header-background--color:       $gray-lighter;
$table-header--color:          $gray-darker;

$table-row-background--alt:               $gray-lightest !default;
$table-row-background--hover:                $gray-lightest !default;
$table-row-background--active:               $gray-lightest !default;

$table-border--width:            $border-width !default;
$table-border--color:            $gray-lighter !default;
$table-cell-border--selection:        $aqua;


//Utilities?
$body--color:				$gray-darker;
$body__bg--color:			$gray-lightest;
$link--color:				$aqua;
$link--decoration:			none;
$link-hover--color:			$aqua-light;
$link-hover--decoration:	underline;
$list-inline-padding:		5px !default;


