// Framework grid generation
//
// Used only by BFF to generate the correct number of grid classes given
// any value of `$grid__columns`.

@mixin make-grid__columns($columns: $grid__columns, $gutter: $grid__gutter--width, $breakpoints: $grid__breakpoints) {
  // Common properties for all breakpoints
  %grid__column {
    position: relative;
    // Prevent columns from collapsing when empty
    min-height: 1px;
    // Inner gutter via padding
    padding-left: ($gutter / 2);
    padding-right: ($gutter / 2);
  }
  @each $breakpoint in map-keys($breakpoints) {

    @for $i from 1 through $columns {
      .bff-col--#{$breakpoint}-#{$i} {
        @extend %grid__column;
      }
    }
    @include media__breakpoint--up($breakpoint) {
      // Work around cross-media @extend (https://github.com/sass/sass/issues/1050)
      %grid__column-float-#{$breakpoint} {
        float: left;
      }
      @for $i from 1 through $columns {
        .bff-col--#{$breakpoint}-#{$i} {
          @include make-col--span($i, $columns);
        }
      }
      @each $modifier in (pull, push, offset) {
        @for $i from 0 through $columns {
          .bff-col--#{$breakpoint}-#{$modifier}-#{$i} {
            @include make-col--modifier($modifier, $i, $columns)
          }
        }
      }
    }
  }
}
