// Spacing

@mixin spacing($name, $value){
	.bff-p-top--#{$name}{padding-top:$value;}
	.bff-p-bottom--#{$name}{padding-bottom:$value;}
	.bff-p-left--#{$name}{padding-left:$value;}
	.bff-p-right--#{$name}{padding-right:$value;}
	.bff-p-horizontal--#{$name}{padding-left:$value;padding-right:$value;}
	.bff-p-vertical--#{$name}{padding-top:$value;padding-bottom:$value;}
	.bff-p-around--#{$name}{padding:$value;}
	.bff-m-top--#{$name}{margin-top:$value;}
	.bff-m-bottom--#{$name}{margin-bottom:$value;}
	.bff-m-left--#{$name}{margin-left:$value;}
	.bff-m-right--#{$name}{margin-right:$value;}
	.bff-m-horizontal--#{$name}{margin-left:$value;margin-right:$value;}
	.bff-m-vertical--#{$name}{margin-top:$value;margin-bottom:$value;}
	.bff-m-around--#{$name}{margin:$value;}
}

