
//Custom Styles

.bff-pacifico{
	font-family: 'Pacifico', cursive;
}

.bff-background-color--frederick-green{
	background-color:$frederick--color-green;
}

.bff-background-color--lavender{
	background-color:$lavender;
}

.bff-background-color--booker-blue{
	background-color:$booker--color-blue;
}

.bff-background-color--grapefruit{
	background-color:$grapefruit;
}

.bff-background-color--sunflower{
	background-color:$sunflower;
}

.bff-text-color--white{
	color:#fff;
}

.bff-background-color--lightest-blue{
	background-color:#B4E2F9;
}