// Unique styles not in the library

.bff-nav--open{
	width:200px;
	background-color:$frederick--color-green;
	color:$white;
}

.bff-header{
	background-color: $white;
	border-bottom:1px solid $gray-light;
	height: 2.5rem;
}

.bff-logo--frederick{
	color:$frederick--color-green;
}