<h1 class="bff-text-heading--x-large bff-p-top--x-large" id="button-group-anchor">Button Group</h1>

<div class="bff-button-group">
  <button class="bff-button"> Left </button>
  <button class="bff-button"> Middle </button>
  <button class="bff-button"> Right </button>
</div>

<pre class="bff-m-bottom--large"><code class="language-html">&lt;div class="bff-button-group">
  &lt;button class="bff-button"> Left &lt;/button>
  &lt;button class="bff-button"> Middle &lt;/button>
  &lt;button class="bff-button"> Right &lt;/button>
&lt;/div>
</code></pre>

<h2 class="bff-text-heading--default">Usage</h2>
<table class="bff-table bff-table--compact bff-table--bordered bff-table--cell-buffer bff-table--striped bff-size--1-of-1" id="table--button-group-documentation"></table>
