<h1 class="bff-text-heading--x-large bff-p-top--x-large" id="forms-anchor">Forms</h1>

<h2 class="bff-text-heading--default">Compound Form</h2>
<div class="example-container">
	<fieldset class="bff-form bff-form--compound">
	  <legend class="bff-form-element__label bff-text-title--caps">Address</legend>
    <div class="bff-form-element__row">
      <div class="bff-form-element bff-size--1-of-1">
        <label class="bff-form-element__label">Street</label>
        <input class="bff-input" type="text" />
      </div>
    </div>
    <div class="bff-form-element__row">
      <div class="bff-form-element bff-size--1-of-2">
        <label class="bff-form-element__label" >City</label>
        <input class="bff-input" type="text" />
      </div>
      <div class="bff-form-element bff-size--1-of-2">
        <label class="bff-form-element__label">State</label>
        <input class="bff-input" type="text" />
      </div>
    </div>
    <div class="bff-form-element__row">
      <div class="bff-form-element bff-size--1-of-2">
        <label class="bff-form-element__label">ZIP Code</label>
        <input class="bff-input" type="text" />
      </div>
    </div>
	</fieldset>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;fieldset class="bff-form bff-form--compound">
  &lt;legend class="bff-form-element__label bff-text-title--caps">Address&lt;/legend>
  &lt;div class="bff-form-element__row">
    &lt;div class="bff-form-element bff-size--1-of-1">
      &lt;label class="bff-form-element__label">Street&lt;/label>
      &lt;input class="bff-input" type="text" />
    &lt;/div>
  &lt;/div>
  &lt;div class="bff-form-element__row">
    &lt;div class="bff-form-element bff-size--1-of-2">
      &lt;label class="bff-form-element__label" >City&lt;/label>
      &lt;input class="bff-input" type="text" />
    &lt;/div>
    &lt;div class="bff-form-element bff-size--1-of-2">
      &lt;label class="bff-form-element__label">State&lt;/label>
      &lt;input class="bff-input" type="text" />
    &lt;/div>
  &lt;/div>
  &lt;div class="bff-form-element__row">
    &lt;div class="bff-form-element bff-size--1-of-2">
      &lt;label class="bff-form-element__label">ZIP Code&lt;/label>
      &lt;input class="bff-input" type="text" />
    &lt;/div>
  &lt;/div>
&lt;/fieldset>
</code></pre>

<h2 class="bff-text-heading--default">Inline Form</h2>
<div class="example-container">
	<form class="bff-form bff-form--inline">
	  <div class="bff-form-element">
	    <label class="bff-form-element__label">Name</label>
	    <div class="bff-form-element__control">
	      <input class="bff-input" type="text" />
	    </div>
	  </div>
	  <div class="bff-form-element">
	    <label class="bff-form-element__label">Email</label>
	    <div class="bff-form-element__control">
	      <input class="bff-input" type="text" />
	    </div>
	  </div>
	  <div class="bff-form-element">
	    <button type="button" class="bff-button bff-button--frederick">Send</button>
	  </div>
	</form>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;form class="bff-form--inline">
  &lt;div class="bff-form bff-form-element">
    &lt;label class="bff-form-element__label">Name&lt;/label>
    &lt;div class="bff-form-element__control">
      &lt;input class="bff-input" type="text" />
    &lt;/div>
  &lt;/div>
  &lt;div class="bff-form-element">
    &lt;label class="bff-form-element__label">Email&lt;/label>
    &lt;div class="bff-form-element__control">
      &lt;input class="bff-input" type="text" />
    &lt;/div>
  &lt;/div>
  &lt;div class="bff-form-element">
    &lt;button type="button" class="bff-button bff-button--frederick">Send&lt;/button>
  &lt;/div>
&lt;/form>
</code></pre>

<h2 class="bff-text-heading--default">Stacked Form</h2>
<div class="example-container">
	<div class="bff-form bff-form--stacked">
	  <div class="bff-form-element">
	    <label class="bff-form-element__label">Text Input</label>
	    <div class="bff-form-element__control">
	      <input class="bff-input" type="text" placeholder="Placeholder Text" />
	    </div>
	  </div>
	  <div class="bff-form-element">
	    <label class="bff-form-element__label">Textarea Label</label>
	    <div class="bff-form-element__control">
	      <textarea class="bff-textarea"></textarea>
	    </div>
	  </div>
	  <fieldset class="bff-form-element">
	    <legend class="bff-form-element__legend bff-form-element__label">Checkbox Group label</legend>
	    <div class="bff-form-element__control">
	      <label class="bff-checkbox" >
	        <input type="checkbox" />
	        <span class="bff-checkbox--faux"></span>
	        <span class="bff-form-element__label">Option 1</span>
	      </label>
	      <label class="bff-checkbox">
	        <input type="checkbox" />
	        <span class="bff-checkbox--faux"></span>
	        <span class="bff-form-element__label">Option 2</span>
	      </label>
	    </div>
	  </fieldset>
	  <fieldset class="bff-form-element">
	    <legend class="bff-form-element__legend bff-form-element__label">Radio Group label</legend>
	    <div class="bff-form-element__control">
	      <label class="bff-radio">
	        <input type="radio" name="horizontal-radio-1" checked />
	        <span class="bff-radio--faux"></span>
	        <span class="bff-form-element__label">Option 1</span>
	      </label>
	      <label class="bff-radio">
	        <input type="radio" name="horizontal-radio-1" />
	        <span class="bff-radio--faux"></span>
	        <span class="bff-form-element__label">Option 2</span>
	      </label>
	    </div>
	  </fieldset>
	  <div class="bff-form-element">
	  	<div class="bff-form-element__control">
				<button type="button" class="bff-button bff-button--frederick">Submit</button>
			</div>
	  </div>
	</div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;div class="bff-form bff-form--stacked">
  &lt;div class="bff-form-element">
    &lt;label class="bff-form-element__label">Text Input&lt;/label>
    &lt;div class="bff-form-element__control">
      &lt;input class="bff-input" type="text" placeholder="Placeholder Text" />
    &lt;/div>
  &lt;/div>
  &lt;div class="bff-form-element">
    &lt;label class="bff-form-element__label">Textarea Label&lt;/label>
    &lt;div class="bff-form-element__control">
      &lt;textarea class="bff-textarea">&lt;/textarea>
    &lt;/div>
  &lt;/div>
  &lt;fieldset class="bff-form-element">
    &lt;legend class="bff-form-element__legend bff-form-element__label">Checkbox Group label&lt;/legend>
    &lt;div class="bff-form-element__control">
      &lt;label class="bff-checkbox" >
        &lt;input type="checkbox" />
        &lt;span class="bff-checkbox--faux">&lt;/span>
        &lt;span class="bff-form-element__label">Option 1&lt;/span>
      &lt;/label>
      &lt;label class="bff-checkbox">
        &lt;input type="checkbox" />
        &lt;span class="bff-checkbox--faux">&lt;/span>
        &lt;span class="bff-form-element__label">Option 2&lt;/span>
      &lt;/label>
    &lt;/div>
  &lt;/fieldset>
  &lt;fieldset class="bff-form-element">
    &lt;legend class="bff-form-element__legend bff-form-element__label">Radio Group label&lt;/legend>
    &lt;div class="bff-form-element__control">
      &lt;label class="bff-radio">
        &lt;input type="radio" name="horizontal-radio-1" checked />
        &lt;span class="bff-radio--faux">&lt;/span>
        &lt;span class="bff-form-element__label">Option 1&lt;/span>
      &lt;/label>
      &lt;label class="bff-radio">
        &lt;input type="radio" name="horizontal-radio-1" />
        &lt;span class="bff-radio--faux">&lt;/span>
        &lt;span class="bff-form-element__label">Option 2&lt;/span>
      &lt;/label>
    &lt;/div>
  &lt;/fieldset>
  &lt;div class="bff-form-element">
  	&lt;div class="bff-form-element__control">
			&lt;button type="button" class="bff-button bff-button--frederick">Submit&lt;/button>
		&lt;/div>
  &lt;/div>
&lt;/div>
</code></pre>

<h2 class="bff-text-heading--default">Horizontal Form</h2>
<div class="example-container">
	<div class="bff-form bff-form--horizontal">
	  <div class="bff-form-element">
	    <label class="bff-form-element__label">Text Input</label>
	    <div class="bff-form-element__control">
	      <input class="bff-input" type="text" placeholder="Placeholder Text" />
	    </div>
	  </div>
	  <div class="bff-form-element">
	    <label class="bff-form-element__label">Textarea Label</label>
	    <div class="bff-form-element__control">
	      <textarea class="bff-textarea"></textarea>
	    </div>
	  </div>
	  <fieldset class="bff-form-element">
	    <legend class="bff-form-element__legend bff-form-element__label">Checkbox Group label</legend>
	    <div class="bff-form-element__control">
	      <label class="bff-checkbox" >
	        <input type="checkbox" />
	        <span class="bff-checkbox--faux"></span>
	        <span class="bff-form-element__label">Option 1</span>
	      </label>
	      <label class="bff-checkbox">
	        <input type="checkbox" />
	        <span class="bff-checkbox--faux"></span>
	        <span class="bff-form-element__label">Option 2</span>
	      </label>
	    </div>
	  </fieldset>
	  <fieldset class="bff-form-element">
	    <legend class="bff-form-element__legend bff-form-element__label">Radio Group label</legend>
	    <div class="bff-form-element__control">
	      <label class="bff-radio">
	        <input type="radio" name="horizontal-radio-2" checked />
	        <span class="bff-radio--faux"></span>
	        <span class="bff-form-element__label">Option 1</span>
	      </label>
	      <label class="bff-radio">
	        <input type="radio" name="horizontal-radio-2" />
	        <span class="bff-radio--faux"></span>
	        <span class="bff-form-element__label">Option 2</span>
	      </label>
	    </div>
	  </fieldset>
	  <div class="bff-form-element">
	  	<div class="bff-form-element__control">
				<button type="button" class="bff-button bff-button--frederick">Submit</button>
			</div>
	  </div>
	</div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;div class="bff-form bff-form--horizontal">
  &lt;div class="bff-form-element">
    &lt;label class="bff-form-element__label">Text Input&lt;/label>
    &lt;div class="bff-form-element__control">
      &lt;input class="bff-input" type="text" placeholder="Placeholder Text" />
    &lt;/div>
  &lt;/div>
  &lt;div class="bff-form-element">
    &lt;label class="bff-form-element__label">Textarea Label&lt;/label>
    &lt;div class="bff-form-element__control">
      &lt;textarea class="bff-textarea">&lt;/textarea>
    &lt;/div>
  &lt;/div>
  &lt;fieldset class="bff-form-element">
    &lt;legend class="bff-form-element__legend bff-form-element__label">Checkbox Group label&lt;/legend>
    &lt;div class="bff-form-element__control">
      &lt;label class="bff-checkbox" >
        &lt;input type="checkbox" />
        &lt;span class="bff-checkbox--faux">&lt;/span>
        &lt;span class="bff-form-element__label">Option 1&lt;/span>
      &lt;/label>
      &lt;label class="bff-checkbox">
        &lt;input type="checkbox" />
        &lt;span class="bff-checkbox--faux">&lt;/span>
        &lt;span class="bff-form-element__label">Option 2&lt;/span>
      &lt;/label>
    &lt;/div>
  &lt;/fieldset>
  &lt;fieldset class="bff-form-element">
    &lt;legend class="bff-form-element__legend bff-form-element__label">Radio Group label&lt;/legend>
    &lt;div class="bff-form-element__control">
      &lt;label class="bff-radio">
        &lt;input type="radio" name="horizontal-radio-2" checked />
        &lt;span class="bff-radio--faux">&lt;/span>
        &lt;span class="bff-form-element__label">Option 1&lt;/span>
      &lt;/label>
      &lt;label class="bff-radio" >
        &lt;input type="radio" name="horizontal-radio-2" />
        &lt;span class="bff-radio--faux">&lt;/span>
        &lt;span class="bff-form-element__label">Option 2&lt;/span>
      &lt;/label>
    &lt;/div>
  &lt;/fieldset>
  &lt;div class="bff-form-element">
  	&lt;div class="bff-form-element__control">
			&lt;button type="button" class="bff-button bff-button--frederick">Submit&lt;/button>
		&lt;/div>
  &lt;/div>
&lt;/div>
</code></pre>

<h2 class="bff-text-heading--default">Usage</h2>
<table class="bff-table bff-table--compact bff-table--bordered bff-table--cell-buffer bff-table--striped bff-size--1-of-1" id="table--forms-documentation"></table>
