<h1 class="bff-text-heading--x-large bff-p-top--x-large" id="notifications-anchor">Notifications</h1>

<h2 class="bff-text-heading--default">Notification - Banner</h2>
<div class="example-container">
	<div>Working Demo Coming Soon</div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;div class="bff-notify__container">
  &lt;div class="bff-notify">
    &lt;button class="bff-button bff-notify__close">
      &lt;span class="bff-icon--cross bff-icon--large">&lt;/span>
    &lt;/button>
    &lt;div class="bff-notify__content">
      &lt;h2 class="bff-text-body--default">Base Toast&lt;/h2> 
    &lt;/div>
  &lt;/div>
&lt;/div>
</code></pre>

<h2 class="bff-text-heading--default">Notification - Toast</h2>
<div class="example-container">
	<div>Working Demo Coming Soon</div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;div class="bff-notify__container">
  &lt;div class="bff-notify bff-notify--toast">
    &lt;button class="bff-button bff-notify__close">
      &lt;span class="bff-icon--cross bff-icon--large">&lt;/span>
    &lt;/button>
    &lt;div class="bff-notify__content">
      &lt;h2 class="bff-text-body--default">Base Toast&lt;/h2> 
    &lt;/div>
  &lt;/div>
&lt;/div>
</code></pre>

<h2 class="bff-text-heading--default">Usage</h2>
<table class="bff-table bff-table--compact bff-table--bordered bff-table--cell-buffer bff-table--striped bff-size--1-of-1" id="table--notifications-documentation"></table>
