<h1 class="bff-text-heading--x-large bff-p-top--x-large" id="step-wizard-anchor">Step - Wizard</h1>

<h2 class="bff-text-heading--default">Step - Wizard</h2>
<div class="example-container">
	<div class="bff-grid bff-nowrap bff-step-wizard">
		<div class="bff-col bff-size--1-of-1 bff-step-wizard__step bff-step-wizard__step--completed">
			<div class="bff-step-wizard__content bff-truncate">
				<h2 class="bff-step-wizard__title bff-truncate">Step 1</h2>
				<p class="bff-step-wizard__description bff-truncate">Description Line</p>
			</div>
		</div>
		<div class="bff-col bff-size--1-of-1 bff-step-wizard__step bff-step-wizard__step--selected">
			<div class="bff-step-wizard__content bff-truncate">
				<h2 class="bff-step-wizard__title bff-truncate">Step 2</h2>
				<p class="bff-step-wizard__description bff-truncate">Description Line</p>
			</div>
		</div>
		<div class="bff-col bff-size--1-of-1 bff-step-wizard__step">
			<div class="bff-step-wizard__content bff-truncate">
				<h2 class="bff-step-wizard__title bff-truncate">Step 3</h2>
				<p class="bff-step-wizard__description bff-truncate">Description Line</p>
			</div>
		</div>
		<div class="bff-col bff-size--1-of-1 bff-step-wizard__step">
			<div class="bff-step-wizard__content bff-truncate">
				<h2 class="bff-step-wizard__title bff-truncate">Step 4</h2>
				<p class="bff-step-wizard__description bff-truncate">Description Line</p>
			</div>
		</div>
	</div>
</div>
<pre class="bff-m-bottom--large"><code class="language-html">&lt;div class="bff-grid bff-nowrap bff-step-wizard">
	&lt;div class="bff-col bff-size--1-of-1 bff-step-wizard__step bff-step-wizard__step--completed">
		&lt;div class="bff-step-wizard__content bff-truncate">
			&lt;h2 class="bff-step-wizard__title bff-truncate">Step 1&lt;/h2>
			&lt;p class="bff-step-wizard__description bff-truncate">Description Line&lt;/p>
		&lt;/div>
	&lt;/div>
	&lt;div class="bff-col bff-size--1-of-1 bff-step-wizard__step bff-step-wizard__step--selected">
		&lt;div class="bff-step-wizard__content bff-truncate">
			&lt;h2 class="bff-step-wizard__title bff-truncate">Step 2&lt;/h2>
			&lt;p class="bff-step-wizard__description bff-truncate">Description Line&lt;/p>
		&lt;/div>
	&lt;/div>
	&lt;div class="bff-col bff-size--1-of-1 bff-step-wizard__step">
		&lt;div class="bff-step-wizard__content bff-truncate">
			&lt;h2 class="bff-step-wizard__title bff-truncate">Step 3&lt;/h2>
			&lt;p class="bff-step-wizard__description bff-truncate">Description Line&lt;/p>
		&lt;/div>
	&lt;/div>
	&lt;div class="bff-col bff-size--1-of-1 bff-step-wizard__step">
		&lt;div class="bff-step-wizard__content bff-truncate">
			&lt;h2 class="bff-step-wizard__title bff-truncate">Step 4&lt;/h2>
			&lt;p class="bff-step-wizard__description bff-truncate">Description Line&lt;/p>
		&lt;/div>
	&lt;/div>
&lt;/div>
</code></pre>

<h2 class="bff-text-heading--default">Usage</h2>
<table class="bff-table bff-table--compact bff-table--bordered bff-table--cell-buffer bff-table--striped bff-size--1-of-1" id="table--step-wizard-documentation"></table>
